<header class="l-user-header l-user-header--{{pessoa.role}}">
  <div class="row">
    <div class="col-xs-12">
      <div class="flex itens-start">
        <picture class="avatar avatar--lg">
          <img class="avatar__img" src="https://placedog.net/500" alt="{{pessoa.name}}">
        </picture>
        <div>
          <h2 class="title-1">{{pessoa.name}}</h2>
          <span class="block tt-u">{{pessoa.role}}</span>
        </div>
      </div>
    </div>

    <div class="col-xs-8 col-lg-9 col-xs-offset-4 col-lg-offset-3">
      <nav>
        <ul>
          <li>
            <button type="button" class="btn btn-primary" {{action 'goToAulas' on="click"}}> Ir para tela Aulas </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="two-col-wrap">
  {{#each tipos as |tipo|}}
    <button class="btn btn--as-filter {{if (equalstr selectedTipo tipo) 'btn--is-active'}}" {{action 'refreshSelectedTipo' tipo}} type="button">
      <span class="btn__label">{{tipo}}</span>
    </button>
  {{/each}}
</div>

<div>
    <h2>BUSCA</h2>
    {{input type="text" class="search" placeholder="Pesquisar Aula" value=search }} 
</div>


<div>
    <h2>TEMA</h2>
    <select name="tema" id="tema" onchange={{action 'refreshSelectedTema' value='target.value'}}>
    <option selected="selected" value="">---</option>
    {{#each temas as |tema|}}
        <option value="{{tema.id}}" selected={{if (equalstr tema.id selectedTema.id) "selected"}}>{{tema.name}}</option>
    {{/each}}
    </select>
</div>



{{#each conteudos as |conteudo|}}
  {{#if (containStr subStr = search mainStr = conteudo.titulo)}}
    {{#if (containStr subStr = selectedTipo mainStr = conteudo.tipo)}}
    {{selectedTema}}
      {{#if (equalstr selectedTema.name conteudo.tema.name)}}
        {{conteudo.titulo}}
          {{!-- {{#if (compareRole pessoa.role conteudo.publicos)}} --}}
          <label>Titulo: {{conteudo.titulo}} </label>
          <label>Vimeo Code: {{conteudo.videoUrl}} </label>
          <label>Tipo: {{conteudo.tipo}} </label>
      {{/if}}
    {{/if}}
  {{/if}}
{{/each}}


