

<div class="two-col-wrap">
  {{#each tipos as |tipo|}}
    <button class="btn btn--as-filter {{if (equalstr selectedTipo tipo) 'btn--is-active'}}" {{action 'refreshSelectedTipo' tipo}} type="button">
      <span class="btn__label">{{tipo}}</span>
    </button>
  {{/each}}
</div>

<div>
  <h2>BUSCA</h2>
  {{input type="text" class="search" placeholder="Pesquisar Conteúdo" value=search }}
</div>

<div>
  <h2>TEMA</h2>
  <select name="tema" id="tema" onchange={{action 'refreshSelectedTema' value='target.value'}}>
  <option selected="selected" value="">---</option>
  {{#each temas as |tema|}}
      <option value="{{tema}}" selected={{if (equalstr tema selectedTema) "selected"}}>{{tema}}</option>
  {{/each}}
  </select>
</div>



{{#each conteudos as |conteudo|}}
  {{#if (containStr subStr = search mainStr = conteudo.titulo)}}
    {{#if (equalstr selectedTipo conteudo.tipo)}}
      {{#if (equalstr selectedTema conteudo.tema.name)}}
        <label>Titulo: {{conteudo.titulo}} </label>
        <label>Vimeo Code: {{conteudo.videoUrl}} </label>
        <label>Tipo: {{conteudo.tipo}} </label>
      {{/if}}
    {{/if}}
  {{/if}}
{{/each}}


