<section class="flow-lg">
  <header class="flex flex-row items-baseline">
    <h1 class="title-1">Marketing</h1>
    <button class="btn btn--ghost btn--xxs m-left--sm" type="button" {{action "goToCreateItem"}}>Cadastrar item</button>
  </header>

  <ul class="l-card-list">
    {{#each model as |area|}}
      <li>
        <button class="media media--card media--as-button flow-xxs" {{action "goToMarketings" area.id}}>
          <picture class="media__picture">
            {{area.image}}
            {{!-- {{component (strconcat "icon-" area.image)}} --}}
          </picture>
          <span class="media__body flow-md">
            {{area.name}}
          </span>
        </button>
      </li>
    {{/each}}
  </ul>

</section>