<div class="flex flex-row  items-center justify-start">
  <div class="institutions__btn-group">
    <button class="btn btn--xxs btn--ghost" {{action 'userModal'}}>
        {{!-- <span class="btn__icon icon-plus"></span> --}}
        <span class="btn__label">Novo Usuário</span>
    </button>
    <button class="btn btn--xxs btn--ghost" {{action 'cadastroLote'}}>
      {{!-- <span class="btn__icon icon-users"></span> --}}
      <span class="btn__label">Cadastro e matrícula em lote</span>
    </button>
  </div>
</div>
<div class="l-dots-between">
  <header class="l-dots-between__side">
    <form class="flex flex-col flow-md" autocomplete="off" aria-autocomplete="none">
      <div class="form-group">
          <label class="form-group__label" for="search">Busca</label>
          {{input class="form-group__input"
                  aria-autocomplete="none"
                  aria-describedby="basic-addon1"
                  autocomplete="off"
                  id="search_input_pessoas_ger"
                  key-up="livesearch" type="text"}}
          <a class="form__aux-link" onclick={{action 'exitsearch'}}>Limpar busca</a>
        </div>

        {{!--
        OLD
        <div class="form-group">
          <span class="form-group__label">Ano</span>
          <div class="flex flex-col flow-xs">
          {{#each inst_selected.modulos as |mod|}}
            <span class="checkbox m-right--lg">
              <input class="checkbox__input" id="ano_{{mod.idx}}" name="year" type="checkbox" value="year{{mod.idx}}"
                {{action 'filterano' mod.idx on='change'}}>
              <label class="checkbox__label" for="ano_{{mod.idx}}">{{mod.name}}</label>
            </span>
          {{/each}}
          </div>
        </div>
        --}}

        <!-- não funcional -->
        <div class="form-group">
          <label class="form-group__label">Segmentos (não funcional)</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input"
                    name="year"
                    id="ano_selector">
              <option selected="selected" value="0">Todos</option>
              <option id="id_do_segmento" value="id_do_segmento">Nome do segmento</option>
            </select>
          </div>
        </div>

        <!-- não funcional -->
        <div class="form-group">
          <label class="form-group__label">Ano (não funcional)</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input"
                    name="year"
                    id="ano_selector"
                    {{action 'filterano' mod.idx on='change'}}>
              <option selected="selected" value="0">Todas</option>
              {{#each inst_selected.modulos as |mod|}}
                <option style="display: block" id="ano_{{mod.idx}}" value="year{{mod.idx}}">{{mod.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label">Turma</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input"
                    id="turma_selector"
                    {{action 'filterTurma' on='change'}}>
              <option selected="selected" value="0">Todas</option>
              {{#each inst_selected.turmas as |turma|}}
                <option style="display: block" id="opt_{{turma.id}}" value={{turma.id}}>{{turma.name}}</option>
              {{/each}}
            </select>
          </div>
        </div>



    </form>
  </header>
  <section class="l-dots-between__content flow-md">
    {{!--
    <hgroup>
      <h1 class="sr-only">Lista de aulas do {{selectedModuloName}} - {{selectedTurmaName}}
      </h1>
      <h2 class="title-4">
        <span>{{selectedModuloName}} - {{selectedTurmaName}}</span>
        <span class="fs--xs fw--3 fs-i color-blue-navy-20 m-left--xxs">(<span class="inline-flex m-right--xxs">{{totalPessoas}}</span>pessoas)</span>
      </h2>
    </hgroup>
    --}}
    <div class="flex flex-row items-end justify-between">
      {{#unless (equalstr totalPessoas '0')}}
        {{page-numbers content=pagedContent class="pagination--sm pagination--right"}}
      {{/unless}}

      <div class="form-group flex flex-row items-center">
        <label class="form-group__label" for="amount">Exibir</label>
        <div class="self-start">
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input form-group__input--amount"
                    id="amount"
                    name="order"
                    {{action 'setExibir' on='change'}}>
              <option value="5" selected={{paginationSelected.p5}}>5 resultados</option>
              <option value="10" selected={{paginationSelected.p10}}>10 resultados</option>
              <option value="25" selected={{paginationSelected.p25}}>25 resultados</option>
              <option value="50" selected={{paginationSelected.p50}}>50 resultados</option>
              <option value="100" selected={{paginationSelected.p100}}>100 resultados</option>
              <option value="500" selected={{paginationSelected.p500}}>500 resultados</option>
              <option value="1000" selected={{paginationSelected.p1000}}>1000 resultados</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="loader-local {{if (equalstr gerdataLoaderState 1) 'loader-local--is-show' ''}}">
      <div class="loader-local__loader">
        <span class="icon-reload icon--xl"></span>
        Buscando
      </div>
      <!-- ------------------------------------------------------- users list -->

      <table class="institutions__table table table--striped table--users">
        <!-- users list header -->
        <thead>
          <tr>
            <th class="table__name" scope="col">
              <div {{action 'setSort' 'name'}}>
                Nome
                {{#if (equalstr sortCol 'name')}}
                  <i class="{{if sortAsc 'fa fa-caret-down' 'fa fa-caret-up'}}" aria-hidden="true"></i>
                {{/if}}
              </div>
            </th>
            <th class="table__role"    scope="col">Perfil</th>
            <th class="table__enabled" scope="col">Hab<span class="hide-on--xs">ilitado</span></th>
            <th class="table__actions" scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          {{#each pessoas_sorted as |pessoa|}}
            <tr>
              <td class="table__name">
                <p><strong class="title-4">{{pessoa.name}}</strong></p>
                <p class='color-green-40'>{{pessoa.email}}</p>

              </td>
              <td class="table__role">
                <p class="">{{pessoa.role}}</p>
              </td>
              <td class="ta-c">
                <span class="icon--lg {{if pessoa.enabled 'icon-check icon--success' 'icon-x icon--error'}}"></span>
              </td>
              <td class="table__actions">
                {{#if (equalstr pessoa.role 'admin')}}
                {{else}}
                <button class="btn btn--text btn--xxs" {{action 'deletePessoa' pessoa.id}}>Remover</button>
                {{/if}}
                <button class="btn btn--ghost btn--xxs" {{action 'userModal' pessoa.id}}>Editar</button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>
</div>

{{!--
<section class="sections__section">
  <section class="sections__subsection report__section report-people" id="report-people-gersistema" style="display: block;">
    <div class="total-results">
      <span class="total-results__results">Total de <strong>{{totalPessoas}}</strong> pessoas</span>
    </div>

    <div class="flex flex-row items-center justify-between m-bottom--lg">
      <div {{action staticAlert 'close'}}></div>
    </div>
  </section>
</section>
--}}

<!-- -------------------------------------------------- administration users alert -->
<div class="alert-container">

  <!-- CONFIRMATION || LIST -->
  <div id="staticAlertUser" class="alert alert--x  alert--blue-navy-50 alert--has-interaction">

    <p class="alert__msg">
      {{#if alertTitle}}<strong class="m-right--xs">{{alertTitle}}</strong>{{/if}}
      {{#if staticTxt2}}<span>{{staticTxt2}}</span>{{/if}}
    </p>

    <p class="alert__msg">
      <!-- mail action -->
      {{#if selectedToMail}}
        {{#if mail_single_pessoa}}
          <strong>{{mail_single_pessoa.email}}</strong>
        {{/if}}
      {{/if}}

      <!-- delete user -->
      {{#if selectedToDelete}}
        <p>Você tem certeza que deseja apagar <span class="strong">{{confirm_entity.name}}</span>?</p>
      {{/if}}

      <!-- reset user progress -->
      {{#if selectedToReset}}
        <strong>{{new_user_name}}</strong>
      {{/if}}
    </p>

    <ul style="overflow:auto; max-height:60vh;">
      {{#each staticList as |item|}}
        <li class="p-v--xxs">{{item.email}}</li>
      {{/each}}
    </ul>

    <div class="alert__footer">
      <!-- check users list -->
      {{#if (equalstr staticType 'checklist')}}
        <button class="btn btn--xs btn--text" {{action staticAlert 'close'}}>Desmarcar todos</button>
        <button class="btn btn--xs" {{action 'emailAction'}}><span class="btn__icon icon-at-sign"></span>Enviar
          emails</button>
      {{/if}}
      <!-- -->
      <!-- send email(s) -->
      {{#if (equalstr staticType 'mail')}}
        <button class="btn btn--xs btn--text" {{action 'cancelarMail'}}>Cancelar</button>
        <button class="btn" type="submit" {{action 'sendMail'}}>Enviar email{{#if
        mail_single_pessoa}}
          {{else}}s{{/if}}</button>
      {{/if}}
      <!-- -->
      <!-- retry failed email -->
      {{#if (equalstr staticType 'failed')}}
        <button class="btn btn--xs btn--text" {{action 'cancelarMail'}}>Cancelar</button>
        <button class="btn" {{action 'sendMail'}}>Tentar Novamente</button>
      {{/if}}
      <!-- -->
      <!-- delete user -->
      {{#if (equalstr staticType 'delete')}}
        <button class="btn btn--xs btn--text" type="submit" {{action 'cancelDel'}}>Cancelar</button>
        <button class="btn" type="submit" {{action 'confirmDel' confirm_entity}}>Apagar</button>
      {{/if}}
      <!-- -->
      <!-- reset user progress -->
      {{!-- {{#if (equalstr staticType 'progress')}}
        <button class="btn btn--xxs"
                id="botao_reset_{{new_user_id}}"
                type="submit"
                {{action 'resetarProgressos' new_user_id}}>
          <span class="btn__label">Zerar Progressos</span>
        </button>
        <button class="btn"
                type="submit" {{action staticAlert 'close'}}>
                <span class="btn__label">Fechar</span>
        </button>
      {{/if}} --}}
      <!-- -->
    </div>
  </div>

  <!-- LOADING || SUCCESS || ERROR -->
  <div id="timeoutAlertUser" class="alert alert--x alert--blue-navy-50 alert--has-icon alert--no-interaction">
    {{#if (equalstr timeoutIcon 'load')}}<span class="alert__icon icon-reload icon--lg"></span>{{/if}}
    {{#if (equalstr timeoutIcon 'error')}}<span class="alert__icon icon-x icon--lg"></span>{{/if}}
    {{#if (equalstr timeoutIcon 'success')}}<span class="alert__icon icon-check icon--lg"></span>{{/if}}
    <div style="max-width: 80%;"><strong>{{timeoutTxt}}</strong></div>
  </div>

</div>












<aside id="userModal" class="modal">
  <div class="modal__overlayer"></div>
  <div class="modal__content">
    <header class="modal__header">
      <button class="modal__close btn-close icon-x" {{action 'closeUserModal'}} type="submit"></button>
      <h3 class="modal__title">
        {{#if new_user_name}}
          Edição do usuário <span class="m-left--xxs strong">{{new_user_name}}</span>
        {{else}}
          Cadastro de novo usuário
        {{/if}}
      </h3>
    </header>

    <div class="modal__body">

      <section class="flow-md">
        <h4 class="modal__subtitle">Informações básicas</h4>

        <div class="row">

          <div class="col-xs-12 col-sm-4">

            <div class="form-group w100">
              <label class="form-group__label" for="new_user_role">Perfil</label>
              <div class="form-group__wrapper form-group__wrapper--select">
                <select class="form-group__input" id="new_user_role" onchange={{action seAluno value="target.value"}}>
                  <option value="">Selecione...</option>
                  <option value="aluno" selected={{thisUserRole.aluno}}>Aluno</option>
                  <option value="instrutor" selected={{thisUserRole.instrutor}}>Professor</option>
                  <option value="coordenador" selected={{thisUserRole.coordenador}}>Coordenador</option>
                  <option value="gestor" selected={{thisUserRole.gestor}}>Gestor</option>
                  {{#if (equalstr new_user_role 'admin')}}
                    <option value="admin" selected={{thisUserRole.admin}}>Admin</option>
                  {{/if}}
                </select>
              </div>
            </div>

          </div>

        </div>

        <div class="row bottom-xs">

          <div class="col-xs-12 col-sm-4">
            <div class="form-group w100">
              <label class="form-group__label" for="new_user_name">Nome</label>
              <input class="form-group__input"
                    id="new_user_name"
                    type="textbox"
                    value={{new_user_name}}>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="form-group w100">
              <label class="form-group__label" for="new_user_email">E-mail</label>
              <input class="form-group__input"
                    id="new_user_email"
                    type="textbox"
                    value={{if new_user_email new_user_email}}>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="checkbox w100">
              <input class="checkbox__input"
                    id="new_user_enabled"
                    type="checkbox">
              <label class="checkbox__label" for="new_user_enabled">Habilitado</label>
            </div>
          </div>

        </div>

        {{#if (equalstr activeProfile "aluno")}}
          <div class="row">

            <div class="col-xs-12 col-sm-4 {{if (equalstr activeProfile "aluno") 'animated fadeInLeftShort faster d250'}}">
              <div class="form-group w100">
                <label class="form-group__label" for="new_user_subsc">Matrícula</label>
                <input class="form-group__input" type="textbox" id="new_user_subsc" value={{new_user_subsc}}>
              </div>
            </div>

            <div class="col-xs-12 col-sm-4 {{if (equalstr activeProfile "aluno") 'animated fadeInLeftShort faster d500'}}">
              <div class="form-group w100">
                <label class="form-group__label" for="new_user_gender">Sexo</label>
                <div class="form-group__wrapper form-group__wrapper--select">
                  <select class="form-group__input" id="new_user_gender">
                    <option value="notSelected" selected={{thisUserRole.gender}}>Selecione...</option>
                    <option value="feminino" selected={{thisUserRole.gender}}>Feminino</option>
                    <option value="masculino" selected={{thisUserRole.gender}}>Masculino</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-xs-12 col-sm-2 {{if (equalstr activeProfile "aluno") 'animated fadeInLeftShort faster d750'}}">
              <div class="form-group w100">
                <label class="form-group__label" for="new_user_birth">Nascimento</label>
                <input class="form-group__input"
                       id="new_user_birth"
                       maxlength="10"
                       name="date"
                       onkeyup="var v = this.value;
                              if (v.match(/^\d{2}$/) !== null) {
                                  this.value = v + '/';
                              } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                                  this.value = v + '/';
                              }"
                       type="textbox"
                       value={{new_user_birth}}>
                <div class="text-aux m-top--xxs">(dd/mm/aaaa)</div>
              </div>
            </div>

          </div>
        {{/if}}

      </section>



      <!-- ANOS SÓ É EXIBIDO PARA ALUNOS E INSTRUTORES -->
      {{#if (equalstr activeProfile "instrutor")}}
        <section class="flow-md {{if (equalstr activeProfile "aluno") 'animated fadeInLeftShort faster d1000'}}">
          <h4 class="modal__subtitle">Em quais séries dará aula?</h4>
          <span id="error_aplicador" class="form__msg form__msg--bellow form__msg--error" aria-live="polite"></span>
          <div class="row">

              {{!-- {{#each segmentos as |seg| }} --}}

              <div class="col-xs-12 col-lg-3 flow-sm">
                  {{!-- <h5 class="title-aux">{{seg.titulo}}</h5> --}}
                  <h5 class="title-aux">Título do segmento</h5>
                  {{!-- {{#each seg.plataformaAnos as |platAno|}}
                      {{#if (isinarray platAno pessoa.instituicao.plataformaAnos)}} --}}
                          <ul>
                              <li>
                                  <div class="checkbox">
                                      {{!-- <input class="j-validate-aplicador-child checkbox__input"
                                          checked={{if (isinarray platAno pessoa.plataformaAnos) "checked" ''}}
                                          id="plat_ano{{platAno.id}}"
                                          onchange={{action (action "selectAno" platAno) value='target.checked'}}
                                          type="checkbox">
                                      <label class="checkbox__label" for="plat_ano{{platAno.id}}">{{platAno.name}}</label> --}}
                                      <input class="j-validate-aplicador-child checkbox__input"
                                          checked
                                          id="plat_ano00000000"
                                          onchange=""
                                          type="checkbox">
                                      <label class="checkbox__label" for="plat_ano00000000">Nome da série</label>
                                  </div>
                              </li>
                          </ul>
                      {{!-- {{/if}}
                  {{/each}} --}}

              </div>

              {{!-- {{/each}} --}}

          </div>

          {{!-- <ul class="list list--striped">
            {{#if new_user_email}}
              <!-- edit user -->
              {{#each modulos_list as |mod|}}
                <li class=""
                  style="display:{{if (isinarray mod inst_selected.modulos) 'inherit' 'none'}}">
                  <img class="list__img list__img--auto-height border-1--gray-5"
                    src="{{if mod.coverImage mod.coverImage '/assets/img/online-course.png'}}">
                  <h3 class="list__name title-3">{{mod.name}}</h3>
                  <div class="m-top--xl w100">
                    <h4 class="title-4 m-bottom--xs">Turmas</h4>
                    <ul class="list list--3-col">
                      {{#each mod.turmas as |turma|}}
                        {{#if (isinarray turma inst_selected.turmas)}}
                        <li class="m-bottom--lg">
                          {{#if (isinarray turma pessoa_selected.turmas)}}
                            <span class="checkbox m-right--lg">
                              <input class="checkbox__input" id="ckb_new_p_{{turma.id}}"
                                name="{{turma.id}}" type="checkbox" value="{{turma.id}}" checked>
                              <label class="checkbox__label"
                                for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                            </span>
                          {{else}}
                            <span class="checkbox m-right--lg">
                              <input class="checkbox__input" id="ckb_new_p_{{turma.id}}"
                                name="{{turma.id}}" type="checkbox" value="{{turma.id}}">
                              <label class="checkbox__label"
                                for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                            </span>
                          {{/if}}
                        </li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>
                </li>
              {{/each}}
            {{else}}
              <!-- new user -->
              {{#each modulos_list as |mod|}}
                <li class=""
                  style="display:{{if (isinarray mod inst_selected.modulos) 'inherit' 'none'}}">
                  <img class="list__img list__img--auto-height border-1--gray-5"
                    src="{{if mod.coverImage mod.coverImage '/assets/img/online-course.png'}}">
                  <h3 class="list__name title-3">{{mod.name}}</h3>
                  <div class="m-top--xl w100">
                    <h4 class="title-4 m-bottom--xs">Turmas</h4>
                    <ul class="list list--3-col">
                      {{#each mod.turmas as |turma|}}
                        {{#if (isinarray turma inst_selected.turmas)}}
                        <li class="m-bottom--lg">
                          {{#if (isinarray turma pessoa_selected.turmas)}}
                            <span class="checkbox m-right--lg">
                              <input class="checkbox__input" id="ckb_new_p_{{turma.id}}"
                                name="{{turma.id}}" type="checkbox" value="{{turma.id}}" checked>
                              <label class="checkbox__label"
                                for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                            </span>
                          {{else}}
                            <span class="checkbox m-right--lg">
                              <input class="checkbox__input" id="ckb_new_p_{{turma.id}}"
                                name="{{turma.id}}" type="checkbox" value="{{turma.id}}">
                              <label class="checkbox__label"
                                for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                            </span>
                          {{/if}}
                        </li>
                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>
                </li>
              {{/each}}
            {{/if}}
          </ul> --}}

        </section>
      {{/if}}





      {{#if (equalstr activeProfile "aluno")}}
        <section class="flow-md {{if (equalstr activeProfile "aluno") 'animated fadeInLeftShort faster d1000'}}">
          <h4 class="modal__subtitle">Em qual série deve ser inscrito?</h4>
          <span id="error_aplicador" class="form__msg form__msg--bellow form__msg--error" aria-live="polite"></span>
          <div class="row">

              {{!-- {{#each segmentos as |seg| }} --}}

              <div class="col-xs-12 col-lg-3 flow-sm">
                  {{!-- <h5 class="title-aux">{{seg.titulo}}</h5> --}}
                  <h5 class="title-aux">Título do segmento</h5>
                  {{!-- {{#each seg.plataformaAnos as |platAno|}}
                      {{#if (isinarray platAno pessoa.instituicao.plataformaAnos)}} --}}
                          <ul>
                              <li>
                                  <div class="radio">
                                      {{!-- <input class="j-validate-aplicador-child radio__input"
                                          checked={{if (isinarray platAno pessoa.plataformaAnos) "checked" ''}}
                                          id="plat_ano{{platAno.id}}"
                                          onchange={{action (action "selectAno" platAno) value='target.checked'}}
                                          type="radio">
                                      <label class="radio__label" for="plat_ano{{platAno.id}}">{{platAno.name}}</label> --}}
                                      <input class="j-validate-aplicador-child radio__input"
                                          checked
                                          id="plat_ano00000000"
                                          onchange=""
                                          type="radio">
                                      <label class="radio__label" for="plat_ano00000000">Nome da série</label>
                                  </div>
                              </li>
                          </ul>
                      {{!-- {{/if}}
                  {{/each}} --}}

              </div>

              {{!-- {{/each}} --}}

          </div>
          {{!-- <h4 class="modal__subtitle">Anos</h4>
          <ul class="list list--striped">
            {{#if new_user_email}}
              <!-- edit user -->
              {{#each modulos_list as |mod|}}
                <li class=""
                    style="display:{{if (isinarray mod inst_selected.modulos) 'inherit' 'none'}}">

                  <div class="flex flex-col flow-md">
                    <h5 class="title-4">Turmas do {{mod.name}}</h5>

                    <ul class="flow-xs">
                      {{#each mod.turmas as |turma|}}
                        {{#if (isinarray turma inst_selected.turmas)}}

                          <li class="flow-xs">
                            {{#if (isinarray turma pessoa_selected.turmas)}}
                              <span class="radio">
                                <input class="radio__input" id="ckb_new_p_{{turma.id}}"
                                  name="{{mod.name}}_radio" type="radio" value="{{turma.id}}" {{action 'uncheckOthers' turma.id on="change"}} checked>

                                <label class="radio__label"
                                  for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                              </span>
                            {{else}}
                              <span class="radio">
                                <input class="radio__input" id="ckb_new_p_{{turma.id}}"
                                  name="{{mod.name}}_radio" type="radio" value="{{turma.id}}" {{action 'uncheckOthers' turma.id on="change"}}>
                                <label class="radio__label"
                                  for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                              </span>
                            {{/if}}
                          </li>

                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>

                </li>
              {{/each}}
            {{else}}
              <!-- new user -->
              {{#each modulos_list as |mod|}}
                <li class=""
                    style="display:{{if (isinarray mod inst_selected.modulos) 'inherit' 'none'}}">

                  <div class="flex flex-col flow-md">
                    <h5 class="title-4">Turmas do {{mod.name}}</h5>

                    <ul class="flow-xs">
                      {{#each mod.turmas as |turma|}}
                        {{#if (isinarray turma inst_selected.turmas)}}

                          <li class="flow-xs">
                            {{#if (isinarray turma pessoa_selected.turmas)}}
                              <span class="radio">
                                <input class="radio__input" id="ckb_new_p_{{turma.id}}"
                                  name="{{mod.name}}_radio" type="radio" value="{{turma.id}}" {{action 'uncheckOthers' turma.id on="change"}} checked>
                                <label class="radio__label"
                                  for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                              </span>
                            {{else}}
                              <span class="radio">
                                <input class="radio__input" id="ckb_new_p_{{turma.id}}"
                                  name="{{mod.name}}_radio" type="radio" value="{{turma.id}}" {{action 'uncheckOthers' turma.id on="change"}}>
                                <label class="radio__label"
                                  for="ckb_new_p_{{turma.id}}">{{turma.name}}</label>
                              </span>
                            {{/if}}
                          </li>

                        {{/if}}
                      {{/each}}
                    </ul>
                  </div>

                </li>
              {{/each}}
            {{/if}}
          </ul> --}}
        </section>
      {{/if}}


      <!-- se retirar esse select para de funcionar -->
      <section class="hidden">
        <select class="form-group__input" id="new_user_area">
          <option value="">Selecione...</option>
          {{#each inst_selected.areas as |area|}}
            {{#if (equalstr area.id new_user_area)}}
              <option value={{area.id}} selected>{{area.name}}</option>
            {{else}}
              <option value={{area.id}}>{{area.name}}</option>
            {{/if}}
          {{/each}}
        </select>
      </section>

      {{!-- {{#if new_user_email}}
        <section>
          <h4 class="modal__subtitle">Progresso</h4>
          <button class="btn btn--xxs"
                  type="submit"
                  {{action 'editProgressos' new_user_id}}>
            <span class="btn__label">Zerar progressos</span>
          </button>
        </section>
      {{/if}} --}}

    </div>
    <footer class="modal__footer">
      <button class="btn btn--text" type="submit" {{action 'closeUserModal'}}>Cancelar</button>
      {{#if new_user_id}}
        <button class="btn" type="submit" {{action 'userSave' new_user_id}}>Editar</button>
      {{else}}
        <button class="btn" type="submit" {{action 'userSave'}}>OK</button>
      {{/if}}
    </footer>
  </div>
</aside>

















<aside id="lote_modal" class="modal">
  <div class="modal__overlayer"></div>
  <div class="modal__content">
    <div class="modal__header">
      <button class="modal__close btn-close icon-x" type="submit" {{action 'cancelLote'}}></button>
      <h3 class="modal__title">Cadastro e Matrícula em Lote</h3>
    </div>
    <div class="modal__body modal__body--inside-scroll inside-scroll">
      <div class="inside-scroll__fixed">
        <p>Através da opção abaixo, busque o arquivo de carga em seu computador que contém as informações dos usuários
          a serem
          criados ou atualizados no sistema</p>
        <div class="institutions__mass-enroll institutions__btn-group flow-h-sm">
          <button class="btn btn-primary" type="submit" {{action 'baixarTemplate'}}>Baixar template</button>

          <label class="btn label_get_lote" for="get_lote">Buscar arquivo</label>
          <input id="get_lote" multiple="false" onchange={{action "buscarArquivo"}} accept="text/csv" type="file"
            style="display: none;" />

          {{#if selected_file}}
            <button class="btn btn-primary" type="submit" {{action 'importarLote'}}>Importar</button>
          {{else}}
            <button class="btn btn-primary btn--disabled" type="submit" disabled>Importar</button>
          {{/if}}

          <div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw" style="display: none" id="spinner-importar-lote"></i>
          </div>
        </div>
      </div>

      <div class="inside-scroll__scroll">
        <!-- {{#if selected_file}}
            <button class="btn btn-primary" type="submit" {{action 'importarLote'}}>Importar</button>
            {{else}}
            <button class="btn btn-primary btn--disabled" type="submit" disabled>
                Importar
            </button>
            {{/if}} -->
        {{#if selected_file}}
          <div class="institutions__attached-file alert alert--sm alert--has-icon">
            <span class="alert__icon icon-paperclip"></span>
            <span class="institutions__attached-label">Arquivo selecionado: </span>
            <strong>{{selected_file}}</strong>
          </div>
        {{/if}}
        {{#if error_lote}}
          <p>1- {{error_lote}}</p>
        {{/if}}
        {{#if wait_lote}}
          <p>Um momento...</p>
        {{else if erro_lista}}
          <p>2- {{erro_lista}}</p>
        {{else}}
          <table class="table table--striped table--mass-enroll">
            <thead class="thead-dark">
              <tr>
                <th class="table__enroller" scope="col">Cadastrador</th>
                <th class="table__file" scope="col">Arquivo</th>
                <th class="table__import" scope="col">Importação</th>
                <th class="table__status" scope="col">Status</th>
                <th class="table__users" scope="col">Usuários</th>
                <th class="table__processed" scope="col">Processados</th>
                <th class="table__not-processed" scope="col">Não Processados</th>
                <th class="table__log" scope="col">Log</th>
              </tr>
            </thead>
            <tbody class="gersistema-user-list-box">
              {{#each lista_lote as |lista|}}
                <tr>
                  <td class="table__enroller">
                    {{lista.pessoaNome}}
                  </td>
                  <td class="table__file">{{lista.nomeArquivo}}</td>
                  <td class="table__import">{{lista.data}}</td>
                  <td class="table__status">{{lista.status}}</td>
                  <td class="table__users">{{lista.quantidadeDeUsuarios}}</td>
                  <td class="table__processed">{{lista.usuariosProcessados}}</td>
                  <td class="table__not-processed">{{lista.usuariosNaoProcessados}}</td>
                  <td class="table__log">
                    {{#if lista.link}}
                      <a href={{lista.link}}>
                        <i class="icon-file-text"></i>
                      </a>
                    {{else}}
                      <i class="fa fa-times-o"></i>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="modal__footer">
    <button class="btn btn-primary" type="submit" {{action 'cancelLote'}}>Fechar</button>
  </div>
</aside>