{{header-geral  
  pessoa=pessoa
  toggleRole=this.parentController.toggleRole
  selectedSegmento=selectedSegmento
  selectedAno=selectedAno
  segmentos=segmentos
  thisRoute=thisRoute
  Ano=Ano
  togglerole=(action 'toggleRole')
  }}

<div class="flow-xl">
  <div class="l-dots-between">
    <header class="l-dots-between__side">
      <form autocomplete="off" class="flex flex-col flow-md" >
        <div class="two-col-wrap">
          {{#each tipos as |tipo|}}
            <button class="btn btn--as-filter {{if (equalstr selectedTipo tipo) 'btn--is-active'}}" {{action 'refreshSelectedTipo' tipo}} type="button">
              <span class="btn__label">{{tipo}}</span>
            </button>
          {{/each}}
        </div>
        <div class="form-group">
          <label class="form-group__label" for="search">Busca</label>
          {{input class="form-group__input" id="search" type="text" value=search change=search key-down=(action 'animateCardList')}}
          <a class="form__aux-link" onclick={{action 'eraseText'}}>Limpar busca</a>
        </div>
        <div class="form-group">
          <label class="form-group__label" for="tema">Tema</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" name="tema" id="tema" onchange={{action 'refreshSelectedTema' value='target.value'}}>
              <option selected="selected" value="">---</option>
              {{#each temas as |tema|}}
                  <option value="{{tema}}" selected={{if (equalstr tema selectedTema) "selected"}}>{{tema}}</option>
              {{/each}}
            </select>
          </div>
        </div>

        <div class="flex flex-col flow-xs">
          <h3 class="title-aux">Público</h3>
          <div class="checkbox">
            <input class="checkbox__input" id="alunos-content" type="checkbox">
            <label class="checkbox__label" for="alunos-content">Alunos</label>
          </div>
          <div class="checkbox">
            <input class="checkbox__input" id="responsaveis-content" type="checkbox">
            <label class="checkbox__label" for="responsaveis-content">Responsáveis</label>
          </div>
          <div class="checkbox">
            <input class="checkbox__input" id="professor-content" type="checkbox">
            <label class="checkbox__label" for="professor-content">Professores</label>
          </div>
        </div>

      </form>
    </header>

    <section class="l-dots-between__content">
      <h3 class="sr-only">Lista de conteúdos</h3>
      <ul id="card-list-{{selectedDependente.id}}" class="l-card-list animated slow">
        {{#each conteudos as |conteudo|}}
          {{#if (containStr subStr = search mainStr = conteudo.titulo)}}
            {{plataforma-biblioteca-card conteudo=conteudo}}
          {{/if}}
        {{/each}}
      </ul>
    </section>
  </div>
</div>








