{{header-geral
  parentController = this.parentController
  pessoa=this.parentController.selectedDependente
  thisRoute=thisRoute
  Ano=Ano
  togglerole=(action "toggleRole")
  showToggle=showToggle
  activeAula=activeAula
  }}

<div class="flow-md">
    <button class="btn btn--link color-blue-navy-60" {{action "voltar"}}>
      <span class="btn__icon icon-chevron-left"></span>
      <span class="btn__label">Voltar</span>
    </button>

    <section class="l-dots-between l-dots-between--is-flipped">
      <header class="l-dots-between__side">
        <div class="flow-xl">
          <section class="flow-xs">
            <h4 class="title-4">Tarefa</h4>
            <div class="checkbox">
              <input class="checkbox__input" id="checkbox-tarefa" type="checkbox" checked={{if tarefa.realizado "checked"}} onchange={{action "refreshTarefa"}}>
              <label class="checkbox__label" for="checkbox-tarefa">Realizei a tarefa</label>
            </div>
          </section>

          <section class="flow-xs">
            <h4 class="title-4">Sua avaliação da Aula</h4>
            <div class="rating" id="rating">
              <input  class="rating__input"
                      id="rating-10"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 10) "checked"}}
                      onchange={{ action "avaliar" 10 }}>
              <label  class="rating__label"
                      for="rating-10"></label>
              <input  class="rating__input"
                      id="rating-9"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 9) "checked"}}
                      onchange={{ action "avaliar" 9 }}>
              <label  class="rating__label"
                      for="rating-9"></label>
              <input  class="rating__input"
                      id="rating-8"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 8) "checked"}}
                      onchange={{ action "avaliar" 8 }}>
              <label  class="rating__label"
                      for="rating-8"></label>
              <input  class="rating__input"
                      id="rating-7"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 7) "checked"}}
                      onchange={{ action "avaliar" 7 }}>
              <label  class="rating__label"
                      for="rating-7"></label>
              <input  class="rating__input"
                      id="rating-6"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 6) "checked"}}
                      onchange={{ action "avaliar" 6 }}>
              <label  class="rating__label"
                      for="rating-6"></label>
              <input  class="rating__input"
                      id="rating-5"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 5) "checked"}}
                      onchange={{ action "avaliar" 5 }}>
              <label  class="rating__label"
                      for="rating-5"></label>
              <input  class="rating__input"
                      id="rating-4"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 4) "checked"}}
                      onchange={{ action "avaliar" 4 }}>
              <label  class="rating__label"
                      for="rating-4"></label>
              <input  class="rating__input"
                      id="rating-3"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 3) "checked"}}
                      onchange={{ action "avaliar" 3 }}>
              <label  class="rating__label"
                      for="rating-3"></label>
              <input  class="rating__input"
                      id="rating-2"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 2) "checked"}}
                      onchange={{ action "avaliar" 2 }}>
              <label  class="rating__label"
                      for="rating-2"></label>
              <input  class="rating__input"
                      id="rating-1"
                      type="radio"
                      name="radio-avaliacao"
                      checked={{if (equalstr avaliacao.nota 1) "checked"}}
                      onchange={{ action "avaliar" 1 }}>
              <label  class="rating__label"
                      for="rating-1"></label>
            </div>
          </section>

          <section class="flow-xs">
            <header class="flex flex-row justify-between">
                <h4 class="title-4">Anotações</h4>
                {{#unless newAnotacao}}
                    <button class="btn btn--link color-leaf-50" id="header-indicadores" {{action "toggleCreateAnotacao"}}>
                        <span class="btn__label">Nova anotação</span>
                    </button>
                {{/unless}}
            </header>
            <div class="flow-lg">
                {{#if newAnotacao}}
                    <div class="flow-xs animated fadeIn fast">
                        <div class="grow-wrap">
                            <textarea   class="w100"
                                        placeholder="Comece a digitar"
                                        autofocus
                                        id="nova-anotacao"
                                        required
                                        rows="5"
                                        wrap
                                        oninput="this.parentNode.dataset.replicatedValue = this.value"></textarea>
                        </div>

                        <button class="btn btn--ghost btn--xxs" id="header-indicadores" {{action "createAnotacao"}}>
                            <span class="btn__label">Adicionar</span>
                        </button>
                    </div>
                {{/if}}

              {{#if (equalstr anotacoes.length "0")}}
                {{#unless newAnotacao}}
                  <div class="empty p--md">
                    <p class="empty__msg fs--xs">Você ainda não criou anotações.</p>
                  </div>
                {{/unless}}
              {{else}}
                <ul class="flow-lg">
                  {{#each sortedAnnotations as |anotacao|}}
                    <li>
                      {{anotacao-card
                        anotacao=anotacao
                        deleteAnotacao=(action "deleteAnotacao")}}
                    </li>
                  {{/each}}
                </ul>
              {{/if}}

              {{!-- {{#unless newAnotacao}}
                <button class="btn btn--ghost btn--xxs" id="header-indicadores" {{action "toggleCreateAnotacao"}}>
                  <span class="btn__label">Nova anotação</span>
                </button>
              {{else}}
                <div class="flow-lg">
                  <textarea class="w100"
                            autofocus
                            id="nova-anotacao"
                            required
                            rows="5"
                            wrap></textarea>
                  <button class="btn btn--ghost btn--xxs" id="header-indicadores" {{action "createAnotacao"}}>
                    <span class="btn__label">Adicionar anotação</span>
                  </button>
                </div>
              {{/unless}} --}}
            </div>
          </section>
        </div>
      </header>

      <section class="l-dots-between__content flow-lg">
        <header class="flex flex-row items-baseline">
          <h1 class="title-1">{{aula.titulo}}</h1>
          <span class="fs--md fs-i color-gray-50 m-left--sm">{{aula.plataformaAno.segmento.titulo}} | {{aula.plataformaAno.name}}</span>
          {{!--
          <button class="btn btn--text">Escolher outra aula</button>
          <select name="aulas" id="aulas" onchange={{action "refreshSelectedAula" value="target.value"}}>
            {{#each todasAulas as |a|}}
              <option value="{{a.id}}" selected={{if (equalstr aula.id a.id) "selected"}}>{{a.plataformaAno.name}} | {{a.titulo}}</option>
            {{/each}}
          </select>
          --}}

        </header>
        <section>
            <h2 class="sr-only">Informações da aula</h2>
            <ul class="flow-sm">
            {{#if aula.competencias}}
                <li>
                <div class="flex flex-row items-center">
                    <span class="flex flex-row items-center">
                    {{icon-competencias}}
                    <span class="m-left--xs">Competências:</span>
                    </span>
                    <span class="m-left--xs">
                    {{#each aula.competencias as |comp|}}
                        <span class="capsule capsule--xxs capsule--{{comp.dominio.dominioFormatIdx}}">{{comp.name}}</span>
                    {{/each}}
                    </span>
                </div>
                </li>
            {{/if}}

            {{#if (equalstr toggleRole "instrutor")}}
              <li>
              <div class="flex flex-row items-center">
                  <span class="flex flex-row items-center">
                  {{icon-prevista-para}}
                  <span class="m-left--xs">Mês limite sugerido para aplicação:</span>
                  <span class="m-left--xs fw--5">
                      {{aula.mesFimPrevistoFormat}}
                  </span>
                  </span>
              </div>
              </li>
              <li id="aplicacaoAula">
                  {{content-aplicacao pessoa=this.parentController.selectedDependente aula=aula TurmasAplicadas=TurmasAplicadas UltimaAplicacao=UltimaAplicacao}}
              </li>
            {{/if}}
            </ul>
        </section>
        <section>
            <h2 class="title-2 m-bottom--xxs hide-on--sm">Contéudos</h2>
            <ul class="tabs">
            <li>
                <button class="tabs__tab {{if (equalstr selectedAgrupamento "Básico") "tabs__tab--is-active"}}"
                        type="button"
                        {{action "refreshSelectedAgrupamento" "Básico"}}>
                <span class="hide-on--sm">Básicos</span>
                <span class="hide-on--xs">Conteúdos básicos</span>
                </button>
            </li>
            <li>
                <button class="tabs__tab {{if (equalstr selectedAgrupamento "Complementar") "tabs__tab--is-active"}}"
                        type="button"
                        {{action "refreshSelectedAgrupamento" "Complementar"}}>
                <span class="hide-on--sm">Complementares</span>
                <span class="hide-on--xs">Conteúdos complementares</span>
                </button>
            </li>
            {{#if aula.atividade}}
                <li>
                <button class="tabs__tab {{if (equalstr selectedAgrupamento "Ead") "tabs__tab--is-active"}}"
                        type="button"
                        {{action "refreshSelectedAgrupamento" "Ead"}}>
                    <span>EAD</span>
                </button>
                </li>
            {{/if}}
            </ul>
        </section>

        <ul class="list list--striped">

            {{#each conteudos as |conteudo|}}
                <li>
                    {{content-conteudo-card     conteudo=conteudo
                                                selectedAgrupamento=selectedAgrupamento
                                                toggleModal=(action "toggleModal")}}
                </li>
            {{/each}}

            {{#if (equalstr selectedAgrupamento "Ead")}}
                {{#each aula.atividade.secoes as |secao|}}
                    <li>
                        {{secao-card    secao=secao
                                        toggleModalEad=(action "toggleModalEad")}}
                    </li>
                {{/each}}
            {{/if}}

        </ul>

      </section>

    </section>

</div>


<!-- Modal de visualizar o conteudo -->
<aside id="content-modal" class="modal modal--is-content animated fadeIn faster">

  <div class="modal__content">

    <div class="modal__body">
      <button class="modal__close btn-close icon-x" type="button" {{action "closeConteudoModal"}}></button>
      {{#if selectedConteudo}}
        <div class="flow-sm" id="vimeoVideo">
          {{plataforma-conteudo-video-player conteudo=selectedConteudo pessoa=this.parentController.selectedDependente stopVideo=stopVideo}}
          <p class="ta-c title-4 color-gray-20">{{selectedConteudo.titulo}}</p>
        </div>
      {{/if}}
    </div>

  </div>

  <div class="modal__overlayer"></div>

</aside>

<aside id="content-modal-ead" class="modal modal--is-content animated fadeIn faster">

  <div class="modal__content">

    <div class="modal__body">
      <button class="modal__close btn-close icon-x" type="button" {{action "closeConteudoModalEad"}}></button>
      {{#if videoId}}
        <div class="flow-sm">

          <div class="video">
            {{ead-video-player videoId=videoId stopVideo=stopVideo}}
          </div>

          <p class="ta-c title-4 color-gray-20">{{videoName}}</p>

          <!-- # BUG -->
          {{!-- {{#if selectedConteudo.titulo}} --}}
            {{!-- <p class="ta-c text-aux color-gray-20">{{aula.atividade.secoes[videoId].name}}</p> --}}
          {{!-- {{/if}} --}}
        </div>
      {{/if}}
    </div>

  </div>

  <div class="modal__overlayer"></div>

</aside>