{{header-geral
  pessoa=selectedDependente
  toggleRole=this.parentController.toggleRole
  selectedSegmento=selectedSegmento
  selectedAno=selectedAno
  segmentos=this.parentController.segmentos
  thisRoute=thisRoute
  Ano=Ano
  togglerole=(action 'toggleRole')
  }}

<div class="flow-md">
    <button class="btn btn--text" {{action 'voltar'}}>
      <span class="btn__icon icon-arrow-left"></span>
      <span class="btn__label">Voltar</span>
    </button>

    <section class="l-dots-between l-dots-between--is-flipped">
      <header class="l-dots-between__side">
        <h1>Tarefas</h1>
        <p>Illo unde assumenda blanditiis, veritatis beatae provident porro in. Necessitatibus optio iure minima officia laudantium.</p>
      </header>

      <section class="l-dots-between__content flow-lg">
        <header class="flex flex-row items-baseline">
          <h1 class="title-1">{{aula.titulo}}</h1>
          <span class="fs--md fs-i color-gray-50 m-left--sm">{{aula.plataformaAno.segmento.titulo}} | {{aula.plataformaAno.name}}</span>
          {{!--
          <button class="btn btn--text">Escolher outra aula</button>
          <select name="aulas" id="aulas" onchange={{action 'refreshSelectedAula' value='target.value'}}>
            {{#each selectedDependente.plataformaAnos as |ano|}}
              {{#each ano.aulas as |a|}}
                <option value="{{a.id}}" selected={{if (equalstr aula.id a.id) "selected"}}>{{ano.name}} | {{a.titulo}}</option>
              {{/each}}
            {{/each}}
          </select>
          --}}
        </header>
        <ul class="flow-sm">
          <li>           
            <div class="flex flex-row items-center">
              <span class="flex flex-row items-center">
                {{icon-competencias}}
                <span class="m-left--xs">Competências:</span>
              </span>
              <span class="m-left--xs">
                {{#each aula.competencias as |comp|}}
                  <span class="capsule capsule--xxs capsule--{{comp.dominio.dominioFormatIdx}}">{{comp.name}}</span>
                {{/each}}
              </span>
            </div>
          </li>

          {{#if (equalstr toggleRole 'instrutor')}}
            <li>
              <div class="flex flex-row items-center">
                <span class="flex flex-row items-center">
                  {{icon-prevista-para}}
                  <span class="m-left--xs">Periodo previsto da aplicação:</span>
                  <span class="m-left--xs fw--5">
                    {{aula.dataInicioPrevistaFormat}} | {{aula.dataFimPrevistaFormat}}
                  </span>
                </span>
              </div>
            </li>
          {{/if}}

          <li id="aplicacaoAula">
            {{content-aplicacao pessoa=selectedDependente aula=aula TurmasAplicadas=TurmasAplicadas UltimaAplicacao=UltimaAplicacao}}
          </li>
        </ul>

        <ul class="tabs">
          <li>
            <button class="tabs__tab {{if (equalstr selectedAgrupamento 'Básico') 'tabs__tab--is-active'}}"
                    type="button"
                    {{action 'refreshSelectedAgrupamento' 'Básico'}}>
              <span>Conteúdos básicos</span>
            </button>
          </li>
          <li>
            <button class="tabs__tab {{if (equalstr selectedAgrupamento 'Complementar') 'tabs__tab--is-active'}}"
                    type="button"
                    {{action 'refreshSelectedAgrupamento' 'Complementar'}}>
              <span>Conteúdos complementares</span>
            </button>
          </li>
        </ul>

        <div>
          {{#each conteudos as |conteudo|}}
            {{content-conteudo-card conteudo=conteudo}}
          {{/each}}
        </div>

      </section>

    </section>

</div>