<a href="#" {{action 'voltar'}}>
    <span>Voltar</span>
</a>

<h1>{{aula.titulo}}</h1> {{aula.plataformaAno.segmento.titulo}} | {{aula.plataformaAno.name}}

<h2>Escolher outra aula</h2>
<select name="aulas" id="aulas" onchange={{action 'refreshSelectedAula' value='target.value'}}>
{{#each pessoa.plataformaAnos as |ano|}}
    {{#each ano.aulas as |a|}}
        <option value="{{a.id}}" selected={{if (equalstr aula.id a.id) "selected"}}>{{ano.name}} | {{a.titulo}}</option>
    {{/each}}
{{/each}}
</select>

{{#if (equalstr pessoa.plataformaAnos.firstObject.id aula.plataformaAno.id)}}
    Periodo previsto da aplicação: {{aula.dataInicioPrevistaFormat}} | {{aula.dataFimPrevistaFormat}}
{{/if}}

<div class="row" id="aplicacaoAula">
    {{content-aplicacao pessoa=pessoa aula=aula TurmasAplicadas=TurmasAplicadas UltimaAplicacao=UltimaAplicacao}}
</div>

<div>
    {{#each aula.plataformaConteudos as |conteudo|}}
        <h1>{{conteudo.titulo}}</h1>
    {{/each}}
</div>
