<!-- Header geral -->
<header class="l-user-header l-user-header--themed l-user-header--{{if (equalstr selectedDependente.role 'aluno') selectedDependente.role toggleRole}}">
  <div class="flex itens-start gap-lg">
    <picture class="l-user-header__avatar avatar avatar--lg">
      {{#if selectedDependente.uriAvatar}}
        <img class="avatar__img" src={{selectedDependente.uriAvatar}} alt="{{selectedDependente.name}}">
      {{else}}
        <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{selectedDependente.name}}">
      {{/if}}
    </picture>
    <div class="flex-auto flow-xs">
      <div class="flex flex-row flex-wrap items-baseline gap-xs">
        <h2 class="title-1">{{firstnameoremailpart selectedDependente.name}}</h2>
        {{#if (equalstr pessoa.role 'aluno')}}
          <button class="btn btn--link m-bottom--xxs m-top--auto">
            <span class="btn__label" {{action 'invalidateSession'}}>Não é você? Faça logout</span>
          </button>
        {{/if}}
      </div>
      <span class="l-user-header__role title-aux">
        {{#if (equalstr selectedDependente.role 'aluno')}}
          {{selectedDependente.plataformaAnos.firstObject.segmento.titulo}} - {{selectedDependente.plataformaAnos.firstObject.name}}  
        {{else}}
          
          {{#if (equalstr toggleRole 'instrutor')}} 
            Professor{{#if (equalstr pessoa.genero 'feminino')}}a{{/if}} aplicador{{#if (equalstr pessoa.genero 'feminino')}}a{{/if}}
            {{#if (isbigger segmentos.length "1")}}
              dos segmentos 
               {{#each segmentos as |seg index|}}
                  <span class="fs-i">{{seg}}</span> 
                   {{#if (equalstr index (sub segmentos.length 2))}} e 
                   {{else}} 
                    {{#if (equalstr index (sub segmentos.length 1))}}
                    {{else}},
                   {{/if}} 
                   {{/if}}
               {{/each}} 
             {{else}}
              do
              {{#each segmentos as |seg|}}
                <span class="fs-i">{{seg}}</span> 
               {{/each}}
            {{/if}}

          {{else}} 
            {{toggleRole}}
          {{/if}}
          
        {{/if}}
      </span>

      {{#if (equalstr toggleRole 'instrutor')}}
        {{#if pessoa.dependentes}}
          {{#if (equalstr toggleRole 'instrutor')}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'responsavel'}}>
              <span class="btn__label">Visualizar como responsável</span>
            </button>
          {{else}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'instrutor'}}>
              <span class="btn__label">Visualizar como professor</span>
            </button>
          {{/if}}
        {{/if}}
      {{/if}}

      <nav>
        <ul class="tabs tabs--full-background">
          <li>
            <button class="tabs__tab {{if (equalstr thisRoute 'aulas') 'tabs__tab--is-active'}}" type="button" {{action 'goToAulas' on="click"}}>
              <span>Aulas</span>
            </button>
          </li>
          <li>
            <button class="tabs__tab {{if (equalstr thisRoute 'plataformabiblioteca') 'tabs__tab--is-active'}}" type="button" {{action 'goToBiblioteca' on="click"}}>
              <span>Biblioteca</span>
            </button>
          </li>

          {{#if selectedDependente.plataformaAnos.firstObject.urlLivro}}
            <li>
              <a class="tabs__tab" href="{{selectedDependente.plataformaAnos.firstObject.urlLivro}}" target="_blank" rel="nofollow noopener noreferrer">
                <span>Livro (PDF) {{selectedDependente.plataformaAnos.firstObject.name}}</span>
              </a>
            </li>
          {{/if}}

        </ul>

      </nav>
    </div>
  </div>
</header>

<div class="flow-xl">
    <button class="btn btn--text" {{action 'voltar'}}>
        <span class="btn__icon icon-arrow-left"></span>
        <span class="btn__label">Voltar</span>
    </button>

    <section class="l-dots-between l-dots-between--is-flipped">
      <header class="l-dots-between__side">
        <h1>Tarefas</h1>
        <p>Illo unde assumenda blanditiis, veritatis beatae provident porro in. Necessitatibus optio iure minima officia laudantium.</p>
      </header>

      <section class="l-dots-between__content">
        <header class="flex flex-row items-baseline">
          <h1 class="title-1">{{aula.titulo}}</h1>
          <span class="d-b fs--md fs-i color-gray-30 m-left--sm">{{aula.plataformaAno.segmento.titulo}} | {{aula.plataformaAno.name}}</span>
          <button class="btn btn--text">Escolher outra aula</button>
          <select name="aulas" id="aulas" onchange={{action 'refreshSelectedAula' value='target.value'}}>
            {{#each selectedDependente.plataformaAnos as |ano|}}
              {{#each ano.aulas as |a|}}
                <option value="{{a.id}}" selected={{if (equalstr aula.id a.id) "selected"}}>{{ano.name}} | {{a.titulo}}</option>
              {{/each}}
            {{/each}}
          </select>
        </header>
        <ul>
          <li>
            <span>Ícone</span><span>Competências:</span>
            <span>
              <span class="capsule capsule--xxs">Curiosidade</span>
              <span class="capsule capsule--xxs">Imaginação criativa</span>
              <span class="capsule capsule--xxs">Confiança</span>
            </span>
          </li>
          {{#if (equalstr toggleRole 'instrutor')}}
            <li>
              <span>Ícone</span><span>Periodo previsto da aplicação:</span>
              <span>{{aula.dataInicioPrevistaFormat}} | {{aula.dataFimPrevistaFormat}}</span>
            </li>
          {{/if}}
        </ul>

        <div class="row" id="aplicacaoAula">
          {{content-aplicacao pessoa=selectedDependente aula=aula TurmasAplicadas=TurmasAplicadas UltimaAplicacao=UltimaAplicacao}}
        </div>

        <li>
          <button type="button" class="tabs__tab {{if (equalstr selectedAgrupamento 'Básico') 'tabs__tab--is-active'}}" {{action 'refreshSelectedAgrupamento' 'Básico'}}>
            <span>Conteúdos básicos</span>
          </button>
          <button type="button" class="tabs__tab {{if (equalstr selectedAgrupamento 'Complementar') 'tabs__tab--is-active'}}" {{action 'refreshSelectedAgrupamento' 'Complementar'}}>
            <span>Conteúdos complementares</span>
          </button>
        </li>
        <div>
          {{#each conteudos as |conteudo|}}
            {{content-conteudo-card conteudo=conteudo selectedAgrupamento=selectedAgrupamento}}
          {{/each}}
        </div>
      </section>
    </section>


</div>