{{#if (equalstr pessoa.role "aluno")}}

<p>{{pessoa.name}}</p>
<p>{{segmento.titulo}}</p>
<p>{{plataformaAno.name}}</p>
<p><a href="{{plataformaAno.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>

<ul>
  {{#each plataformaAno.aulas as |aula|}}
      {{aula-card transit=(action 'goToAula') aula=aula aulaDestaque=aulaDestaque}}
  {{/each}}
</ul>

{{else if (equalstr pessoa.role "responsavel")}}

<h2>Nome Responsável:</h2>
{{pessoa.name}}

<h2>Selecione o Dependente:</h2>

<!--
<div class="row">
    <select onchange={{action 'refreshSelectedDependente' value='target.value'}}>
      <option value="">---</option>
      {{#each pessoa.dependentes as |dep| }}
          <option value={{dep.id}} >{{dep.name}}</option>
      {{/each}}
    </select>
</div>
-->


<div>
      {{#each pessoa.dependentes as |dep| }}
        <button type="button"  {{action 'refreshSelectedDependente' value=dep.id}}> {{dep.name}} </button>
      {{/each}}
</div>


<p></p>

{{#if selectedDependente}}
  {{#each selectedDependente.plataformaAnos as |plat_ano| }}
      {{#each plat_ano.aulas as |aula_dep| }}
        {{aula-card transit=(action 'goToAula') aula=aula aulaDestaque=aulaDestaque}}
        {{aula_dep.titulo}}
        {{aula_dep.descricao}} 
        {{aula_dep.segmento}}
        {{aula_dep.urlLivro}}<br>

      {{/each}}
  {{/each}}
{{/if}}



{{/if}}