<button type="button" class="btn btn-primary" {{action 'goToBiblioteca' on="click"}}> Ir para tela Biblioteca </button>

{{!-- ** ALUNO ** --}}

{{#if (equalstr pessoa.role "aluno")}}

<a href="#" {{action 'invalidateSession'}}>
  <span>Fazer Logout</span></a>

<p>{{pessoa.name}}</p>
<p>{{segmento.titulo}}</p>
<p>{{plataformaAno.name}}</p>
<p><a href="{{plataformaAno.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>

  <div class="search">
    <div>
      <h2>BUSCA</h2>
      {{input type="text" id="aulapesquisa" class="search" placeholder="Pesquisar Aula" value=search }} 
      <div>
  
      <h2>SITUAÇÃO</h2>
      <select id="situation" {{!--action 'atualizaAulas' on="change"--}}>
        <option selected="selected" value="0">Todas</option>
        <option value="1">Não Aplicada</option>
        <option value="2">Parcialmente Aplicada</option>
        <option value="3">Aplicada</option>
      </select>
      </div>

      <div>
      <h2>ORDENAÇÃO</h2>
      <select id="order" {{action 'atualizaAulas' on="change"}}>
        <option selected="selected" value="0">Ordem Crescente</option>
        <option value="1">Ordem Decrescente</option>
      </select>
      </div>

    </div>
  </div>

  {{#each aulasFiltradas as |aulaFiltrada|}}
    {{#if (and (containStr subStr = search mainStr = aulaFiltrada.titulo) search)}}
      {{aula-card transit=(action 'goToAula') aula=aulaFiltrada}}
    {{else}}
      {{aula-card transit=(action 'goToAula') aula=aulaFiltrada}}
    {{/if}}
  {{/each}}




{{!-- ###################################################################################################################################################################################### --}}
{{!-- ** RESPONSÁVEL OU PROFESSOR RESPONSÁVEL ** --}}
{{!-- {{else if (equalstr pessoa.role "responsavel")}} --}}
{{else if (equalstr toggleRole "responsavel")}}

<h2>Nome Responsável:</h2>
{{pessoa.name}}

<h2>Role:</h2>
{{pessoa.role}}


{{!-- Checa se o instrutor também é responsável --}}
{{#if (equalstr pessoa.role 'instrutor')}}
  <h2>Visualizando como:  {{ toggleRole }}</h2>
  <div>
      <button type="button" class="btn btn-primary" {{action 'toggleRole' 'instrutor'}}> Professor </button>
      <button type="button" class="btn btn-primary" {{action 'toggleRole' 'responsavel'}}> Responsável </button>
  </div>
{{/if}}


<h2>Selecione o Dependente:</h2>
<div>
  {{#each pessoa.dependentes as |dep|}}
    {{#each dep.plataformaAnos as |plat_ano|}}
        <button type="button" class="btn btn-primary" {{action 'refreshSelectedDependente' dep.id}}> {{dep.name}} ( {{plat_ano.segmento.titulo}} , {{plat_ano.name}} )</button>
    {{/each}}
  {{/each}}
</div>

<div class="search">
  <div>
    <h2>BUSCA</h2>
    {{input type="text" class="search" placeholder="Pesquisar Aula" value=search }} 
    <div>
 
    <h2>SITUAÇÃO</h2>
    <select id="situation" {{!--action 'atualizaAulas' on="change"--}}>
      <option selected="selected" value="0">Todas</option>
      <option value="1">Não Aplicada</option>
      <option value="2">Parcialmente Aplicada</option>
      <option value="3">Aplicada</option>
    </select>
    </div>

    <div>
    <h2>ORDENAÇÃO</h2>
    <select id="order" {{action 'atualizaAulas' on="change"}}>
      <option selected="selected" value="0">Ordem Crescente</option>
      <option value="1">Ordem Decrescente</option>
    </select>
    </div>

  </div>
</div>


{{#if selectedDependente}}
  {{#each selectedDependente.plataformaAnos as |plat_ano| }}
      <p><a href="{{plat_ano.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>
  {{/each}}
{{/if}}


{{#each aulasFiltradas as |aulaFiltrada|}}
{{aulasFiltrada.titulo}}
  {{#if (containStr subStr = search mainStr = aulaFiltrada.titulo)}}
      {{aula-card transit=(action 'goToAula') aula=aulaFiltrada}}
  {{/if}} 
{{/each}}




{{!-- ###################################################################################################################################################################################### --}}
{{!-- ** Professor ** --}}
{{!-- {{else if (equalstr pessoa.role "instrutor")}} --}}
{{else if (equalstr toggleRole "instrutor")}}

  <h2>Nome Professor:</h2>
  {{pessoa.name}}

  <h2>Role:</h2>
  {{pessoa.role}}


  {{!-- Checa se o instrutor também é responsável --}}
  {{#if pessoa.dependentes}}
    <h2>Visualizando como:  {{ toggleRole }}</h2>
    <div>
        <button type="button" class="btn btn-primary" {{action 'toggleRole' 'instrutor'}}> Professor </button>
        <button type="button" class="btn btn-primary" {{action 'toggleRole' 'responsavel'}}> Responsável </button>
    </div>
  {{/if}}

  {{!-- Escolhe Qual Segmento: Ex => Ensino Medio - Fundamental - Infantil I --}}
  <div>
      {{#each pessoa.plataformaAnos as |plat_ano|}}
          <button type="button" class="btn btn-primary" {{action 'refreshSelectedSegmento' plat_ano.segmento.titulo}}> {{plat_ano.segmento.titulo}} </button>
      {{/each}}
  </div>


  {{!-- Escolhe Qual Ano: Ex => Sétimo - Oitavo --}}
  <div>
      {{#each pessoa.plataformaAnos as |plat_ano|}}
          {{#if (equalstr plat_ano.segmento.titulo selectedSegmento)}}
            <button type="button" class="btn btn-primary" {{action 'refreshSelectedAno' plat_ano.name}}> {{plat_ano.name}} </button>
          {{/if}}
      {{/each}}
  </div>

  {{selectedSegmento}}
  {{selectedAno}}


  {{!-- Lista as aulas com base nos dois filtros acima--}}
  <div>
      {{#each pessoa.plataformaAnos as |plat_ano|}}
        {{#each plat_ano.aulas as |aula_dep| }}
          {{#if (equalstr plat_ano.segmento.titulo selectedSegmento)}}
            {{#if (equalstr plat_ano.name selectedAno)}}
              {{aula-card transit=(action 'goToAula') aula=aula_dep}}
            {{/if}}
          {{/if}}
        {{/each}}
      {{/each}}
  </div>



{{/if}}