<!-- Header geral -->
<header class="l-user-header l-user-header--themed l-user-header--{{if (equalstr pessoa.role 'aluno') pessoa.role toggleRole}}">
  <div class="flex itens-start gap-lg">
    <picture class="l-user-header__avatar avatar avatar--lg">
      {{#if pessoa.uriAvatar}}
        <img class="avatar__img" src={{pessoa.uriAvatar}} alt="{{pessoa.name}}">
      {{else}}
        <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{pessoa.name}}">
      {{/if}}
    </picture>
    <div class="flex-auto flow-xs">
      <div class="flex flex-row flex-wrap items-baseline gap-xs">
        <h2 class="title-1">{{firstnameoremailpart pessoa.name}}</h2>
        {{#if (equalstr pessoa.role 'aluno')}}
          <button class="btn btn--link m-bottom--xxs m-top--auto">
            <span class="btn__label" {{action 'invalidateSession'}}>Não é você? Faça logout</span>
          </button>
        {{/if}}
      </div>
      <span class="l-user-header__role title-aux">
        {{#if (equalstr pessoa.role 'aluno')}}
          {{plataformaAno.segmento.titulo}} - {{plataformaAno.name}}
        {{else}}
          {{toggleRole}}
        {{/if}}
      </span>

      <!-- veta quem não é prof -->
      {{#if (equalstr pessoa.role 'instrutor')}}
        <!-- veta quem não tem filho -->
        {{#if pessoa.dependentes}}
          <!-- alterna entre perfis -->
          {{#if (equalstr toggleRole 'instrutor')}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'responsavel'}}>
              <span class="btn__label">Visualizar como responsável</span>
            </button>
          {{else}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'instrutor'}}>
              <span class="btn__label">Visualizar como professor</span>
            </button>
          {{/if}}
        {{/if}}
      {{/if}}

      <nav>
        <ul class="tabs tabs--full-background">
          <li>
            <button class="tabs__tab {{if (equalstr thisRoute 'aulas') 'tabs__tab--is-active'}}" type="button" {{action 'goToAulas' on="click"}}>
              <span>Aulas</span>
            </button>
          </li>
          <li>
            <button class="tabs__tab {{if (equalstr thisRoute 'plataformabiblioteca') 'tabs__tab--is-active'}}" type="button" {{action 'goToBiblioteca' on="click"}}>
              <span>Biblioteca</span>
            </button>
          </li>

          {{#if Ano.urlLivro}}
            <li>
              <a class="tabs__tab" href="{{Ano.urlLivro}}" target="_blank" rel="nofollow noopener noreferrer">
                <span>Livro (PDF) {{selectedAno}}</span>
              </a>
            </li>
          {{/if}}

        </ul>

      </nav>
    </div>
  </div>
</header>

<div class="flow-xl">
  <!-- Nav de filhos -->
  {{#if (equalstr pessoa.role 'aluno')}}
  {{else}}
    <nav>
      <ul class="tabs">
        {{#if (equalstr toggleRole 'instrutor')}}
          {{#each segmentos as |seg|}}
            <li>
              <button type="button" class="tabs__tab {{if (equalstr selectedSegmento seg) 'tabs__tab--is-active'}}" {{action 'refreshSelectedSegmento' seg}}>
                <span>{{seg}}</span>
              </button>
            </li>
          {{/each}}
        {{else}}
          {{#each pessoa.dependentes as |dep|}}
            <li>
              <button type="button" class="tabs__tab {{if (equalstr selectedDependente.id dep.id) 'tabs__tab--is-active'}}" {{action 'refreshSelectedDependente' dep.id}}>
                <span>{{dep.name}}</span>
                <span class="fs-i fw--3 m-left--xxs">({{dep.plataformaAnos.firstObject.segmento.titulo}}, {{dep.plataformaAnos.firstObject.name}})</span>
              </button>
            </li>
          {{/each}}

          <!-- Só aparece se possui filho de (Infantil ou Fund I) e (Fund II ou Médio) se um dos dependentes tiver no fund 2 ou medio --> 
          {{#if faltaAlguem}}
            <li class="m-left--auto">
              <button class="btn btn--text tabs__not-tab">Sentindo falta de alguém?</button>
            </li>
          {{/if}}
        {{/if}}

      </ul>
    </nav>
  {{/if}}

  <section class="l-dots-between">
    <header class="l-dots-between__side">
      <form autocomplete="off" class="flex flex-col flow-md" >
        <!--
          ==============
          Exemplo de botão para tela de acompanhamento, não ficará aqui no hbs de aulas
          ==============
        -->
        <button class="btn btn--ghost">Download como Excel</button>
        <!--
          ==============
          Fim do exemplo
          ==============
        -->
        <!-- ISSO É SÓ UM EXEMPLO DE BOTÕES DE TIPO -->
        {{#if (equalstr toggleRole 'instrutor')}}
          <div class="two-col-wrap">
            {{#each pessoa.plataformaAnos as |plat_ano|}}
              {{#if (equalstr plat_ano.segmento.titulo selectedSegmento)}}
                <button class="btn btn--as-filter {{if (equalstr selectedAno plat_ano.name) 'btn--is-active'}}" {{action 'refreshSelectedAno' plat_ano}} type="button">
                  <span class="btn__label">{{plat_ano.name}}</span>
                </button>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}

        <div class="form-group">
          <label class="form-group__label">Busca</label>
          <div class="form-group__wrapper form-group__wrapper--search">
            <input class="form-group__input" type="text" id="aulapesquisa" placeholder="Pesquisar Aula" value={{search}} {{action 'atualizaAulas' on="input"}} {{action 'atualizaAulas' on="change"}}>
          </div>
          <a  onclick={{action 'eraseText'}}>Limpar</a>
        </div>

        <div class="form-group">
          <label class="form-group__label">Situação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedSituacao' value='target.value'}}>
              <option selected="selected" value="">Todas</option>
              <option  value="Não aplicada">Não Aplicada</option>
              <option  value="Parcialmente aplicada">Parcialmente Aplicada</option>
              <option  value="Aplicada">Aplicada</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label">Ordenação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="order" {{action 'atualizaAulas' on="change"}}>
              <option selected="selected" value="0">Ordem Crescente</option>
              <option value="1">Ordem Decrescente</option>
            </select>
          </div>
        </div>
      </form>
    </header>


    <section class="l-dots-between__content">
      <h3 class="sr-only">Lista de aulas</h3>
      <ul id="card-list-{{selectedDependente.id}}" class="l-card-list animated slow">
        {{#each aulasFiltradas as |aulaFiltrada|}}
          {{#if (equalstr aulaFiltrada.plataformaAno.segmento.titulo selectedSegmento)}}
            {{#if (equalstr aulaFiltrada.plataformaAno.name selectedAno)}}
              {{#if (or (containStr subStr = search mainStr = aulaFiltrada.titulo) (equalstr search ""))}}
                {{aula-card transit=(action 'goToAula') aula=aulaFiltrada pessoa=leitor selectedSituacao=selectedSituacao}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>
    </section>

  </section>

</div>