{{!-- ** ALUNO ** --}}

{{#if (equalstr pessoa.role "aluno")}}

<p>{{pessoa.name}}</p>
<p>{{segmento.titulo}}</p>
<p>{{plataformaAno.name}}</p>
<p><a href="{{plataformaAno.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>

<ul>
  {{#each plataformaAno.aulas as |aula|}}
      {{aula-card transit=(action 'goToAula') aula=aula aulaDestaque=aulaDestaque}}
  {{/each}}
</ul>

{{!-- ** RESPONSÁVEL ** --}}
{{else if (equalstr pessoa.role "responsavel")}}

<h2>Nome Responsável:</h2>
{{pessoa.name}}

<h2>Role:</h2>
{{pessoa.role}}

<h2>Selecione o Dependente:</h2>
<div>
  {{#each pessoa.dependentes as |dep|}}
    {{#each dep.plataformaAnos as |plat_ano|}}
        <button type="button" class="btn btn-primary" {{action 'refreshSelectedDependente' dep.id}}> {{dep.name}} ( {{plat_ano.segmento.titulo}} , {{plat_ano.name}} )</button>
    {{/each}}
  {{/each}}
</div>



<div class="search">
  <div>
    <h2>BUSCA</h2>
    {{input type="text" class="search" placeholder="Pesquisar Aula" value=search }} 
    {{search}}
    {{!-- <button type="button" class="btn btn-primary"  {{action 'refreshBusca'}}> Pesquisar</button> --}}
    <div>
 
    <h2>SITUAÇÃO</h2>
    <select id="situation" {{!--action 'atualizaAulas' on="change"--}}>
      <option selected="selected" value="0">Todas</option>
      <option value="1">Não Aplicada</option>
      <option value="2">Parcialmente Aplicada</option>
      <option value="3">Aplicada</option>
    </select>
    </div>

    <div>
    <h2>ORDENAÇÃO</h2>
    <select id="order" {{action 'atualizaAulas' on="change"}}>
      <option selected="selected" value="0">Ordem Crescente</option>
      <option value="1">Ordem Decrescente</option>
    </select>
    </div>

  </div>
</div>



{{#if selectedDependente}}
  {{#each selectedDependente.plataformaAnos as |plat_ano| }}
    {{#each plat_ano.aulas as |aula_dep| }}
        {{#if busca}}
          {{!-- {{aula-card transit=(action 'goToAula') aula=aula_dep}} --}}
          {{!-- {{plat_ano.segmento.titulo}} --}}
          {{!-- {{aula_dep.titulo}}
          {{aula_dep.descricao}}
          {{aula_dep.segmento}}
          {{aula_dep.urlLivro}}<br> --}}

          {{#if (containStr subStr = busca mainStr = aula_dep.titulo)}}
            {{!-- {{aula-card transit=(action 'goToAula') aula=aula_dep}} --}}
          {{/if}}

        {{else}}

          {{!-- {{aula-card transit=(action 'goToAula') aula=aula_dep}} --}}

        {{/if}}
    {{/each}}
  {{/each}}
{{/if}}


{{#each aulasFiltradas as |aulaFiltrada|}}
{{aulasFiltrada.titulo}}
  {{#if (containStr subStr = search mainStr = aulaFiltrada.titulo)}}
      {{!-- {{aula-card transit=(action 'goToAula') aula=aula_dep}} --}}
      {{aula-card transit=(action 'goToAula') aula=aulaFiltrada}}
  {{/if}}
{{/each}}



{{!-- ** Professor ** --}}
{{else if (equalstr pessoa.role "professor")}}



{{/if}}