{{#if (equalstr pessoa.role "aluno")}}

<p>{{pessoa.name}}</p>
<p>{{segmento.titulo}}</p>
<p>{{plataformaAno.name}}</p>
<p><a href="{{plataformaAno.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>

<ul>
  {{#each plataformaAno.aulas as |aula|}}
      {{aula-card transit=(action 'goToAula') aula=aula aulaDestaque=aulaDestaque}}
  {{/each}}
</ul>

{{else if (equalstr pessoa.role "responsavel")}}

<h2>Nome Responsável:</h2>
{{pessoa.name}}

<h2>Selecione o Dependente:</h2>
<div>
      {{#each pessoa.dependentes as |dep| }}
        <button type="button"  {{action 'refreshSelectedDependente' dep.id}}> {{dep.name}} </button>
      {{/each}}
</div>

<div class="search">
  <input type="text" placeholder="Pesquisar Aula">
</div>

<p></p>

{{#if selectedDependente}}
  {{#each selectedDependente.plataformaAnos as |plat_ano| }}
      {{#each plat_ano.aulas as |aula_dep| }}
        {{aula-card transit=(action 'goToAula') aula=aula_dep}}
        {{!-- {{aula_dep.titulo}}
        {{aula_dep.descricao}} 
        {{aula_dep.segmento}}
        {{aula_dep.urlLivro}}<br> --}}
      {{/each}}
  {{/each}}
{{/if}}



{{/if}}