{{#if (equalstr pessoa.role "aluno")}}

<p>{{pessoa.name}}</p>
<p>{{segmento.titulo}}</p>
<p>{{plataformaAno.name}}</p>
<p><a href="{{plataformaAno.urlLivro}}">VISUALIZAR LIVRO EM PDF</a></p>

<ul>
  {{#each plataformaAno.aulas as |aula|}}
      {{aula-card transit=(action 'goToAula') aula=aula aulaDestaque=aulaDestaque}}
  {{/each}}
</ul>

{{else if (equalstr pessoa.role "responsavel")}}

{{pessoa.name}}

{{#each pessoa.dependentes as |dep| }}
  {{dep.name}}
{{/each}}

{{/if}}