{{header-geral  parentController = this.parentController
                pessoa=pessoa
                thisRoute=thisRoute
                livros = livros
                togglerole=(action 'toggleRole') }}

<section class="flow-xl">
  <h1 class="sr-only">Conteúdo de {{thisRoute}}</h1>

  {{#unless (equalstr pessoa.role 'aluno')}}
    <nav>
      <h1 class="sr-only">Subnavegação de {{thisRoute}}</h1>
      <ul class="tabs">
        {{#if (or (equalstr this.parentController.toggleRole 'instrutor') (equalstr pessoa.role 'admin'))}}
          {{#each this.parentController.segmentosObjects as |seg|}}
            <li>
              <button type="button" class="tabs__tab {{if (equalstr selectedSegmento seg.titulo) 'tabs__tab--is-active'}}" {{action 'refreshSelectedSegmento' seg.titulo}}>
                <span>{{seg.titulo}}</span>
              </button>
            </li>
          {{/each}}
        {{else}}
          {{#each pessoa.dependentes as |dep|}}
            <li>
              <button type="button" class="tabs__tab {{if (equalstr selectedDependente.id dep.id) 'tabs__tab--is-active'}}" {{action 'refreshSelectedDependente' dep.id}}>
                <span>{{dep.name}}</span>
                <span class="fs-i fw--3 m-left--xxs">({{dep.plataformaAnos.firstObject.segmento.titulo}}, {{dep.plataformaAnos.firstObject.name}})</span>
              </button>
            </li>
          {{/each}}

          <!-- Só aparece se possui filho de (Infantil ou Fund I) e (Fund II ou Médio) se um dos dependentes tiver no fund 2 ou medio -->
          {{#if faltaAlguem}}
            <li class="m-left--auto">
              <button class="btn btn--text tabs__not-tab">Sentindo falta de alguém?</button>
            </li>
          {{/if}}
        {{/if}}
      </ul>
    </nav>
  {{/unless}}

  <div class="l-dots-between">

    <aside class="l-dots-between__side">
      <h1 class="sr-only">Filtros de conteúdos</h1>
      <form autocomplete="off" class="flex flex-col flow-md">
        <!--
          ==============
          Exemplo de botão para tela de acompanhamento, não ficará aqui no hbs de aulas
          ==============
        -->
        {{!-- <button class="btn btn--ghost">Download como Excel</button> --}}
        <!--
          ==============
          Fim do exemplo
          ==============
        -->
        {{#if (equalstr this.parentController.toggleRole 'instrutor')}}
          <div class="two-col-wrap">
            {{#each pessoa.plataformaAnos as |plat_ano|}}
              {{#if (equalstr plat_ano.segmento.titulo selectedSegmento)}}
                <button class="btn btn--as-filter {{if (equalstr selectedAno plat_ano.name) 'btn--is-active'}}" {{action 'refreshSelectedAno' plat_ano}} type="button">
                  <span class="btn__label">{{plat_ano.name}}</span>
                </button>
              {{/if}}
            {{/each}}
          </div>
        {{/if}}

        <div class="form-group">
          <label class="form-group__label">Busca</label>
          <div class="form-group__wrapper form-group__wrapper--search">
            <input class="form-group__input" type="text" id="aulapesquisa" value={{search}}
              {{action 'atualizaAulas' on="input"}}>
          </div>
          <a class="form__aux-link" onclick={{action 'eraseText'}}>Limpar busca</a>
        </div>

        <div class="form-group">
          <label class="form-group__label">Situação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="situation"
              onchange={{action 'refreshSelectedSituacao' value='target.value'}}>
              <option selected="selected" value="">Todas</option>
              <option value="Não aplicada">Não Aplicada</option>
              <option value="Parcialmente aplicada">Parcialmente Aplicada</option>
              <option value="Aplicada">Aplicada</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="form-group__label">Ordenação</label>
          <div class="form-group__wrapper form-group__wrapper--select">
            <select class="form-group__input" id="order" {{action 'atualizaAulas' on="change"}}>
              <option selected="selected" value="0">Ordem Crescente</option>
              <option value="1">Ordem Decrescente</option>
            </select>
          </div>
        </div>
      </form>
    </aside>

    <section class="l-dots-between__content flow-md">
      <hgroup>
        <h1 class="sr-only">Lista de conteúdos do {{selectedAno}}</h1>
        <h2 class="title-4">{{selectedAno}}<span class="fs--xs fw--3 fs-i color-blue-navy-20"> ({{aulasFiltradas.length}}  {{if isBloco 'blocos' 'aulas'}})</span></h2>
      </hgroup>

      <ul id="card-list-{{selectedDependente.id}}" class="l-card-list animated slow {{if noCards 'd--none'}}">
        {{#each aulasFiltradas as |aulaFiltrada|}}
          {{#if (equalstr aulaFiltrada.plataformaAno.segmento.titulo selectedSegmento)}}
            {{#if (equalstr aulaFiltrada.plataformaAno.name selectedAno)}}
              {{#if (containStr subStr = search mainStr = aulaFiltrada.titulo)}}
                <li>
                  {{aula-card transit=(action 'goToAula') aula=aulaFiltrada pessoa=selectedDependente selectedSituacao=selectedSituacao}}
                </li>
              {{/if}}
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>

      {{#if noCards}}
        <div class="empty animated fadeIn">
          <div class="animated d250 fadeInUpShort faster flex-1 ta-c">
            <span class="empty__icon icon-frown-o icon--xl"></span>
            <p class="m-top--xs">Não encontramos nenhuma aula com os filtros selecionados</p>
          </div>
        </div>
      {{/if}}
    </section>

  </div>

</section>