<section class="flow-xl">
  <h1 class="scr-only">Acompanhamento do Ensino Médio</h1>
  <nav>
        <ul class="tabs">
              {{#each this.aulasController.segmentosObjects as |seg|}}
                    {{#unless (equalstr seg.titulo 'Ensino Medio')}}
                          <li>
                                <button type="button" class="tabs__tab" {{action 'goToPlataforma' seg}}>
                                      <span>{{seg.titulo}}</span>
                                </button>
                          </li>
                    {{/unless}}
              {{/each}}
              <li>
                    <button type="button" class="tabs__tab tabs__tab--is-active">
                          <span>Ensino Médio (EAD)</span>
                    </button>
              </li>
        </ul>
  </nav>

  <div class="l-dots-between">
    <header class="l-dots-between__side">
      <form autocomplete="off" class="flex flex-col flow-md">
          <div class="two-col-wrap">
            <button class="btn btn--as-filter {{if (equalstr selectedContent 'g') 'btn--is-active'}}" {{action 'refreshContent' 'g'}} type="button">
              <span class="btn__label">Geral</span>
            </button>
            <button class="btn btn--as-filter {{if (equalstr selectedContent 'd') 'btn--is-active'}}" {{action 'refreshContent' 'd'}} type="button">
              <span class="btn__label">Detalhado</span>
            </button>
          </div>

          {{#if (equalstr selectedContent 'g')}}

            <div class="form-group">
              <label class="form-group__label" for="select_course">Ano</label>

              <div class="form-group__wrapper form-group__wrapper--select">
                <select class="form-group__input form-group__input--select"
                        id="select_course"
                        value="select_inst"
                        {{action 'selectCursoAno' on="change"}}>
                  {{#each inst_selected.modulos as |modulo|}}
                    {{#if (equalstr curso_selected.id modulo.id)}}
                      <option value={{modulo.id}} selected>{{modulo.name}}</option>
                    {{else}}
                      <option value={{modulo.id}}>{{modulo.name}}</option>
                    {{/if}}
                  {{/each}}
                </select>
              </div>


            </div>

            {{#if curso_selected}}
                <div class="form-group">
                  <label class="form-group__label" for="turma_selector">Turma</label>
                  <div class="form-group__wrapper form-group__wrapper--select">
                    <select id="turma_selector" class="form-group__input form-group__input--select" {{action 'filterTurmaAno' on='change'}}>

                      <option value="0" selected>Todas as turmas</option>
                        {{#each inst_selected.turmas as |turma|}}
                          {{#if (equalstr turma.modulo.id curso_selected.id)}}
                            <option id="opt_{{turma.id}}" value={{turma.id}}>{{turma.name}}</option>
                          {{/if}}
                        {{/each}}
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-group__label" for="matchClass">Busca</label>
                  <form class="flex flex-col" id="searchAllEnrolled" autocomplete="off" aria-autocomplete="none">

                    <div class="form-group__wrapper form-group__wrapper--search m-right--none" flex="100">
                      {{input class="form-group__input" aria-describedby="basic-addon1" id="matchClass"
                      key-up="filterClasses" type="text" autocomplete="off" aria-autocomplete="none"}}
                    </div>

                    <button class="form__aux-link" {{action 'exitpagedsearch'}}>
                      Limpar busca
                    </button>

                  </form>
                </div>
            {{/if}}

          {{/if}}

      {{#if (equalstr selectedContent 'd')}}
        {{#if hasChildren}}
          <div class="form-group">
            <label class="form-group__label">Instituição</label>
            <div class="form-group__wrapper form-group__wrapper--select">
              <select id="inst_selector" class="form-group__input form-group__input--select"
                {{action 'filterInstF' on='change'}}>
                <option value="0" selected>Escolha uma instituição</option>
                {{#each inst_selected.instituicaoFilhas as |instF|}}
                  <option id="opt_{{instF.id}}" style="display: block" value={{instF.id}}>{{instFilter instF.name "Fundação Bradesco - "}}</option>
                {{/each}}
              </select>
            </div>
          </div>
        {{/if}}

        {{!-- <div class="two-col-wrap">
          {{currentAnos}}
          {{#each inst_selected.modulos as |mod index|}}
            <button class="btn btn--as-filter {{if (equalstr selectedTipo tipo) 'btn--is-active'}}" {{action 'filterano' mod.id on='change'}} type="button">
              {{mod.id}}
              <span class="btn__label">{{mod.name}}</span>
            </button>
          {{/each}}
        </div> --}}

        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!-- checkbox para select -->
        <div class="form-group">
          <span class="form-group__label">Ano</span>
            <div class="form-group__wrapper form-group__wrapper--select">
              <select id="mod_selector_det" class="form-group__input form-group__input--select" {{action 'filterano' on='change'}}>
                {{#each inst_selected.modulos as |mod|}}
                  <option id="ano_{{mod.id}}" value={{mod.id}}>{{mod.name}}</option>
                {{/each}}
              </select>
            </div>
        </div>
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        <!--- VAZ -->
        {{#if inst_filtered}}
          <div class="form-group">
            <label class="form-group__label">Turma</label>

            <div class="form-group__wrapper form-group__wrapper--select">
              <select id="turma_selector_det" class="form-group__input form-group__input--select" {{action 'filterTurma' on='change'}}>
                <option value="0" selected>Todas as turmas</option>
                {{#each inst_filtered.turmas as |turma|}}
                  {{#if (equalstr turma.modulo.id anos)}}
                    <option id="opt_tur_{{turma.id}}" value={{turma.id}} style="display: block;">{{turma.name}}</option>
                  {{else}}
                    <option id="opt_tur_{{turma.id}}" value={{turma.id}} style="display: none;">{{turma.name}}</option>
                  {{/if}}
                {{/each}}
              </select>
            </div>
          </div>
        {{else}}
          {{#if hasChildren}}
            <div class="form-group">
              <label class="form-group__label">Turma</label>

              <div class="form-group__wrapper form-group__wrapper--select">
                <select id="turma_selector_det" class="form-group__input form-group__input--select" disabled>
                  <option value="0" selected>Todas as turmas</option>
                </select>
              </div>
            </div>
          {{else}}
            <div class="form-group">
              <label class="form-group__label">Turma</label>

              <div class="form-group__wrapper form-group__wrapper--select">
                <select id="turma_selector_det" class="form-group__input form-group__input--select" {{action 'filterTurma' on='change'}}>
                  <option value="0" selected>Todas as turmas</option>
                  {{#each inst_selected.turmas as |turma|}}
                    {{#if (equalstr turma.modulo.id anos)}}
                      <option id="opt_tur_{{turma.id}}" value={{turma.id}} style="display: block;">{{turma.name}}</option>
                    {{else}}
                      <option id="opt_tur_{{turma.id}}" value={{turma.id}} style="display: none;">{{turma.name}}</option>
                    {{/if}}
                  {{/each}}
                </select>
              </div>
            </div>
          {{/if}}
        {{/if}}

        {{#if hasChildren}}
          <div class="form-group form-group--horizontal m-left--auto m-v--md">
            <label class="form-group__label" for="amount">Exibir</label>
            <div class="form-group__wrapper form-group__wrapper--select">
              <select id="amount" class="form-group__input form-group__input--select form-group__input--amount" name="order"
                {{action 'setExibir' on='change'}}>
                {{#if (equalstr perPage 5)}}
                <option value="5" selected>5</option>
                <option value="10">10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{else if (equalstr perPage 25)}}
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
                <option value="25" selected>25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{else if (equalstr perPage 50)}}
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50" selected>50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{else if (equalstr perPage 100)}}
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100" selected>100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{else if (equalstr perPage 500)}}
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500" selected>500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{else if (equalstr perPage 1000)}}
                <option value="5">5 resultados</option>
                <option value="10">10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000" selected>1000 resultados</option>
                {{else}}
                <option value="5">5 resultados</option>
                <option value="10" selected>10 resultados</option>
                <option value="25">25 resultados</option>
                <option value="50">50 resultados</option>
                <option value="100">100 resultados</option>
                <option value="500">500 resultados</option>
                <option value="1000">1000 resultados</option>
                {{/if}}
              </select>
            </div>
            {{!-- <span>resultados por página</span> --}}
          </div>
        {{/if}}

        <div class="form-group">
          <label class="form-group__label" for="search">Busca (<strong>{{totalPessoas}} pessoas</strong>)</label>
          <form class="flex flex-col" id="searchAllEnrolled" autocomplete="off" aria-autocomplete="none">
            <div class="form-group__wrapper form-group__wrapper--search m-right--none" flex="100">
              {{input class="form-group__input"
                      aria-autocomplete="none"
                      aria-describedby="basic-addon1"
                      autocomplete="off"
                      id="search_input_pessoas_adm"
                      key-up="pagedsearch"
                      type="text"}}
            </div>

            <button class="form__aux-link" {{action 'exitpagedsearch'}}>
              Limpar busca
            </button>

          </form>
        </div>

      {{/if}}

      </form>
    </header>
    <section class="l-dots-between__content flow-md">
      {{#if (equalstr selectedContent 'g')}}
        {{#if curso_selected}}
          {{#if filtered_turma}}
            <hgroup>
              <h1 class="sr-only">Lista de aulas do {{curso_selected.name}}</h1>

              <h2 class="title-4">
                {{curso_selected.name}}
                <span class="fs--xs fw--3 fs-i color-blue-navy-20 m-left--xxs">(

                  <span class="inline-flex m-right--xxs">{{#each inst_selected.acompanhamentosCursoInstituicao as |acomp|}}
                    {{#if (equalstr acomp.modulo.id curso_selected.id)}}
                      {{if acomp.matriculas acomp.matriculas '0'}}
                    {{/if}}
                  {{/each}}</span>

                  pessoas
                )</span>
              </h2>
            </hgroup>

            <div class="report-course">
              <ul class="report-class flow-md" id="acomp_classes">
                {{#each turma_selected.acompanhamentosatividades as |acomp|}}
                <li class="report-class__two-col">
                  <div class="flow-xxs flex flex-col justify-center items-start">
                    <span class="title-aux">Aula {{acomp.atividade.idx}}</span>
                    <h3>
                      <a class="title-3 color-blue-navy-50"><span>{{acomp.atividade.name}}</span></a>
                    </h3>
                  </div>
                  <div class="report-class__stacked-bar stacked-bar">
                    <div class="stacked-bar__values">
                      {{!-- {{#if (equalstr acomp.styleNaoiniciado "width: 0%;")}}
                      {{else}} --}}
                      <span class="stacked-bar__value--1" style={{acomp.styleNaoiniciado}}></span>
                      {{!-- {{/if}} --}}

                      {{!-- {{#if (equalstr acomp.styleAndamento "width: 0%;")}}
                      {{else}} --}}
                      <span class="stacked-bar__value--2" style={{acomp.styleAndamento}}></span>
                      {{!-- {{/if}} --}}

                      {{!-- {{#if (equalstr acomp.styleCompletaram "width: 0%;")}}
                      {{else}} --}}
                      <span class="stacked-bar__value--3" style={{acomp.styleCompletaram}}></span>
                      {{!-- {{/if}} --}}
                    </div>

                    <div class="stacked-bar__legend">
                      <span>
                        <span class="stacked-bar__color-element stacked-bar__value--1"></span>
                        <span>Não iniciado:
                          <strong>{{acomp.naoiniciados}}</strong> ({{acomp.naoiniciadosPerc}}%)
                        </span>

                      </span>
                      <span>
                        <span class="stacked-bar__color-element stacked-bar__value--2"></span>
                        <span>Em andamento:
                          <strong>{{acomp.andamento}}</strong> ({{acomp.andamentoPerc}}%)
                        </span>

                      </span>
                      <span>
                        <span class="stacked-bar__color-element stacked-bar__value--3"></span>
                        <span>Completo:
                          <strong>{{acomp.completaram}}</strong> ({{acomp.completaramPerc}}%)
                        </span>
                      </span>
                    </div>
                  </div>
                </li>
                {{/each}}
              </ul>
            </div>
          {{else}}
            <hgroup>
              <h1 class="sr-only">Lista de aulas do {{curso_selected.name}}</h1>

              <h2 class="title-4">
                {{curso_selected.name}}
                <span class="fs--xs fw--3 fs-i color-blue-navy-20 m-left--xxs">(

                  <span class="inline-flex m-right--xxs">{{#each inst_selected.acompanhamentosCursoInstituicao as |acomp|}}
                    {{#if (equalstr acomp.modulo.id curso_selected.id)}}
                      {{if acomp.matriculas acomp.matriculas '0'}}
                    {{/if}}
                  {{/each}}</span>

                  pessoas
                )</span>
              </h2>
            </hgroup>

            <div class="report-course">
              <ul class="report-class flow-md" id="acomp_classes">
                {{#each curso_selected.atividades as |atividade|}}
                <li class="report-class__two-col">
                  <div class="flow-xxs flex flex-col justify-center items-start">
                    <span class="title-aux">Aula {{atividade.idx}}</span>
                    <h3 class="title-3 color-blue-navy-50"><a class="link--dotted"
                        {{action 'goToAtividade' curso_selected.id atividade.id on="click"}}><span>{{atividade.name}}</span></a>
                    </h3>
                  </div>
                  {{#each inst_selected.acompanhamentosatividades as |acomp|}}
                    {{#if (equalstr acomp.atividade.id atividade.id)}}
                      <div class="report-class__stacked-bar stacked-bar">
                        <div class="stacked-bar__values">
                          {{!-- {{#if (equalstr acomp.styleNaoiniciado "width: 0%;")}}
                          {{else}} --}}
                          <span class="stacked-bar__value--1" style={{acomp.styleNaoiniciado}}></span>
                          {{!-- {{/if}} --}}

                          {{!-- {{#if (equalstr acomp.styleAndamento "width: 0%;")}}
                          {{else}} --}}
                          <span class="stacked-bar__value--2" style={{acomp.styleAndamento}}></span>
                          {{!-- {{/if}} --}}

                          {{!-- {{#if (equalstr acomp.styleCompletaram "width: 0%;")}}
                          {{else}} --}}
                          <span class="stacked-bar__value--3" style={{acomp.styleCompletaram}}></span>
                          {{!-- {{/if}} --}}
                        </div>

                        <div class="stacked-bar__legend">
                          <span>
                            <span class="stacked-bar__color-element stacked-bar__value--1"></span>
                            <span>Não iniciado:
                              <strong>{{acomp.naoiniciados}}</strong> ({{acomp.naoiniciadosPerc}}%)
                            </span>

                          </span>
                          <span>
                            <span class="stacked-bar__color-element stacked-bar__value--2"></span>
                            <span>Em andamento:
                              <strong>{{acomp.andamento}}</strong> ({{acomp.andamentoPerc}}%)
                            </span>

                          </span>
                          <span>
                            <span class="stacked-bar__color-element stacked-bar__value--3"></span>
                            <span>Completo:
                              <strong>{{acomp.completaram}}</strong> ({{acomp.completaramPerc}}%)
                            </span>
                          </span>
                        </div>
                      </div>

                    {{else}}

                    {{/if}}
                  {{/each}}
                </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}


      {{#if (equalstr selectedContent 'd')}}

        {{#unless hasChildren}}
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <hgroup>
            <h1 class="sr-only">Lista de aulas do {{selectedModuloName}} - {{selectedTurmaName}}
            </h1>
            <h2 class="title-4">
              <span>{{selectedModuloName}} - {{selectedTurmaName}}</span>
              <span class="fs--xs fw--3 fs-i color-blue-navy-20 m-left--xxs">(<span class="inline-flex m-right--xxs">{{totalPessoas}}</span>pessoas)</span>
            </h2>
          </hgroup>
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->
          <!--- VAZ -->

          <div class="flex flex-row items-end justify-between">

            {{#unless (equalstr totalPessoas '0')}}
              {{page-numbers content=pagedContent perPage=perPage class="pagination--sm pagination--right"}}
            {{/unless}}

            <!-- ========================
            ######### ORDERING ##########
            ========================= -->
            <div class="form-group flex flex-row items-center">
              <label class="form-group__label" for="amount">Exibir</label>
              <div class="form-group__wrapper form-group__wrapper--select">
                <select id="amount" class="form-group__input form-group__input--select form-group__input--amount" name="order"
                  {{action 'setExibir' on='change'}}>
                  {{#if (equalstr perPage 5)}}
                  <option value="5" selected>5</option>
                  <option value="10">10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{else if (equalstr perPage 25)}}
                  <option value="5">5 resultados</option>
                  <option value="10">10 resultados</option>
                  <option value="25" selected>25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{else if (equalstr perPage 50)}}
                  <option value="5">5 resultados</option>
                  <option value="10">10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50" selected>50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{else if (equalstr perPage 100)}}
                  <option value="5">5 resultados</option>
                  <option value="10">10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100" selected>100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{else if (equalstr perPage 500)}}
                  <option value="5">5 resultados</option>
                  <option value="10">10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500" selected>500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{else if (equalstr perPage 1000)}}
                  <option value="5">5 resultados</option>
                  <option value="10">10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000" selected>1000 resultados</option>
                  {{else}}
                  <option value="5">5 resultados</option>
                  <option value="10" selected>10 resultados</option>
                  <option value="25">25 resultados</option>
                  <option value="50">50 resultados</option>
                  <option value="100">100 resultados</option>
                  <option value="500">500 resultados</option>
                  <option value="1000">1000 resultados</option>
                  {{/if}}
                </select>
              </div>
              {{!-- <span>resultados por página</span> --}}
            </div>

          </div>

        {{/unless}}

        <!-- ========================
        ########### LIST ############
        ========================= -->
        <div class="loader-local {{if (equalstr admdataLoaderState 1) 'loader-local--is-show' ''}}">

          <div class="loader-local__loader">
            <span class="icon-reload icon--xl"></span>
            Buscando
          </div>

          <div class="container-scroll container-scroll--v">
            <!-- VAZ -->
            {{!-- <div class="container-scroll__scroll" style="max-height: {{(48 * perPage) + 'px'}};"> --}}
            <div class="container-scroll__scroll" style="max-height: {{stylePerPageText}};">
              <table class="report-people__table table table--striped table--short table--fix-col">
                <thead>
                  <tr>
                    <th>Aluno<span class="inline-block m-h--xs">/</span>Aulas</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each pagedContent.content as |pessoa|}}
                    {{!-- {{#if (equalstr pessoa.role 'aluno')}} --}}
                    <tr {{action 'selectPessoa' pessoa.id}}>
                      <td class="report-people__person flex flex-row items-center justify-start">
                        <span class="report-people__avatar avatar avatar--sm m-right--xs">
                          {{#if pessoa.uriAvatar}}
                          <img class="avatar__img" src={{pessoa.uriAvatar}} alt="{{pessoa.name}}">
                          {{else}}
                          <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{pessoa.name}}">
                          {{/if}}
                        </span>
                        <span class="truncate">
                          {{pessoa.name}}
                        </span>
                      </td>
                      {{#if (equalstr pessoa.progressoAtividades.length '0')}}
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                        <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                      {{else}}
                        {{#each pessoa.progressoAtividades as |prog|}}
                          {{#if (equalstr prog.percentFixed '100')}}
                            <td class="color-success--dark bg-success-0"><span
                                class="report-people__status">{{prog.percentFixed}}%</span></td>
                          {{else if (equalstr prog.percentFixed '0')}}
                            <td class="color-error--dark bg-error-0"><span class="report-people__status">-</span></td>
                          {{else}}
                            <td class="color-warning--dark bg-warning-0"><span
                                class="report-people__status">{{prog.percentFixed}}%</span></td>
                          {{/if}}
                        {{/each}}
                      {{/if}}
                    </tr>
                    {{!-- {{/if}} --}}
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      {{/if}}



















    </section>
  </div>

</section>