<section class="flow-xl">
  <h1 class="scr-only">Acompanhamento do {{parentController.selectedSegmentoLocal.titulo}}</h1>
  <nav>
    <ul class="tabs">
      {{#each this.aulasController.segmentosObjects as |seg|}}
        {{#unless (equalstr seg.titulo 'Ensino Medio')}}
          <li>
            <button type="button"
              class="tabs__tab {{if (equalstr parentController.selectedSegmentoLocal.titulo seg.titulo) 'tabs__tab--is-active'}}"
              {{action 'refreshSelectedSegmento' seg}}>
              <span>{{seg.titulo}}</span>
            </button>
          </li>
        {{/unless}}
      {{/each}}
      <li>
        <button type="button" class="tabs__tab" {{action 'goToEad'}}>
          <span>Ensino Médio (EAD)</span>
        </button>
      </li>
    </ul>
  </nav>
  <div class="l-dots-between">
    <header class="l-dots-between__side">
        <form autocomplete="off" class="flex flex-col flow-md">
            {{#if isAdmin }}
                <div class="two-col-wrap">
                    <button class="btn btn--as-filter {{if (equalstr selectedFilteredRole "professores") 'btn--is-active'}}" {{action 'refreshSelectedFilteredRole' "professores"}} id="professores" type="button">
                    <span class="btn__label">Professores</span>
                    </button>
                    <button class="btn btn--as-filter {{if (equalstr selectedFilteredRole "alunos") 'btn--is-active'}}" {{action 'refreshSelectedFilteredRole' "alunos"}} id="alunos" type="button">
                    <span class="btn__label">Alunos</span>
                    </button>
                </div>
            {{/if}}

            <div class="form-group">
                <label class="form-group__label">Busca</label>
                <div class="form-group__wrapper form-group__wrapper--search">
                    {{input class="form-group__input"
                            type="text"
                            id="pesquisaperfil"
                            placeholder="Pesquisar Perfil"
                            value=this.search}}
                </div>
                <a class="form__aux-link" onclick={{action 'eraseText' }}>Limpar busca</a>
            </div>

            <div class="form-group">
                <label class="form-group__label" for="situation">Série</label>

                <div class="form-group__wrapper form-group__wrapper--select">
                    <select class="form-group__input"
                            id="situation"
                            onchange={{action 'refreshSelectedAno' value='target.value' }}>

                        <option selected="selected"
                                value="">Todas</option>

                        {{#each plataformaAnos as |pa|}}
                            <option selected={{if (equalstr pa.id selectedPlataformaAno.id) "selected"}}
                                    value={{pa.id}}>{{pa.name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>

            {{#if (equalstr selectedFilteredRole "alunos")}}
                <div class="form-group">
                    <label class="form-group__label">Turma</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input" id="situation" onchange={{action 'refreshSelectedTurma'
                                                value='target.value' }}>
                            <option selected="selected" value="">Todas</option>
                            {{#each plataformaTurmas as |pt|}}
                            <option value={{pt.id}} selected={{if (equalstr pt.id selectedPlataformaTurma.id) "selected"}}>
                                {{pt.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            {{/if}}

        </form>
    </header>
    <section class="l-dots-between__content flow-md">
        <hgroup>
            <h1 class="sr-only">Lista de aulas do {{parentController.selectedSegmentoLocal.titulo}}</h1>
            <h2 class="title-4">{{if selectedPlataformaAno.name selectedPlataformaAno.name 'Todas as séries'}}</h2>
        </hgroup>
        {{#if (equalstr selectedFilteredRole 'professores')}}
            <table class="table table--striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Videos</th>
                    {{!-- <th>Videos Vistos de preparação de aula</th>
                    <th>Videos de alunos reproduzidos</th> --}}
                    <th class="ta-c">Aulas aplicadas</th>
                    <th>Acessos</th>
                </tr>
                </thead>
                <tbody>
                {{#each professores as |p|}}
                    {{#if (containStr subStr = this.search mainStr = p.name)}}
                    <tr>
                        <td>{{p.name}}</td>
                        <td class="flow-xs">
                            <span class="flex flex-row items-center justify-between">
                                <span class="title-aux">Preparação de aula</span>
                                <span class="m-left--xxs">{{p.nrVideosPreparacao}}</span>
                            </span>
                            <span class="flex flex-row items-center justify-between">
                                <span class="title-aux">De alunos</span>
                                <span class="m-left--xxs">{{p.nrVideosAlunos}}</span>
                            </span>
                        </td>
                        {{!-- <td>{{p.nrVideosPreparacao}}</td>
                        <td>{{p.nrVideosAlunos}}</td> --}}
                        <td class="ta-c">{{p.nrAplicacaoPlataformaAulas}}</td>
                        <td>{{p.lastAccess}}
                            {{p.acessos}}</td>
                    </tr>
                    {{/if}}
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <table class="table table--striped">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Videos assistidos</th>
                    <th>acessos</th>
                    <th>último acesso</th>
                </tr>
                </thead>
                <tbody>
                {{#each alunos as |a|}}
                    {{#if (containStr subStr = this.search mainStr = a.name)}}
                    <tr>
                        <td>{{a.name}}</td>
                        <td>{{a.nrVideosAlunos}}</td>
                        <td>{{a.acessos}}</td>
                        <td>{{a.lastAccess}}</td>
                    </tr>
                    {{/if}}
                {{/each}}
                </tbody>
            </table>
        {{/if}}
    </section>
  </div>
</section>
