{{!-- <label>Código da escola:</label>
<input id="school-code" placeholder="Código" onkeyup={{action 'makeAjax'}}> --}}

<main class="main self-registration">
  <span class="self-registration__graphism graphism-circle"></span>
  {{!-- <img class="self-registration__img" src="/assets/img/img-autocadastro.png" alt="Três pessoas sorrindo: uma professora negra, uma aluna pre-adolescente e um aluno do infantil."> --}}
  <img class="self-registration__img {{if currentRole (if (equalstr currentRole 'professor') 'self-registration__img--is-highlight' 'self-registration__img--is-fade')}}"
       src="/assets/img/img-autocadastro__prof.png"
       alt="Uma professora negra de braços cruzados sorrindo com olhar de confiança.">

  <img class="self-registration__img {{if currentRole (if (equalstr currentRole 'aluno') 'self-registration__img--is-highlight' 'self-registration__img--is-fade')}}"
       src="/assets/img/img-autocadastro__em.png"
       alt="Um aluno adolescente de óculos e com traços orientais, sorrindo.">

  <img class="self-registration__img {{if currentRole (if (equalstr currentRole 'responsável') 'self-registration__img--is-highlight' 'self-registration__img--is-fade')}}"
       src="/assets/img/img-autocadastro__resp.png"
       alt="Um par de crianças sorrindo: uma menina e um menino.">

  <header class="row m-bottom--xl m-top--xxl middle-xs">
    <div class="col-xs-5 col-md-3">
      {{programa-semente-logo class="logo"}}
    </div>
    <div class="col-xs-6 col-md-9 flex flow-h-xxs items-center">
      <div class="self-registration__title flex flex-col">
        <h1 class="title-1 p-v--md pos-rel">Cadastro
            {{#if currentRole}}
                <span class="animated fadeInRightShort fast inline-block">
                  de <span class="color-green-40">{{currentRole}}</span>
                </span>
            {{/if}}
          <span class="self-registration__title-info title-aux animated d250 {{if currentRole 'fadeIn'}}">
            {{#if (equalstr currentRole 'aluno')}}
            Fundamental 2 e Ensino Médio
            {{else if (equalstr currentRole 'responsável')}}
            Infantil e Fundamental 1
            {{/if}}
          </span>
        </h1>

      </div>
    </div>
  </header>

  <form>
    <div class="row">
      <div class="col-xs-12 col-md-5">
        <div class="form-group m-bottom--lg w100">
          <label class="title-3 m-bottom--sm" for="codigo-escola">Código da escola</label>
          <input class="form-group__input self-registration__input" type="text" id="codigo-escola" maxlength="12" onkeypress={{action 'checkFormEnter'}} oninput={{action 'identifyRole'}} data-function="checkForm">
          <p class="m-top--xs text-aux">Exemplo de código: <em>AAA-AL-9999</em></p>
          <p class="alert alert--sm alert--error alert--has-icon m-top--sm animated d250" id="codigo-error" data-animation="fadeIn">
            <span class="alert__icon icon-x"></span>
            <span class="alert__msg"></span>
          </p>
        </div>
        <div>
          <button type="button" id="inicia-cadastro" class="btn btn--md" onclick={{action 'checkForm'}} disabled={{if currentRole false true}}>Iniciar cadastro</button>
        </div>
      </div>
    </div>
  </form>
</main>

