{{header-geral  parentController = this.aulasController
                pessoa=this.parentController.model
                thisRoute= thisRoute
                livros = livros
                activeAula = activeAula
                togglerole=(action 'toggleRole') 
                goToModulos=(action 'goToModulos')
                }}

<section class="l-timeline">
  <!-- Decorativos -->
  <!--<span class="icon-bar-chart main__icon-1"></span>-->
  <!--<span class="icon-at-sign main__icon-2"></span>-->
  <!-- / Decorativos -->

  {{scrollToNext}}


  <section class="main__section">


    <!-- Bem-vindo de volta
    {{!-- <div class="alert alert--blue-navy alert--xs alert--no-interaction alert--is-show">
      <h1 class="alert__title">Olá, {{username}}</h1>
      <div class="alert__body">
        <p>É ótimo que esteja aqui novamente! Bons estudos.</p>
        <p class="m-top--md small">Caso você não seja a pessoa acima, faça <a class="alert__link" href="#">logout</a>.</p>
      </div>
    </div> --}}-->
    <h2 class="main__subtitle main__subtitle--timeline">Aulas</h2>

    <div class="timeline">

      <nav class="timeline__inner-nav">
        <ul class="flow-xs">
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToCurrent'}}>Última liberada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToLast'}}>Última acessada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToTop'}}>Ir ao topo</button>
          </li>
        </ul>
      </nav>

      <div class="timeline__begin">
        Início do
        {{#if (equalstr model.idx 1)}}
        primeiro
        {{/if}}

        {{#if (equalstr model.idx 2)}}
        segundo
        {{/if}}

        {{#if (equalstr model.idx 3)}}
        terceiro
        {{/if}}
        ano
      </div>

      <ol class="timeline__line">
        {{#each sortedAtividades as |atividade idx|}}
          <li class="timeline__mark{{if (equalstr (get listaStartUnit idx) 1) ' timeline__mark--start-unit'}}">
            {{#if (equalstr (get listaStartUnit idx) 1)}}
              <!-- o lição que terá o elemento visual  "fim de unidade" acima receberá a classe extra de timeline__mark--start-unit. -->
              {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
            {{else}}
              {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
            {{/if}}
          </li>
        {{/each}}
      </ol>

      <div class="timeline__end">
        Fim do
        {{#if (equalstr model.idx 1)}}
        primeiro
        {{/if}}

        {{#if (equalstr model.idx 2)}}
        segundo
        {{/if}}

        {{#if (equalstr model.idx 3)}}
        terceiro
        {{/if}}
        ano
      </div>

    </div>

  </section>
</section>