{{#if anotacao.date}}
    <h3 class="title-aux color-green-40">{{anotacao.date}}</h3>
{{/if}}

<div class="flow-xxs">
    <p class="annotation" onclick={{action 'toggleEditionTrue'}} onblur={{action 'toggleEdition'}}
        contenteditable={{if displayEdition "true" "false"}} id={{concatenate "p-edit-" anotacao.id}}>
        {{anotacao.texto}}
    </p>

  {{#if displayEdition}}
    <button class="btn btn--link color-leaf-50" id="header-indicadores" {{action 'saveAnotacao'}}>
        <span class="btn__label">Salvar</span></button>
  {{else}}
    <button class="btn btn--link color-error-30" onclick={{action 'deleteAnotacao'}}>
        <span class="btn__label">Remover anotação</span></button>
  {{/if}}
</div>

{{#if displayEdition}}
    {{focusInput}}
{{/if}}