{{#if notTravada}}
    {{#if notStudent}}
      <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class">

          <span class="timeline__status">
            <span class="icon-unlocked"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Data de liberação</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>

            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
           <h3 class="class__title">{{atividade.name}}</h3>
        {{!-- INÍCIO IFS para Competências Alvo--}}
            {{#if (equalstr modulo.idx 1) }}
              {{#if (equalstr atividade.idx 1)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Entusiasmo</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 2)}}
               <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Tolerância ao estresse</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 3)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Autoconfiança</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 4)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Autoconfiança</li>
                    <li>Iniciativa social</li>
                    <li>Tolerância ao estresse</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 5)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Persistência</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 6)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Autoconfiança</li>
                    <li>Persistência</li>
                    <li>Determinação</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 7)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Empatia</li>
                    <li>Respeito</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 8)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Foco</li>
                    <li>Empatia</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 9)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Responsabilidade</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 10)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Responsabilidade</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 11)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Confiança</li>
                  </ul>
                </div>
              {{/if}}
              {{#if (equalstr atividade.idx 12)}}
              <div class="skills">
                <h2 class="skills__title">Competências alvo</h2>
                  <ul class="skills__list">
                    <li>Responsabilidade</li>
                  </ul>
                </div>
              {{/if}}
            {{/if}}
            {{!-- FIM IFS para Competências Alvo--}}

            <p class="class__description">{{atividade.description}}</p>
            {{#if temSecoes}}
              <button class='class__cta btn btn--lg btn--leaf' {{action 'transitToAtividade' atividade.Id}}>Ver</button>
            {{/if}}
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>

    {{else}}

    {{#if (equalstr value 0)}}
      {{#if data_ok}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class class--is-completed">
          <span class="timeline__status">
            <span class="icon-unlocked"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada desde</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>
            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
            <button class='class__cta btn btn--lg btn--leaf' {{action 'transitToAtividade' atividade.Id}}>Iniciar</button>
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>
        </div>
      {{else}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class class--is-disabled">
          <span class="timeline__status timeline__status--is-locked">
            <span class="icon-lock"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada a partir de</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>
            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>
      {{/if}}

    {{else if (equalstr value 100)}}
      {{#if data_ok}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class class--is-completed">
          <span class="timeline__status">
            <span class="icon-check"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada desde</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>
            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
            {{#if temSecoes}}
              <button class='class__cta btn btn--lg btn--leaf' {{action 'transitToAtividade' atividade.Id}}>Rever</button>
            {{/if}}
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>
      {{else}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class class--is-disabled">
          <span class="timeline__status timeline__status--is-locked">
            <span class="icon-lock"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada a partir de</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>
            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>
      {{/if}}

    {{else}}
      {{#if data_ok}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class">

          <span class="timeline__status">
            <span class="icon-unlocked"></span>
          </span>

          <div class="class__info">
            <div class="class__date-block capsule capsule--lemon">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada desde</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>

            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
            {{#if temSecoes}}
              <button class='class__cta btn btn--lg btn--leaf' {{action 'transitToAtividade' atividade.Id}}>Continuar</button>
            {{/if}}
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>
      {{else}}
        <div class="timeline__end-class">Fim do bloco</div>
        <div class="timeline__class class class--is-disabled">

          <span class="timeline__status timeline__status--is-locked">
            <span class="icon-lock"></span>
          </span>

          <div class="class__info"> capsule capsule--lemon
            <div class="class__date-block">
              <span class="icon icon-calendar icon--xxl"></span>
              <span class="class__date">
                <span class="title-aux">Liberada a partir de</span>
                <span class="class__day">{{dia}} {{mensagem_mes}}</span>
              </span>
            </div>

            <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
            <h3 class="class__title">{{atividade.name}}</h3>
            <p class="class__description">{{atividade.description}}</p>
          </div>

          <span class="class__img" style="{{atividade.backgroundImage}}"></span>

        </div>
      {{/if}}
    {{/if}}
    {{/if}}
{{else}}
<div class="timeline__end-class">Fim do bloco</div>
<div class="timeline__class class class--is-disabled">

  <span class="timeline__status timeline__status--is-locked">
    <span class="icon-lock"></span>
  </span>

  <div class="class__info">
    <div class="class__date-block">
      <span class="icon icon-calendar icon--xxl"></span>
      <span class="class__date">
        <span class="title-aux">Liberada a partir de</span>
        <span class="class__day">{{dia}} {{mensagem_mes}}</span>
      </span>
    </div>

    <div class="class__subtitle title-aux">Aula {{atividade.idx}}</div>
    <h3 class="class__title">{{atividade.name}}</h3>
    <p class="class__description">{{atividade.description}}</p>
  </div>

  <span class="class__img" style="{{atividade.backgroundImage}}"></span>

</div>
{{/if}}