<div class="row" style="display: none;">
    <div class="col-xs-12">
        {{comp_run}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="progress">
            <div class="progress-bar atividade-sec1" role="progressbar" style={{t_abertura}}>{{ts1}}
            </div>
            <div class="progress-bar atividade-sec2" role="progressbar" style={{t_video}}>{{ts2}}
            </div>
            <div class="progress-bar atividade-sec3" role="progressbar" style={{t_quiz}}>{{ts3}}
            </div>
            <div class="progress-bar atividade-sec4" role="progressbar" style={{t_teoria}}>{{ts4}}
            </div>
            <div class="progress-bar atividade-sec5" role="progressbar" style={{t_atividade}}>{{ts5}}
            </div>
            {{!-- <div class="progress-bar atividade-sec6" role="progressbar" style={{t_ts6}}>{{ts6}}
            </div> --}}
        </div>
    </div>
</div>