<div class="media">
  <picture class="media__thumb">
    <img src="https://placedog.net/200/200" alt="{{aula.titulo}}">
  </picture>

  <div class="media__body">
    {{#if aula.unidade}}
      <span class="title-aux">
        {{aula.unidade.titulo}}
      </span>
    {{/if}}
    <h4 class="media__title">{{aula.titulo}}</h4>
    <p>{{aula.descricao}}</p>

    {{#if aplicacao}}
      Aplicada em: {{aplicacao.dataAplicacaoFormat}}
    {{else}}
      Não aplicada.
    {{/if}}

    <button class="btn btn--ghost btn--xxs" id="header-indicadores" {{action 'transitToAula' aula.id on="click"}}>
      <span class="btn__label">Ver materiais</span>
    </button>
  </div>

</div>