{{#if aula.unidade}}
  {{aula.unidade.titulo}}
{{/if}}
Titulo: {{aula.titulo}}
Descrição: {{aula.descricao}}

{{#if aplicacao}}
  Aplicada em: {{aplicacao.dataAplicacaoFormat}}
{{else}}
  Não aplicada.
{{/if}}

<p class="global-nav__item" id="header-indicadores" {{action 'transitToAula' aula.id on="click"}}>
  <span>Ver materiais</span>
</p>