{{#if (or (equalstr situacao selectedSituacao) (equalstr selectedSituacao ""))}}
  <div class="media media--card">
    <picture>
      <img class="media__thumb" id="vimeo-{{vimeoCode}}{{aula.id}}" src="" alt="{{aula.titulo}}"/>
      {{!-- <img src="{{if thumb thumb '/assets/img/dark__thumb.png'}}" alt="{{aula.titulo}}"> --}}
    </picture>

    <div class="media__body flow-md">
      <div>
        {{#if aula.unidade}}
          <span class="title-aux">
            {{aula.unidade.titulo}}
          </span>
        {{/if}}
        <h4 class="media__title title-2 m-top--xxs">{{aula.titulo}}</h4>
      </div>

      {{!-- <p>{{aula.descricao}}</p> --}}
      <span class="flex flex-row items-center m-bottom--md">
        <svg xmlns="http://www.w3.org/2000/svg"
            class="stroke-green-20 m-right--xs"
            fill="none"
            height="24"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            stroke="currentColor"
            viewBox="0 0 24 24"
            width="24">
          <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
          <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
        </svg>

        {{#if (equalstr situacao "Aplicada")}}
          <span>Aplicada em: {{UltimaAplicacao.dataAplicacaoFormat}}</span>
        {{else}}
          <span>{{situacao}}</span>
        {{/if}}
      </span>

      <button class="btn btn--ghost btn--xxs" id="header-indicadores" {{action 'transitToAula' aula.id on="click"}}>
        <span class="btn__label">Ver materiais</span>
      </button>
    </div>

  </div>
{{/if}}