<div class="flex flex-row items-center m-bottom--md">
    {{icon-aplicada-em}}
    {{#if UltimaAplicacao}}
        <span class="flex-none m-left--xs">Última aplicação em:</span>
        <span class="flex-none m-left--xs fw--5">{{UltimaAplicacao.dataAplicacaoFormat}}</span>
    {{else}}
        <span class="flex-none m-left--xs">Não aplicada.</span>
    {{/if}}
    {{#if (equalstr toggleRole "instrutor")}}
       
        <div class="popover m-left--xs">
            <button class="btn btn--link color-leaf-50 popover__trigger" type="button" {{action "mostrarTurmas" }}>
                <span class="btn__label">Marcar como aplicada</span>
            </button>

            {{!-- MODAL APLICAÇÃO --}}
            <div class="popover__balloon popover__balloon--right-bottom" id="turmasId{{turma.id}}">
                <button class="popover__close icon-x"></button>

                <div class="flex flex-col flow-md">
                    <div>
                        <h3 class="title-3">Lista de turmas</h3>
                        <p>Marque em quais turmas essa aula foi aplicada.</p>
                    </div>
                    <ul class="flex flex-col flow-xs">
                        <li>
                            <div class="checkbox">
                                <input class="checkbox__input" id="selectAllTurmas" type="checkbox" checked={{checked}} onchange={{action 'selectAllTurmas' allChecked}} />
                                <label class="checkbox__label" for="selectAllTurmas">Selecionar todas as turmas</label>
                            </div>
                        </li>
                        <li class="divider"></li>
                        {{#each pessoa.plataformaTurmas as |turma|}}
                            {{#if (equalstr turma.plataformaAno.id aula.plataformaAno.id)}}
                                <li>
                                    <div class="checkbox">
                                        <input  class="checkbox__input"
                                                id="{{turma.id}}"
                                                type="checkbox"
                                                checked={{if (containInListID turma.id TurmasAplicadas) "checked" ""}}
                                                value={{turma.id}}
                                                onchange={{action 'turmasChanged' value='target.value'}} />
                                        <label class="checkbox__label" for="{{turma.id}}">{{turma.name}}</label>
                                    </div>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ul>

                    <button class="btn btn--xxs btn--ghost self-start"
                            id="Botaoturmas"
                            type="button"
                            disabled
                            {{action "saveAplicacaoTurmas" aula.aplicacoes}}>
                        <span class="btn__label">Salvar</span>
                    </button>
                </div>

            </div>
            {{!-- /MODAL APLICAÇÃO --}}

        </div>
    {{/if}}
</div>
{{!-- <div id="botaoAplicar" class="title-3 btn btn--link list__name" style={{if (equalstr toggleRole "instrutor") "display: block" "display: none"}}></div> --}}

