

<div class="">
    <h1>Origem</h1>
    <label for="">Endereço de Vídeo</label>
    <input type="text" id="videoUrlId" name="video" value={{conteudo.videoUrl}} placeholder='Endereço de Vídeo'
        onchange={{ action 'urlvideoChanged' value='target.value' }} disabled={{if conteudo.path "disabled" ""}}>
    <div class="row"> OU </div>

    <label for="">Arquivo em PDF, PNG ou JPEG</label>
    <input multiple="false" id="file-selector" name='file' type="file" value=''
    placeholder='Arquivo PDF' accept="image/png,image/jpeg,application/pdf"
    onchange={{action 'Upload'}} /> <label id="message-processing"></label>
    
    {{#if conteudo.path}}
        {{conteudo.filename}}
        <button type="button" class="btn" {{action "removePath"}}>Remover</button>
    {{/if}}

</div>

<div class="row">
    <h1>Configuração</h1>
    <label for="">Titulo do Conteúdo</label>
    {{input name='' value=conteudo.titulo placeholder='Titulo do Conteúdo' maxlength=100}}
    <label>Máximo de 100 caracteres permitidos</label>

    <div></div>
    <div>Faz parte de qual agrupamento?</div>
    {{#each agrupamentos as |a|}}
        <input type="radio" checked={{if (equalstr a.id conteudo.agrupamento.id) "checked"}} id={{a.id}} name="nomeagrupamento"
        onchange={{ action 'agrupamentoChanged' a.id }}>
        <label for="{{a.id}}">{{a.name}}</label>
        <div>{{a.descricao}}</div>
        <div> </div>

        {{#if (equalstr a.id conteudo.agrupamento.id)}}
            {{#if a.temas.length}}
                <label>TEMA</label>
                <select name="tema" id="tema{{conteudo.id}}" onchange={{action 'refreshSelectedTema' value='target.value'}}>
                    <option value="">---</option>
                    {{#each a.temas as |t|}}
                        <option value="{{t.id}}" selected={{if (equalstr t.id conteudo.tema.id) "selected"}}>{{t.name}}</option>
                    {{/each}}
                </select>
                <div> </div>
            {{/if}}
        {{/if}}
    {{/each}}

    <div> </div>
    <div> </div>
    <div>Qual a situação após o cadastro?</div>
    <div class="row">
        <input type="radio" checked={{conteudo.situacao}} id={{conteudo.id}} name="situacao"
        onchange={{ action 'refreshSelectedSituacao' "true" }}>
        <label>Ativo</label>
        <div></div>
        <input type="radio" checked={{not conteudo.situacao}} id={{conteudo.id}} name="situacao"
        onchange={{ action 'refreshSelectedSituacao' "false" }}>
        <label>Inativo</label>
    </div>
</div>

<div></div>
<div class="row">
    <h1>Público</h1>
    <label>A quem se destina?</label>
    <div class="row">
        {{#each publicos as |pub|}}
            <input
            type="checkbox"
            checked={{if (containInListID pub.id conteudo.publicos) "checked"}}
            value={{pub.id}}
            onchange={{action 'publicoChanged' value='target.value'}} />
            <label>{{pub.nameFormat}}</label>
        {{/each}}
    </div>
    <div class="row">
        {{#if (equalstr agrupamentoAula "true")}}
            {{conteudo-aula-form conteudo=conteudo 
            adicionarAula=adicionarAula segmentos=segmentos}}
            {{#if (equalstr adicionarAula "false")}}
                <button type="button" class="btn" {{action "addAulas"}}>Adicionar Ano/Aula</button>
            {{/if}}
        {{/if}}
    </div>
</div>
{{!-- 
{{#if tnName}}
    <h1>Capa</h1>
    {{if (equalstr conteudo.tipo "Imagem") conteudo.path tnName}}
    <img src={{if (equalstr conteudo.tipo "Imagem") conteudo.path conteudo.thumbnail}} alt="{{conteudo.thumbnailname}}">
    <button type="button" class="btn" {{action "removePathCapa"}}>Remover</button>
{{/if}} --}}

<h1>Capa</h1>
<label for="">Adicione uma capa para que os alunos identifiquem o arquivo.</label>
{{if (equalstr conteudo.tipo "Imagem") conteudo.filename tnName}}
<img src={{if (equalstr conteudo.tipo "Imagem") conteudo.path conteudo.thumbnail}} alt="{{conteudo.thumbnailname}}">
{{#if (equalstr inputCapa "true")}}
    <input multiple="false" id="file-selector-capa" name='file' type="file" value=''
    placeholder='Capa' accept="image/png,image/jpeg"
    onchange={{action 'UploadCapa'}} /> <label id="message-processing-capa"></label>
    <button type="button" class="btn" {{action "removePathCapa"}}>Remover</button>
{{/if}}