<div class="media media--middle" id="conteudo-{{conteudo.id}}" style="cursor: pointer;" onclick={{action 'openModal' conteudo}}>
  <picture class="media__picture">
    <img class="media__thumb" id="file-{{conteudo.id}}" src={{thumbnail}} alt="{{conteudo.titulo}}">
  </picture>

  <div class="media__body flow-md">
    <span class="media__title title-4">{{conteudo.titulo}}</span>
  </div>
</div>