{{#each conteudoAnos as |ano|}}
  <div class="media">
    <div class="w100">
      <a href="#" class="btn btn--xxs" {{action 'goToEditConteudo' conteudo.id}}>
        <span class="btn__icon icon-edit"></span>
        <span class="btn__label">Editar este item</span>
      </a>
    </div>

    <div class="media__body flow-md">

      <ul>
        <li class="flex flex-row items-center gap-xs" id="Publicos">
          <span class="title-aux">
            {{!-- {{component (strconcat "icon-" conteudo.publicos.nameFormat)}} --}}

            Público

            {{#if (sizeequals conteudo.publicos 3)}}{{else}}{{#if (isbigger conteudo.publicos.length 1)}}(s){{/if}}{{/if}}:
          </span>
          {{#if (sizeequals conteudo.publicos 3)}}
              <span class="capsule capsule--info">Todos</span>
          {{else}}
            {{#each conteudo.publicos as |publico|}}
              <span class="capsule capsule--info">{{publico.nameFormat}}</span>
            {{/each}}
          {{/if}}
        </li>

        <li class="flex flex-row items-center gap-xs" id="Publicos">
          <span class="title-aux">
            Ativo: {{if conteudo.situacao "Ativo" "Inativo"}}
          </span>
        </li>

        {{conteudo-aula-card conteudo=conteudo ano=ano}}
      </ul>

      <div>
        <span class="title-aux">{{conteudo.tema.name}}</span>
        <span class="media__title m-top--xxs">{{conteudo.titulo}}</span>
      </div>

      <div class="checkbox">
        <input class="checkbox__input" id={{conteudo.id}} type="checkbox" name="situacao" onchange={{ action 'postSelectedSituacao' conteudo}} checked={{conteudo.situacao}}>
        <label class="checkbox__label">{{if conteudo.situacao "Ativo" "Inativo"}}</label>
      </div>

      <div>
        {{component (strconcat "icon-" conteudo.tipo)}}
        <span>{{conteudo.tipo}}</span>
      </div>

    </div>

  </div>
{{/each}}
