{{conteudo.aula.titulo}}
{{conteudo.titulo}}
{{conteudo.aula.plataformaAno}}
{{conteudo.descricao}}
{{conteudo.tipo}}

<p class="global-nav__item" id="header-conteudo">
  <span>Ir para conteúdo</span>
</p>