<div class="flow-xxl">

    <section class="flex flex-col flow-md">
    <h2 class="title-3">Origem</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-6 flow-md">

            <div class="row items-end gap-xs">
                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <label class="form-group__label" for="videoUrlId">Endereço de Vídeo</label>
                        <input class="form-group__input" disabled={{if conteudo.path "disabled" ""}} id="videoUrlId" name="video"
                        onchange={{ action 'urlvideoChanged' value='target.value' }} placeholder='Endereço de Vídeo' type="text"
                        value={{conteudo.videoUrl}}>
                    </div>
                </div>

                <div class="col-xs">
                    <p class="ta-c">ou</p>
                </div>

                <div class="col-xs-12 col-sm-5">
                    <div class="form-group">
                        <span class="form-group__label">Arquivo em PDF, PNG ou JPEG</span>
                        <label class="btn" for="file-selector">
                        <input style="display: none;"
                                accept="image/png,image/jpeg,application/pdf"
                                id="file-selector"
                                multiple="false"
                                name="file"
                                onchange={{action 'Upload'}}
                                placeholder=""
                                type="file"
                                value="" />
                            <span class="btn__label">Escolher arquivo</span>
                        </label>
                        <span id="message-processing"></span>
                    </div>
                </div>
            </div>

            {{#if conteudo.filename}}
                <ul id="arqConteudo" class="list list--striped {{if conteudo.filename 'animated fadeInLeftShort faster'}}">
                    <li>
                        <div class="flex flex-row items-center justify-between gap-sm">
                            {{!-- <img src="{{conteudo.thumbnail}}" alt="{{conteudo.filename}}"> --}}
                            <div class="flow-xxs flex flex-col">
                                <span class="title-3 tt-u">{{conteudo.tipo}}</span>
                                <span class="color-leaf-50">{{conteudo.filename}}</span>
                            </div>
                            <button class="btn btn--text color-error-40"
                                    type="button"
                                    {{action "removePath"}}>
                                <span class="btn__label">Remover</span>
                            </button>
                        </div>
                    </li>
                </ul>
            {{/if}}

        </div>
    </div>

    </section>

    <section class="flex flex-col flow-md">
        <h2 class="title-3">Configuração</h2>

        <div class="flow-xl">
            <div class="row">
                <div class="col-xs-12 col-sm-6">

                    <div class="flex flex-col flow-xs">
                        <div class="form-group">
                        <label class="form-group__label" for="">Titulo do Conteúdo</label>
                        {{input class="form-group__input"
                                            name=''
                                            value=conteudo.titulo
                                            placeholder='Titulo do Conteúdo'
                                            maxlength=80}}
                        </div>
                        <p class="text-aux {{if (isbigger conteudo.titulo.length '60') 'color-warning-60 bg-warning-10'}}">
                        {{if (isbigger conteudo.titulo.length 0) conteudo.titulo.length "0"}}/80 caracteres permitidos.</p>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="flex flex-col flow-xs">
                        <h3 class="title-4">Faz parte de qual agrupamento?</h3>
                        <div class="flex flex-col flow-xs">
                        {{#each agrupamentos as |a|}}
                            <div class="radio flex flex-col items-start">
                            <input class="radio__input" checked={{if (equalstr a.id conteudo.agrupamento.id) "checked"}} id="agrupamento-{{a.id}}"
                                name="nomeagrupamento" onchange={{ action 'agrupamentoChanged' a.id }} type="radio">
                            <label class="radio__label strong" for="agrupamento-{{a.id}}">{{a.name}}</label>
                            <div class="radio__aux flow-sm">
                                <p class="text-aux">{{a.descricao}}</p>

                                {{#if (equalstr a.id conteudo.agrupamento.id)}}
                                {{#if a.temas.length}}
                                    <div class="row">
                                    <div class="col-xs-12 col-sm-6">
                                        <div class="form-group">
                                        <label class="form-group__label" for="tema-{{conteudo.id}}">Tema</label>
                                        <div class="form-group__wrapper form-group__wrapper--select">
                                            <select class="form-group__input" name="tema" id="tema-{{conteudo.id}}"
                                            onchange={{action 'refreshSelectedTema' value='target.value'}}>
                                            <option value="">---</option>
                                            {{#each a.temas as |t|}}
                                                <option value="{{t.id}}" selected={{if (equalstr t.id conteudo.tema.id) "selected"}}>
                                                {{t.name}}</option>
                                            {{/each}}
                                            </select>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                {{/if}}
                                {{/if}}

                            </div>
                            </div>
                        {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="flex flex-col flow-xs">
                        <h3 class="title-4">Qual a situação após o cadastro?</h3>
                        <div class="flex flex-col flow-xs">
                        <div class="radio flex flex-col items-start">
                            <input class="radio__input" checked={{conteudo.situacao}} id="conteudoAtivo" name="situacao"
                            onchange={{ action 'refreshSelectedSituacao' "true" }} type="radio">
                            <label class="radio__label strong" for="conteudoAtivo">Ativo</label>
                            <div class="radio__aux">
                            <p class="text-aux">Quem puder, poderá acessá-lo imediatamente após o cadastro.</p>
                            </div>
                        </div>
                        <div class="radio flex flex-col items-start">
                            <input class="radio__input" checked={{not conteudo.situacao}} id="conteudoInativo" name="situacao"
                            onchange={{ action 'refreshSelectedSituacao' "false" }} type="radio">
                            <label class="radio__label strong" for="conteudoInativo">Inativo</label>
                            <div class="radio__aux">
                            <p class="text-aux">Alguém terá que alterar a situação desse conteúdo depois para que ele fique
                                disponível.</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>



    <section class="flex flex-col flow-md">
    <h2 class="title-3">Público</h2>

    <div class="flex flex-col flow-xs">
        <h3 class="title-4">Qual o público desse conteúdo?</h3>
        <div class="flex flex-col flow-xs">
        {{#each publicos as |pub|}}
            <div class="checkbox">
            <input  class="checkbox__input"
                    id="pub-{{pub.id}}"
                    checked={{if (containInListID pub.id conteudo.publicos) "checked"}}
                    onchange={{action 'publicoChanged' value='target.value'}}
                    type="checkbox"
                    value={{pub.id}} />
            <label class="checkbox__label" for="pub-{{pub.id}}">{{pub.nameFormat}}</label>
            </div>
        {{/each}}
        </div>
    </div>

    {{#if (equalstr agrupamentoAula "true")}}
        <div class="flex flex-col flow-xs">
            <h3 class="title-4">Atrelar a que ano/aula?</h3>
            <ul class="flex flex-col flow-md">
                {{conteudo-aula-form conteudo=conteudo
                                            adicionarAula=adicionarAula
                                            segmentos=segmentos}}

                {{#if (equalstr adicionarAula "false")}}
                    <li class="row">
                        <div class="col-xs-12 col-md-6">
                            <button type="button" class="btn btn--add-list-item" {{action "addAulas"}}>
                                <span class="btn__icon icon-plus"></span>
                                <span class="btn__label">Adicionar Ano/Aula</span>
                            </button>
                        </div>
                    </li>
                {{/if}}
            </ul>
        </div>
    {{/if}}
    </section>

</div>


{{#unless (equalstr conteudo.tipo 'Video')}}
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div class="flow-xxl">
            <div class="flex flex-col flow-md">
                <div class="flow-xxs">
                    <h2 class="title-3">Capa</h2>
                    <p>Adicione uma capa para identificação do conteúdo.</p>
                </div>

                {{#if showProcessing}}
                    <div class="flex justify-center" id="message-processing-capa">
                        <img style="width: 10%;" src="/assets/img/carregando.gif">
                    </div>
                {{/if}}

                {{#if capa}}
                    <ul id="arqCapa" class="list list--striped {{if capa 'animated fadeInLeftShort faster'}}">
                        <li>
                            <div class="flex flex-row items-center justify-between gap-sm">
                                <div class="flow-xxs flex flex-col">
                                    <img src="{{conteudo.thumbnail}}" alt="{{conteudo.thumbnailname}}">
                                    <span class="color-leaf-50">{{conteudo.filename}}</span>
                                </div>
                                <div class="flow-xxs flex flex-col">
                                    <span class="title-3 tt-u">{{conteudo.tipo}}</span>
                                    <span class="color-leaf-50">{{conteudo.filename}}</span>
                                </div>
                                <button class="btn btn--text color-error-40"
                                        type="button"
                                        {{action "removePathCapa"}}>
                                    <span class="btn__label">Remover</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                {{else}}
                    <label class="btn btn--add-list-item {{unless capa 'animated fadeInLeftShort faster'}}">
                        <input style="display: none;"
                                accept="image/png,image/jpeg"
                                id="file-selector-capa"
                                multiple="false"
                                name="file"
                                onchange={{action "UploadCapa"}}
                                type="file"
                                value="" />
                        <span class="btn__icon icon-plus"></span>
                        <span class="btn__label">Adicionar Capa</span>
                    </label>
                {{/if}}

            </div>
        </div>
    </div>
</div>
{{/unless}}