{{#each conteudoAnos as |ano|}}
  <div class="media">

    <div class="flex flex-row gap-xs divider p-bottom--sm w100">

      <button class="btn btn--xxs btn--is-toggle {{if conteudo.situacao 'bg-success-60 btn--is-toggle--on' 'bg-error-60'}}" style="width: 5rem" {{action 'postSelectedSituacao' conteudo}}>
        <span class="btn__label label__default">
          <span>
            <span class="icon-x icon--lg color-error-20 m-right--xxs"></span>
            <span>Inativo</span>
          </span>
        </span>
        <span class="btn__label label__active">
          <span>
            <span class="icon-check icon--lg color-success-20 m-right--xxs"></span>
            <span>Ativo</span>
          </span>
        </span>
        {{!-- <span class="btn__label label__active">{{if conteudo.situacao "Ativo" "Inativo"}}</span> --}}
      </button>

      <a href="#" class="btn btn--text btn--xxs" {{action 'goToEditConteudo' conteudo.id}}>
        {{!-- <span class="btn__icon icon-edit"></span> --}}
        <span class="btn__label">Editar</span>
      </a>
      {{!-- {{#if (equalstr pessoaRole 'admin')}}
        <div class="checkbox">
          <input class="checkbox__input" id={{conteudo.id}} type="checkbox" name="situacao" onchange={{ action 'postSelectedSituacao' conteudo}} checked={{conteudo.situacao}}>
          <label class="checkbox__label" for="{{conteudo.id}}">{{if conteudo.situacao "Ativo" "Inativo"}}</label>
        </div>
      {{/if}} --}}
    </div>

    <div class="media__body">

      <div class="row middle-xs self-stretch">

        <!-- "video de" + seg + ano + aula/bloco + tipo (video/pdf/etc) + publico que pode ver
             "video de" = título do conteúdo
        -->
        <div class="col-xs-12 col-md-7">
          {{conteudo-aula-card conteudo=conteudo ano=ano show=show}}
        </div>

        <div class="col-xs-12 col-md-2 ta-c">
          <span class="flex flex-col items-center m-left--auto m-right--auto" style="width: 5rem"> <!-- tamanho fixo para alinhar ícones em lista -->
            {{component (strconcat "icon-" conteudo.tipo) class="icon icon--lg icon--square color-green-40"}}
            <span class="title-aux">{{conteudo.tipo}}</span>
          </span>
        </div>

        <div class="col-xs-12 col-md-3">
          <span class="flex flex-col items-start flow-xs divider-right" flex="20">
            {{#each conteudo.publicos as |publico|}}
              <span class="flex flex-row items-center gap-xs flow-h-xs">
                {{component (strconcat "icon-" publico.nameIcon) class="icon icon--square icon--xs color-green-20"}}
                <span class="title-aux">{{publico.nameFormat}}</span>
              </span>
            {{/each}}
          </span>
        </div>

        {{!--
        <ul>
          <li class="flex flex-row items-center gap-xs" id="Publicos">
            <span class="title-aux">
              Ativo: {{if conteudo.situacao "Ativo" "Inativo"}}
            </span>
          </li>
        </ul>

        <div>
          <span class="title-aux">{{conteudo.tema.name}}</span>
          <span class="media__title m-top--xxs">{{conteudo.titulo}}</span>
        </div>
        --}}

      </div>

    </div>

  </div>
{{/each}}
