<div class="media media--card">
  <picture class="media__thumb">
    <img class="media__thumb" id="file-{{conteudo.id}}" src={{thumbnail}} onclick={{action 'openModal' conteudo.id}} alt="{{conteudo.titulo}}" style="cursor: pointer;" width="160px">
  </picture>

  <div class="media__body flow-md">
    <div>
      <h4 class="media__title title-2 m-top--xxs">{{conteudo.titulo}}</h4>
    </div>
  </div>
</div>