{{#each conteudoAnos as |ano|}}
  <div class="media">

    <div class="flex flex-row gap-xs divider p-bottom--sm w100">

      <button class="btn btn--ghost btn--xxs btn--is-toggle {{if conteudo.situacao 'btn--is-toggle--on'}}" style="width: 6rem" {{action 'postSelectedSituacao' conteudo}}>
        <span class="btn__label label__default">
          <span>
            <span class="icon-x color-error-50 m-right--xxs"></span>
            <span>Inativo</span>
          </span>
        </span>
        <span class="btn__label label__active">
          <span>
            <span class="icon-check color-success-50 m-right--xxs"></span>
            <span>Ativo</span>
          </span>
        </span>
        {{!-- <span class="btn__label label__active">{{if conteudo.situacao "Ativo" "Inativo"}}</span> --}}
      </button>

      <a href="#" class="btn btn--text btn--xxs" {{action 'goToEditConteudo' conteudo.id}}>
        {{!-- <span class="btn__icon icon-edit"></span> --}}
        <span class="btn__label">Editar este item</span>
      </a>
      {{!-- {{#if (equalstr pessoaRole 'admin')}}
        <div class="checkbox">
          <input class="checkbox__input" id={{conteudo.id}} type="checkbox" name="situacao" onchange={{ action 'postSelectedSituacao' conteudo}} checked={{conteudo.situacao}}>
          <label class="checkbox__label" for="{{conteudo.id}}">{{if conteudo.situacao "Ativo" "Inativo"}}</label>
        </div>
      {{/if}} --}}
    </div>

    <div class="media__body">

      <div class="flex flex-row items-center justify-between self-stretch gap-xxl">

        <span class="flex flex-col items-start flow-sm">
          {{#each conteudo.publicos as |publico|}}
            <span class="flex flex-row items-center gap-xs">
              {{component (strconcat "icon-" publico.nameIcon) class="avatar avatar--is-square avatar--xs color-gray-40"}}
              <span class="title-aux">{{publico.nameFormat}}</span>
            </span>
          {{/each}}
        </span>

        {{conteudo-aula-card conteudo=conteudo ano=ano}}

        {{!--
        <ul>
          <li class="flex flex-row items-center gap-xs" id="Publicos">
            <span class="title-aux">
              Ativo: {{if conteudo.situacao "Ativo" "Inativo"}}
            </span>
          </li>
        </ul>

        <div>
          <span class="title-aux">{{conteudo.tema.name}}</span>
          <span class="media__title m-top--xxs">{{conteudo.titulo}}</span>
        </div>
        --}}

        <span class="flex flex-col items-center m-left--auto">
          {{component (strconcat "icon-" conteudo.tipo)}}
          <span class="title-aux">{{conteudo.tipo}}</span>
        </span>

      </div>

    </div>

  </div>
{{/each}}
