{{#if aulasAno}}
    <div class="flex flex-col items-start">
        <span class="title-4">
            {{aulasAno.firstObject.plataformaAno.segmento.titulo}}
        </span>
        <span class="flex flex-row flex-wrap">
            {{#each aulasAno as |aulaA index|}}
                {{#if (islower index 5)}}
                    <span class="title-aux">{{aulaA.titulo}}</span>
                {{/if}}
                {{#if (equalstr index 6)}}
                    <span class="title-aux">...</span>
                {{/if}}
            {{/each}}
        </span>
    </div>

    <div>
        <span class="title-4">{{ano}}</span>
    </div>
    {{!--
    <li>
        Atrelado a <strong>{{aulasAno.length}}</strong> aulas |
        {{#each aulasAno as |aulaA index|}}
            {{#if (islower index 5)}}
                <span class="title-aux">{{aulaA.titulo}}</span>
            {{/if}}
            {{#if (equalstr index 6)}}
                <span class="title-aux">...</span>
            {{/if}}
        {{/each}}
    </li>
    --}}
{{/if}}
