

<div class="row">
    <h1>Origem</h1>
    <label for="">Endereço de Vídeo</label>
    <input type="text" id="videoUrlId" name="video" value={{conteudo.videoUrl}} placeholder='Endereço de Vídeo' 
        onchange={{ action 'urlvideoChanged' value='target.value' }}>
    <div class="row"> OU </div>

    <label for="">Arquivo em PDF, PNG ou JPEG</label>
    <input multiple="false" name='pdf' type="file" value=conteudo.path 
    placeholder='Arquivo PDF' accept="image/png,image/jpeg,application/pdf" 
    onchange={{action 'Upload'}} />
</div>

<div class="row">
    <h1>Configuração</h1>
    <label for="">Titulo do Conteúdo</label>
    {{input name='' value=conteudo.titulo placeholder='Titulo do Conteúdo'}}
    
    <div></div>
    <div>Faz parte de qual agrupamento?</div>
    {{#each agrupamento as |a|}}
        <input type="radio" id={{a.id}} name="nomeagrupamento" 
        onchange={{ action 'agrupamentoChanged' a.id }}>
        <label>{{a.name}}</label>
        <div>{{a.descricao}}</div>
        <div> </div>

        {{#if (equalstr a.id conteudo.agrupamento.id)}}
            {{#if a.temas.length}}
                <label>TEMA</label>
                <select name="tema" id="tema{{conteudo.id}}" onchange={{action 'refreshSelectedTema' value='target.value'}}>
                    <option value="">---</option>
                    {{#each a.temas as |t|}}
                        <option value="{{t.id}}" selected={{if (equalstr t.id conteudo.agrupamento.tema.firstObject.id) "selected"}}>{{t.name}}</option>
                    {{/each}}
                </select> 
                <div> </div>
            {{/if}}
        {{/if}}
    {{/each}}
    
    <div> </div>
    <div> </div>
    <div>Qual a situação após o cadastro?</div>
    <div class="row">
        <input type="radio" id={{conteudo.id}} name="situacao" 
        onchange={{ action 'refreshSelectedSituacao' "true" }}>
        <label>Ativo</label>
        <div></div>
        <input type="radio" id={{conteudo.id}} name="situacao" 
        onchange={{ action 'refreshSelectedSituacao' "false" }}>
        <label>Inativo</label>
    </div>
</div>

<div></div>
<div class="row">
    <h1>Público</h1>
    <label for={{pub.id}}>A quem se destina?</label>
    <div class="row">
        {{#each publico as |pub|}}
            <input
            type="checkbox"
            checked={{checked}}
            value={{pub.id}}
            onchange={{action 'publicoChanged' value='target.value'}} />
            <label>{{pub.name}}</label>
        {{/each}}
    </div> 
    <div class="row"></div>
    {{#if (equalstr this.agrupamentoAula "true")}}
        <div class="row">
            {{!-- aulas já atreladas a este conteúdo --}}
            {{#if conteudo.aulas.length}}
                {{#each conteudo.aulas as |aulacadastrada|}}
                    <div class="row">
                        <label>Segmento</label>
                        <label>{{aulacadastrada.plataformaAno.segmento.titulo}}</label>
                        
                        <div class="row"></div>
                        <label>Ano</label>
                        <label>{{aulacadastrada.plataformaAno.name}}</label>

                        <div class="row"></div>
                        <label>Aula</label>
                        <label>{{aulacadastrada.titulo}}</label>
                        
                        <button type="button" class="btn btn-default" {{action "removeAula" aulacadastrada}}>Remover</button>
                    </div>
                {{/each}}
            {{/if}}
            
            {{!-- formulário de um conteúdo --}}
            {{conteudo-aula-form conteudo=conteudo adicionarAula=adicionarAula
            segmentos=segmentos anos=anos aulas=aulas}}
        </div>
        {{#if (equalstr this.adicionarAula "false")}}
            <button type="button" class="btn" {{action "addAulas"}}>Adicionar Ano/Aula</button>
        {{/if}}
    {{/if}}
</div>


<button type="button" class="login__cta btn" {{action "saveConteudo" conteudo}}>Salvar</button>