<!-- Header geral -->
<header class="l-user-header l-user-header--themed l-user-header--{{if (equalstr pessoa.role 'aluno') pessoa.role toggleRole}}">
  <div class="flex itens-start gap-lg">
    <picture class="l-user-header__avatar avatar avatar--lg">
      {{#if pessoa.uriAvatar}}
        <img class="avatar__img" src={{pessoa.uriAvatar}} alt="{{pessoa.name}}">
      {{else}}
        <img class="avatar__img" src="/assets/img/avatar-default.svg" alt="{{pessoa.name}}">
      {{/if}}
    </picture>
    <div class="flex-auto flow-xs">
      <div class="flex flex-row flex-wrap items-baseline gap-xs">
        <h2 class="title-1">{{firstnameoremailpart pessoa.name}}</h2>
        {{#if (equalstr pessoa.role 'aluno')}}
          <button class="btn btn--link m-bottom--xxs m-top--auto">
            <span class="btn__label" {{action 'invalidateSession'}}>Não é você? Faça logout</span>
          </button>
        {{/if}}
      </div>
      <span class="l-user-header__role title-aux">
        {{#if (equalstr pessoa.role 'aluno')}}
          {{selectedSegmento}} - {{selectedAno}}
        {{else}}

          {{#if (equalstr toggleRole 'instrutor')}}
            Professor{{#if (equalstr pessoa.genero 'feminino')}}a{{/if}} aplicador{{#if (equalstr pessoa.genero 'feminino')}}a{{/if}}
            {{#if (isbigger segmentos.length "1")}}
              dos segmentos
               {{#each segmentos as |seg index|}}
                  <span class="fs-i">{{seg}}</span>
                   {{#if (equalstr index (sub segmentos.length 2))}} e
                   {{else}}
                    {{#if (equalstr index (sub segmentos.length 1))}}
                    {{else}},
                   {{/if}}
                   {{/if}}
               {{/each}}
             {{else}}
              do
              {{#each segmentos as |seg|}}
                <span class="fs-i">{{seg}}</span>
               {{/each}}
            {{/if}}

          {{else}}
            {{toggleRole}}
          {{/if}}

        {{/if}}
      </span>

      <!-- veta quem não é prof -->
      {{#if (equalstr pessoa.role 'instrutor')}}
        <!-- veta quem não tem filho -->
        {{#if pessoa.dependentes}}
          <!-- alterna entre perfis -->
          {{#if (equalstr toggleRole 'instrutor')}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'responsavel'}}>
              <span class="btn__label">Visualizar como responsável</span>
            </button>
          {{else}}
            <button class="btn btn--link m-left--xs" type="button" {{action 'toggleRole' 'instrutor'}}>
              <span class="btn__label">Visualizar como professor</span>
            </button>
          {{/if}}
        {{/if}}
      {{/if}}

      <nav>
        <ul class="tabs tabs--full-background">
          <li>
            {{#link-to 'aulas.index' class="tabs__tab"}}
                <span>Aulas</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'aulas.bibliotecaindex' class="tabs__tab"}}
                <span>Biblioteca</span>
            {{/link-to}}
          </li>
          <li>
            {{#link-to 'aulas.acompanhamento' class="tabs__tab"}}
                <span>Acompanhamento</span>
            {{/link-to}}
          </li>

          {{#if Ano.urlLivro}}
            <li>
              <a class="tabs__tab" href="{{Ano.urlLivro}}" target="_blank" rel="nofollow noopener noreferrer">
                <span>Livro (PDF) {{selectedAno}}</span>
              </a>
            </li>
          {{/if}}

        </ul>

      </nav>
    </div>
  </div>
</header>