<div class="media" id="item-{{item.id}}">

  {{#if (equalstr pessoaRole 'admin')}}
    <div class="w100">
      <a class="btn btn--xxs" href="#" {{action goToEditItem item.id}}>
        <span class="btn__icon icon-edit"></span>
        <span class="btn__label">Editar este item</span>
      </a>
    </div>
  {{/if}}
  
  <picture class="media__picture bg-white shadow-3 p--sm">
    <img class="media__thumb" id="item-{{item.id}}" src={{if (containerUrl item.capa) item.capa '/assets/img/dark__thumb.png'}} alt="{{item.titulo}}">
  </picture>

  <div class="media__body flow-xl">
    <div class="flow-sm">
      <div class="flow-xs">
        <span class="title-aux">Atualizado em {{item.dataAtualizacaoFormat}}</span>
        <h4 class="media__title title-2 m-top--xxs">{{item.titulo}}</h4>
      </div>
      <p>{{item.descricao}}</p>
    </div>

    <div class="flex flex-row">
      {{#each item.arquivos as |arquivo|}}
        {{#if (containerUrl arquivo.url)}}
          <a href={{arquivo.url}} download={{arquivo.name}} target="_blank"> {{!-- rel="nofollow noopener noreferrer"> --}}
            <button class="btn btn--xxs btn--ghost m-right--xxs">
              <span class="btn__label">{{arquivo.tipo}}</span>
            </button>
          </a>
        {{else}}
          <button class="btn btn--xxs btn--ghost m-right--xxs" disabled>
            <span class="btn__label">{{arquivo.tipo}} (Uploading...)</span>
          </button>
        {{/if}}
      {{/each}}
    </div>
  </div>

</div>
