<div class="row">
    <div class="col-xs-12 col-md-6">

        <div class="flow-xxl">

            <div class="flex flex-col flow-md">
                <h2 class="title-3">Informações</h2>

                <div class="form-group">
                    <label class="form-group__label">Nome do item</label>
                    {{input class="form-group__input" name='' value=model.titulo placeholder='Nome do item'}}
                </div>

                <div class="form-group">
                    <label class="form-group__label">Descrição</label>
                    {{textarea class="form-group__input" value=model.descricao placeholder='Descrição do item' rows="5"}}
                </div>

                <div class="form-group">
                    <label class="form-group__label">Áreas</label>
                    <div class="form-group__wrapper form-group__wrapper--select">
                        <select class="form-group__input form-group__input--select" name="area" id="area{{model.id}}" onchange={{action 'refreshSelectedArea' value='target.value'}}>
                            {{#each areas as |area|}}
                                <option value="{{area.id}}" selected={{if (equalstr area.id model.area.id) "selected"}}>{{area.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>

            </div>

            <div class="flex flex-col flow-md">
                <h2 class="title-3">Arquivos</h2>

                {{#if model.arquivos}}

                    <h1>Arquivo adicionado:</h1>

                    <ul class="list list--striped">

                    {{#each model.arquivos as |arquivoItem|}}
                        <li>
                            <h2 class="sr-only">{{arquivoItem.tipo}}</h2>
                            <div class="flex flex-row items-center gap-sm">
                                {{#if (base64 arquivoItem.arquivo)}}
                                    <span class="avatar avatar--lg avatar--is-square">
                                        <object id="showfiles"
                                                data={{arquivoItem.thumb}}></object>
                                    </span>
                                {{else}}
                                    <span class="avatar avatar--lg avatar--bordered avatar--is-square">
                                        <img src="{{arquivoItem.thumb}}" alt="{{arquivoItem.name}}">
                                        <a class="btn btn--link color-success-40" href={{arquivoItem.url}} target="_blank" rel="nofollow noopener noreferrer">
                                            <span class="btn__label">Abrir arquivo</span>
                                        </a>
                                    </span>
                                {{/if}}

                                <div class="flow-xxs flex flex-col">
                                    <span class="title-3 tt-u">{{arquivoItem.tipo}}</span>
                                    <span class="color-leaf-50">{{arquivoItem.name}}</span>
                                </div>

                                <button class="btn btn--text color-error-40" type="button" {{action "removeArquivo" arquivoItem}}>
                                    <span class="btn__label">Remover</span>
                                </button>

                            </div>
                        </li>
                    {{/each}}

                    </ul>

                {{/if}}

                <label class="btn btn--add-list-item">
                    <input style="display: none;" multiple="true" id="file-selector" name='file' type="file" value='' placeholder='Adicionar Arquivo' onchange={{action 'Upload'}} />
                    <span class="btn__icon icon-plus"></span>
                    <span class="btn__label">Adicionar Arquivo</span>
                </label>

            </div>

            <button type="button" class="btn" {{action "saveItem" model}}>Cadastrar</button>

        </div>


    </div>
</div>

{{!-- <div class="row">
    <label for="">ARQUIVOS</label>

    {{#if model.arquivos}}

        <h1>Arquivo adicionado:</h1>

        {{#each model.arquivos as |arquivoItem|}}

            {{arquivoItem.tipo}}{{arquivoItem.name}}


            {{#if (base64 arquivoItem.arquivo)}}
                <object id="showfiles" data={{arquivoItem.thumb}}></object>
            {{else}}
                <a class="btn btn--ghost btn--xxs" href={{arquivoItem.url}}>
                    <img src="{{arquivoItem.thumb}}" alt="{{arquivoItem.name}}">
                </a>
            {{/if}}

            <button type="button" class="btn" {{action "removeArquivo" arquivoItem}}>Remover</button>

        {{/each}}

    {{/if}}

    <label class="btn btn--add-list-item">
        <input style="display: none;" multiple="true" id="file-selector" name='file' type="file" value='' placeholder='Adicionar Arquivo' onchange={{action 'Upload'}} />
        <span class="btn__icon icon-plus"></span>
        <span class="btn__label">Adicionar Arquivo</span>
    </label>

</div>

<button type="button" class="btn" {{action "saveItem" model}}>Cadastrar</button> --}}
