{{#if (equalstr type 'modulo')}}
    {{!-- <div style="display: none;">{{value}}</div> --}}
    {{#if (equalstr itens_completos total)}}
         <button class="card__cta btn btn--sm">Rever curso</button>
    {{else if (equalstr value 0)}}
        <button class="card__cta btn btn--sm">Iniciar curso</button>
    {{else}}
         <button class="card__cta btn btn--sm">Continuar curso</button>
    {{/if}}

{{/if}}

{{!-- {{#if (equalstr type 'modulo_o')}}
    <div class="module_card_progress">
        <div class="card__support-text module_card_finished">
            <span>{{itens_completos}} de {{total}} aulas concluídas</span>
        </div>
        <div class="card__progress progress">
            <div class="progress__bar progress-bar" role="progressbar" style={{string}} aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100"></div>
            <span class="progress__amount progress-bar-text">{{value}}%</span>
        </div>
    </div>

    {{#if (equalstr itens_completos total)}}
        <button class="bttn card__cta module_card_status">
            <span>REVER</span>
        </button>
    {{else if (equalstr value 0)}}
        <button class="bttn card__cta module_card_status">
            <span>INICIAR</span>
        </button>
    {{else}}
        <button class="bttn card__cta module_card_status">
            <span>CONTINUAR</span>
        </button>
    {{/if}}

{{/if}} --}}

 {{!-- {{#if (equalstr type 'aula')}}
     {{#if (equalstr value 0)}}
        <button class="bttn bttn--xs bttn--inverted class-block__cta">
            <span>INICIAR</span>
        </button>
    {{else if (equalstr value 100)}}
        <button class="bttn bttn--xs class-block__cta">
            <span>REVER</span>
        </button>
    {{else}}
        <button class="bttn bttn--xs bttn--inverted class-block__cta">
            <span>CONTINUAR</span>
        </button>
    {{/if}}
    <div class="module_card_progress">
        <div class="card__progress progress">
            <div class="progress__bar progress-bar" role="progressbar" style={{string}} aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

{{/if}} --}}

 {{!-- {{#if (equalstr type 'aula')}}
     {{#if (equalstr value 0)}}
        <button class="bttn aula_card_status info">
            <span>INICIAR</span>
        </button>
    {{else if (equalstr value 100)}}
        <button class="bttn aula_card_status success">
            <span>REVER</span>
        </button>
    {{else}}
        <button class="bttn aula_card_status warning">
            <span>CONTINUAR</span>
        </button>
    {{/if}}
    <div class="module_card_progress">
        <div class="card__progress progress">
            <div class="progress__bar progress-bar" role="progressbar" style={{string}} aria-valuenow={{value}} aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
{{/if}} --}}