{{#if canStepBackward}}
    <button class="btn btn--ghost btn--icon icon-chevron-left" {{action "incrementPage" -1}}></button>
    <button class="btn btn--ghost btn--icon icon-chevrons-left"  {{action "pageClicked" 1}}></button>
{{else}}
    <button class="btn btn--ghost btn--icon btn--disabled icon-chevron-left"></button>
    <button class="btn btn--ghost btn--icon btn--disabled icon-chevrons-left"></button>
{{/if}}

<div class="form-group">
    <input class="form-group__input pagination__input" id="pagination_input" type="text" value="{{currentPage}} de {{totalPages}}" onfocus={{action 'clickPage'}} onblur={{action 'outPage'}} onkeyup={{action 'gotoPage'}}>
</div>


{{!-- <button class="btn btn--ghost btn--icon icon-chevrons-right {{if canStepForward "" "btn--disabled"}}" {{if canStepForward (action "pageClicked" totalPages)}}></button>
<button class="btn btn--ghost btn--icon icon-chevron-right {{if canStepForward "" "btn--disabled"}}" {{if canStepForward (action "incrementPage" 1)}}></button>   --}}


{{#if canStepForward}}
    <button class="btn btn--ghost btn--icon icon-chevrons-right" {{action "pageClicked" totalPages}}></button>
    <button class="btn btn--ghost btn--icon icon-chevron-right" {{action "incrementPage" 1}}></button>
{{else}}
    <button class="btn btn--ghost btn--icon btn--disabled icon-chevrons-right"></button>
    <button class="btn btn--ghost btn--icon btn--disabled icon-chevron-right"></button>
{{/if}}



{{!-- <div class="pagination-centered">
  <ul class="pagination">
    {{#if canStepBackward}}
      <li class="arrow prev enabled-arrow">
        <a href="#" {{action "incrementPage" -1}}>&laquo;</a>
      </li>
    {{else}}
      <li class="arrow prev disabled">
        <a href="#" {{action "incrementPage" -1}}>&laquo;</a>
      </li>
    {{/if}}

    {{#each pageItems as |item|}}
      {{#if item.dots}}
        <li class="dots disabled">
          <span>...</span>
        </li>
      {{/if}}
      {{#if item.current}}
        <li class="active page-number">
          <a>{{item.page}}</a>
        </li>
      {{else}}
        <li class="page-number">
          <a href="#" {{action "pageClicked" item.page}}>{{item.page}}</a>
        </li>
      {{/if}}
    {{/each}}

    {{#if canStepForward}}
      <li class="arrow next enabled-arrow">
        <a href="#" {{action "incrementPage" 1}}>&raquo;</a>
      </li>
    {{else}}
      <li class="arrow next disabled">
        <a href="#" {{action "incrementPage" 1}}>&raquo;</a>
      </li>
    {{/if}}
  </ul>
</div> --}}