<div class="media" id="conteudo-{{conteudo.id}}" style="cursor: pointer;" onclick={{action 'openModal' conteudo}}>
  <picture class="media__picture">
    <img class="media__thumb" id="file-{{conteudo.id}}" src={{thumbnail}} alt="{{conteudo.titulo}}">
  </picture>
  <div class="media__body flow-md">
    <div class="flex flex-col flow-xxs">
      <span class="title-aux">{{conteudo.tema.name}}</span>
      <span class="media__title title-3">{{conteudo.titulo}}</span>
    </div>
  </div>
</div>