{{#if (equalstr pessoa.role "aluno") }}

{{!-- <div class="row">
        <label for="name">Senha</label>
        <button type="button" class="btn btn--md">Alterar senha</button>
    </div> --}}
<div class="flow flow--xl">
    <div class="row">

        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
            <label class="form-group__label" for="name">Nome Completo</label>
               <input   class="form-group__input j-validate"
                        id="person_name"
                        name="name"
                        onblur={{action 'trimAll'}}
                        onfocus={{action 'trimAll'}}
                        onkeydown={{action 'checkName'}}
                        {{!-- oninput={{action 'checkform'}} --}}
                        type="text"
                        value={{pessoa.name}}
                        data-type="nome"
                        data-required="true">
             </div>
                <p class="alert alert__form alert--sm alert--error alert--has-icon m-top--sm animated d250" id="error_name" data-animation="fadeIn">
                    <span class="alert__icon icon-x"></span>
                    <span class="alert__msg"></span>
                </p>
        </div>
        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="genero_student{{pessoa.id}}">Gênero</label>
                <div class="form-group__wrapper form-group__wrapper--select">
                    <select class="j-validate form-group__input form-group__input--select"
                        id="genero_student{{pessoa.id}}" name="genero"
                        onchange={{action 'refreshSelectedGenero' value='target.value'}} data-type="select" data-required="true">
                        <option value="" disabled selected>---</option>
                        <option value="masculino" selected={{if (equalstr pessoa.genero "masculino") "selected"}}>
                            Masculino</option>
                        <option value="feminino" selected={{if (equalstr pessoa.genero "feminino") "selected"}}>Feminino
                        </option>
                        <option value="nao_quis_dizer">Prefiro não dizer</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="serie_student{{pessoa.id}}">Serie</label>
                <div class="form-group__wrapper form-group__wrapper--select">
                    <select class="j-validate form-group__input form-group__input--select"
                        id="serie_student{{pessoa.id}}" name="serie"
                        onchange={{action 'refreshSelectedAno' value='target.value'}} data-type="select" data-required="true">
                        <option value="" disabled selected>---</option>
                        {{#each pessoa.instituicao.plataformaAnos as |pa|}}
                            {{#if (isnotinarray pa plataformaAnosToHide)}}
                                <option value="{{pa.id}}"
                                    selected={{if (equalstr pa.id pessoa.plataformaAnos.firstObject.id) "selected"}}>
                                    {{pa.name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="turma_student{{pessoa.id}}">Turma</label>
                <div class="form-group__wrapper form-group__wrapper--select">
                    <select class="j-validate form-group__input form-group__input--select"
                        id="turma_student{{pessoa.id}}" name="turma"
                        onchange={{action 'refreshSelectedPlataformaTurma' value='target.value'}} data-type="select" data-required="true">
                        <option value="" disabled selected>---</option>
                        {{#each pessoa.instituicao.plataformaTurmas as |pt|}}
                            {{#if (equalstr pt.plataformaAno.id pessoa.plataformaAnos.firstObject.id)}}
                            <option value="{{pt.id}}"
                                selected={{if (equalstr pt.id pessoa.plataformaTurmas.firstObject.id) "selected"}}>
                                {{pt.name}}</option>
                            {{/if}}
                        {{/each}}
                    </select>
                </div>
            </div>

        </div>

    </div>
</div>

<button class="j-submit btn btn--md"
        type="button"
        {{action "saveProfile" pessoa}}>
        <span>Avançar</span>
        <span class="btn__icon icon-arrow-right"></span>
</button>










{{else if (equalstr pessoa.role "instrutor") }}
<div class="flow flow--xl">
    <div class="row">
        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="name_responsavel">Nome Completo</label>
                {{input class="j-validate form-group__input"
                        id="name_responsavel"
                        name="name_responsavel"
                        value=pessoa.name}}
            </div>
        </div>

        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="celular">Número de Celular</label>
                {{input class="j-validate form-group__input"
                        id="celular"
                        name="celular"
                        value=pessoa.telefone }}
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-4 col-lg-3">
            <div class="checkbox">
                <label class="checkbox__label" for="celular">Você aplica o programa?</label>
                {{input class="checkbox__input" type="checkbox" checked=pessoa.isAplicador}}
            </div>
        </div>
    </div>

    {{#if pessoa.isAplicador}}
    <div class="row">

        {{#each segmentos as |seg| }}
            <div class="col-xs-2">
                <div class="row">
                    <input type="checkbox" id="segmento{{seg.id}}"
                        onchange={{action (action "selectSegmento" seg) value='target.checked'}}>
                    <label>{{seg.titulo}}</label>
                </div>
                {{#each seg.plataformaAnos as |platAno|}}
                <div class="row">
                    <input type="checkbox" checked={{if (isinarray platAno pessoa.plataformaAnos) "checked" ''}}
                        id="plat_ano{{platAno.id}}" onchange={{action (action "selectAno" platAno) value='target.checked'}}>
                    <label>{{platAno.name}}</label>
                </div>
                {{/each}}
            </div>
        {{/each}}

    </div>
    {{/if}}
</div>

<button class="btn btn--md"
        type="button"
        {{action "saveResponsible" pessoa}}>
        <span>Avançar</span>
        <span class="btn__icon icon-arrow-right"></span>
</button>











{{else if (equalstr pessoa.role "responsavel") }}
<div class="flow flow--xl">
    <div class="row">

        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="name_responsavel">Nome Completo</label>
                {{input class="form-group__input j-validate"
                        id="name_responsavel"
                        name="name_responsavel"
                        value=pessoa.name}}
            </div>
        </div>

        <div class="col-xs-4 col-lg-3">
            <div class="form-group w100">
                <label class="form-group__label" for="celular">Número de Celular</label>
                {{input class="j-validate form-group__input"
                        id="celular"
                        name="celular"
                        value=pessoa.telefone }}
            </div>
        </div>

    </div>
</div>

<!-- retirar botão depois -->
<button type="button" {{action "saveResponsible" pessoa}}>Salvar</button>

{{/if}}

