<article class="content content--quiz quiz">
  <div class="quiz__body">

    {{!-- <header class="content__header">
      <h2 class="content__title-class">Aula {{model.atividade.idx}}: {{model.atividade.name}}</h2>
      <h3 class="content__title">{{model.nome}}</h3>
    </header> --}}

    <ul class="quiz__questions">

      <li>
        <h4 class="quiz__order">Questão {{questao.idx}}</h4>
        <p class="quiz__question">{{questao.texto}}</p>
        <!--
                    ======================
                    PARA DEVS
                    ======================

                    (1) Não há necessidade de adicionar classes (tipo 'selected') quando o usuário estiver respondendo. A interação via input radio dará conta dos estilos (aparecer botão e trocar estilo da bolota).
                    (2) Quando o usuário retorna a essa página, após ter respondido:
                        (2.1) todos os inputs radio recebem "disabled".
                        (2.2) o 'quiz__answer' da resposta do usuário recebe a classe 'quiz__answer--user'.
                        (2.3) o 'quiz__answer' da resposta certa recebe a classe 'quiz__answer--correct'.
                        (2.4) Um mesmo 'quiz__answer' pode receber as classes inicadas nos itens 2.2 e 2.3.
                    (3) Texto do 'quiz__btn-confirm' pode ser 'Confirmar' ou 'Explicação' dependendo se o usuário estiver respondendo ou retornando a questão, respectivamente.
                    (4) Os elementos 'quiz__nav-arrows' devem receber a classe 'quiz__nav-arrows--clickable', quando o usuário puder ir ou voltar de uma questão para outra.
                -->
        <ul class="quiz__answers">
          {{#each sortedAlternativas as |alternativa idx|}}
          <li class="quiz__answer tooltip" id="option_{{questao.id}}_{{alternativa.id}}">
            <span class="tooltip__bubble tooltip__bubble--gray-darkest">Sua resposta</span>
            <input class="quiz__input" type="radio" name="options" value="a" id="option_icon_{{questao.id}}_{{alternativa.id}}" onclick={{if naoRespondida (action 'selectAnswer' alternativa.id alternativa.videoId alternativa.estadoVideoAlternativa)}}>
            <label class="quiz__answer-text quiz__answer-text--clickable" data-option={{alternativa.id}} for="option_icon_{{questao.id}}_{{alternativa.id}}">{{alternativa.texto}}</label>
            <button class="quiz__btn-confirm btn btn--xs" id="button_{{questao.id}}_{{alternativa.id}}" onclick={{action 'confirmAnswer' alternativa.id}}>Confirmar</button>
          </li>
          {{/each}}
        </ul>
      </li>

    </ul>

    <div class="quiz__nav">
      <a href="#" class="quiz__nav-arrows btn btn--icon btn--md icon-chevron-left {{if idx_anterior 'quiz__nav-arrows--clickable' 'btn--disabled'}}"
        {{action 'changeQuestion' idx_anterior}}></a>
      {{!-- {{#if idx_anterior}}
      <a href="#" class='quiz__nav-arrows quiz__nav-arrows--clickable' {{action 'changeQuestion' idx_anterior}}>
        <span class="icon-chevron-left"></span>
      </a>
      {{else}}
      <button class="quiz__nav-arrows icon-chevron-left"></button>
      {{/if}} --}}

      {{!-- <button class="quiz__btn-confirm quiz__btn-confirm--nav btn quiz__btn-confirm_{{questao.id}}" disabled>Confirmar</button>
      --}}

      {{#each sortedAlternativas as |alternativa idx|}}
      <button class="quiz__btn-confirm quiz__btn-confirm--nav btn quiz__btn-confirm_{{questao.id}}" id="button_mob_{{questao.id}}_{{alternativa.id}}"
        onclick={{action 'confirmAnswer' alternativa.id}}>Confirmar</button>
      {{/each}}

      {{#if enable_next}}
      {{#if idx_proximo}}
      <a href="#" class='quiz__nav-arrows btn btn--icon btn--md icon-chevron-right quiz__nav-arrows--clickable'
        {{action 'changeQuestion' idx_proximo}}></a>
      {{else}}
      <a class="quiz__nav-arrows btn btn--icon btn--md btn--disabled icon-chevron-right"></a>
      {{/if}}
      {{else}}
      <a class="quiz__nav-arrows btn btn--icon btn--md btn--disabled icon-chevron-right"></a>
      {{/if}}
    </div>
  </div>

</article>

<!-- AQUI COMEÇA O FEEDBACK DO VIDEO -->

<div id="video_feedback_{{questao.idx}}" class="content--feedback">
  <button class="content__feedback-close icon-x" {{action 'closeVideo' questao.idx}}></button>
  <div id="video-aprender_{{questao.idx}}" class="video video--has-max-size"></div>
</div>

<!-- AQUI TERMINA O FEEDBACK DO VIDEO -->