<div class="flow recent-added {{if (equalstr modelrole 'responsavel') 'flow--xl' ''}}">

    <div class="row">
        <div class="col-xs-4 col-lg-3">
            {{#if (equalstr modelrole 'responsavel')}}

            {{else if (equalstr modelrole 'instrutor')}}
                <h4 class="title-4">{{visible-index updatedIndex}}º Responsável</h4> 

            {{else}}
                <h3 class="title-3">{{updatedIndex}}º Responsável</h3>
            {{/if}}
        </div>

        <div class="col-xs-4 col-lg-3">
            {{#if (equalstr model.role "aluno")}}
                {{#if (isbigger model.responsaveis.length "1")}}
                    <button {{action "removeResponsible" model responsavel}}>Remover Responsável</button>
                {{/if}}
            {{else}}
                <button {{action "removePartner" model responsavel}}>Remover Responsável</button>
            {{/if}}


        </div>
    </div>

    <!-- talvez seja bom criar o caso de se for o primeiro responsável
    usar o título "Suas informações" e no segundo "2º Responsável"-->

    <div class="flow flow--xl">
        <div class="row">
            <div class="col-xs-4 col-lg-3">
                <div class="form-group__container">
                    <div class="form-group w100">
                        <label class="form-group__label" for="name_responsavel">Nome Completo</label>
                        {{input class="form-group__input j-validate"
                            name="name_responsavel"
                            value=responsavel.name
                            data-type="nome"
                            data-required="true"
                            focus-out=(action 'trimall')
                            focus=(action 'trimall')
                            key-down=(action 'checkName')
                            }}

                    </div>
                    <span class="form__msg form__msg--bellow form__msg--error" aria-live="polite"></span>
                </div>
            </div>

            <div class="col-xs-4 col-lg-3 col-lg-offset-1">
                <div class="form-group__container">
                    <div class="form-group w100">
                        <label class="form-group__label" for="email_responsavel">E-mail</label>
                        {{input class="form-group__input j-validate"
                            type="email"
                            name="email_responavel"
                            value=responsavel.email
                            key-down=(action 'checkemail')
                            focus-out=(action 'validateemail')
                            data-type="e-mail"
                            data-required="true"}}
                    </div>
                    <span class="form__msg form__msg--bellow form__msg--error" aria-live="polite"></span>
                </div>
            </div>

        </div>

        <div class="row items-end row">

            <div class="col-xs-4 col-lg-3">
                <div class="form-group__container">
                    <div class="form-group w100">
                        <label class="form-group__label" for="celular">Número de Celular</label>
                        {{input  id=(concatenate "celular-" updatedIndex)
                            class="j-validate form-group__input"
                            name="celular"
                            maxlength="15"
                            value=responsavel.telefone
                            placeholder="(xx) xxxxx-xxxx"
                            data-type="celular"
                            key-up=(action 'maskcel')
                            data-required="true"
                            data-type="celular"
                            focus-out=(action 'checkcel')
                            input=(action 'celmaxlength')
                            }}

                    </div>
                    <span class="form__msg form__msg--bellow form__msg--error" aria-live="polite"></span>
                    <div>
                        <button class="btn--text btn--xxs m-top--xs" style="position:absolute" {{action 'toggleinput'}}>Não possui celular</button>
                    </div>
                </div>
            </div>

            {{!-- <div class="col-xs-4 col-lg-3"> --}}
                
            {{!-- </div> --}}

        </div>

    </div>
</div>

<!-- retirar botão depois -->
{{!-- <button class="d-none" {{action "saveResponsavel" responsavel}}>Salvar</button> --}}