<div class="flow recent-added {{if (equalstr model.role 'responsavel') 'flow--xl' ''}}">
    {{!--
    {{#if (equalstr model.role 'responsavel')}}
        <h3 class="title-3">{{updatedIndex}}º Responsável</h3>
    {{else}}
        <h4 class="title-4">2º Responsável</h4>
    {{/if}}
    --}}
    <!-- talvez seja bom criar o caso de se for o primeiro responsável
    usar o título "Suas informações" e no segundo "2º Responsável"-->

    <div class="flow flow--xl">
        <div class="row">
            <div class="col-xs-4 col-lg-3">
                <div class="form-group w100">
                    <label class="form-group__label" for="name_responsavel">Nome Completo</label>
                    {{!-- <input type="text" class="form-group__input j-validate" id="name_responsavel"
                        name="name_responsavel" value={{responsavel.name}} onkeydown={{action 'checkName'}} data-type="nome" data-required="true"> --}}
                    {{input class="form-group__input j-validate"
                        name="name_responsavel"
                        value=responsavel.name
                        key-down=(action 'checkName')
                        data-type="nome"
                        data-required="true"}}

                </div>
                <p class="alert alert__form alert--sm alert--error alert--has-icon m-top--sm animated d250"
                    data-animation="fadeIn">
                    <span class="alert__icon icon-x"></span>
                    <span class="alert__msg"></span>
                </p>
            </div>

            <div class="col-xs-4 col-lg-3 col-lg-offset-1">
                <div class="form-group w100">
                    <label class="form-group__label" for="email_responsavel">Email</label>
                    {{input class="form-group__input j-validate"
                        type="email"
                        name="email_responavel"
                        value=responsavel.email
                        key-down=(action 'checkemail')
                        data-type="email"
                        data-required="true"}}

                </div>
                <p class="alert alert__form alert--sm alert--error alert--has-icon m-top--sm animated d250" data-animation="fadeIn">
                    <span class="alert__icon icon-x"></span>
                    <span class="alert__msg"></span>
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-4 col-lg-3">
                <div class="form-group w100">
                    <label class="form-group__label" for="celular">Número de Celular</label>
                    {{!-- {{input class="form-group__input" name='celular' value=responsavel.telefone placeholder='(xx) xxxxx-xxxx' maxlength="15" key-press=(action 'phoneMask' value='target.value')}} --}}
                    {{input class="form-group__input"
                        name="celular"
                        maxlength="15"
                        value=responsavel.telefone
                        placeholder="(xx) xxxxx-xxxx"
                        data-type="celular"
                        key-press=(action 'phoneMask')
                        data-required="false"}}

                </div>
                 <p class="alert alert__form alert--sm alert--error alert--has-icon m-top--sm animated d250"
                    data-animation="fadeIn">
                    <span class="alert__icon icon-x"></span>
                    <span class="alert__msg"></span>
                </p>
            </div>

        </div>
    </div>

    <!-- retirar botão depois -->
    <button class="" {{action "saveResponsavel" responsavel}}>Salvar</button>

</div>