<div class="media">
  <picture class="media__picture">
    {{#each secao.conteudos as |conteudo|}}
        {{#if videoId}}
            <img class="media__thumb media__thumb--16-9" id="vimeo-{{videoId}}{{conteudo.id}}" src="" onclick={{action 'openModal' videoId}} style="cursor: pointer"/>
        {{else}}
            <img class="media__thumb" id="file-{{conteudo.id}}" src="/assets/img/dark__thumb.png"/>
        {{/if}}
    {{/each}}
  </picture>

  <div class="media__body flow-md">
    <div>
      <span class="media__title title-4 m-top--xxs">{{secao.nome}}</span>
    </div>

    {{#if quiz}}
      <ul class="flow-xl not-in-quiz">
          {{#each quiz.questoes as |questao|}}
            <li class="flow-sm">

              <div class="flow-xs">
                <span class="title-aux">Questão {{questao.idx}}</span>
                <div class="not-in-quiz__question">
                  {{{questao.texto}}}
                </div>
              </div>

              <ol class="not-in-quiz__alternatives flow-xs">
                {{#each questao.alternativas as |alternativa|}}
                  <li class="{{if alternativa.correta 'strong'}}">
                      {{alternativa.texto}}
                  </li>
                {{/each}}
              </ol>

            </li>
          {{/each}}
      </ul>
    {{/if}}

  </div>
</div>