<div class="media">
  <picture class="media__picture">
    {{#each secao.conteudos as |conteudo|}}
        {{#if videoId}}
            <img class="media__thumb media__thumb--16-9" id="vimeo-{{videoId}}{{conteudo.id}}" src="" onclick={{action 'openModal' videoId}} style="cursor: pointer"/>
        {{else}}
            <img class="media__thumb" id="file-{{conteudo.id}}" src="/assets/img/dark__thumb.png"/>
        {{/if}}
    {{/each}}
  </picture>

  <div class="media__body flow-md">
    <div>
      <span class="media__title title-2 m-top--xxs">{{secao.nome}}</span>
    </div>

    {{#if quiz}}
      <ul class="flow-xl">
          {{#each quiz.questoes as |questao|}}
            <li class="flow-sm">
                <h2>Questão {{questao.idx}}</h2>
                {{{questao.texto}}}

                <ol>
                  {{#each questao.alternativas as |alternativa|}}
                    <li>
                        {{#if alternativa.correta}}
                            <p><strong>{{alternativa.idx}}) {{alternativa.texto}}</strong></p>
                        {{else}}
                            <p>{{alternativa.idx}}) {{alternativa.texto}}</p>
                        {{/if}}
                    </li>
                  {{/each}}
                </ol>

            </li>
          {{/each}}
      </ul>
    {{/if}}

  </div>
</div>