  <ul class="callout flow flow--lg">
    {{!-- <li>{{student.thumb}}</li> --}}
    <li class="col fs--md">
      <span class="text-aux m-bottom--xxs">Login</span>
      {{student.login}}
    </li>
    <li class="col fs--md">
      <span class="text-aux m-bottom--xxs">Nome completo</span>
      {{student.name}}
    </li>
    <li class="col fs--md">
      <span class="text-aux m-bottom--xxs">Gênero</span>
      {{student.genero}}
    </li>
    {{#each student.plataformaAnos as |pa| }}
      <li class="col fs--md">
        <span class="text-aux m-bottom--xxs">Série</span>
        {{pa.name}}
      </li>
    {{/each}}
    {{#each student.plataformaTurmas as |pt| }}
      <li class="col fs--md">
        <span class="text-aux m-bottom--xxs">Turma</span>
        {{pt.name}}
      </li>
    {{/each}}

  </ul>