<ul>
    <li>{{instrutor.email}}</li>
    <li>{{instrutor.name}}</li>
    <li>{{instrutor.telefone}}</li>
    <li>{{if instrutor.isAplicador "Aplicador" "Não aplicador"}}</li>
    {{#each instrutor.plataformaAnos as |pa| }}
        <li>{{pa.name}}</li>
    {{/each}}
</ul>

