<div class="main__back-container">
  <button class="btn btn--link color-blue-navy-60" {{action 'goToAulas' on="click" }} type="button">
    <span class="btn__icon icon-chevron-left"></span>
    <span class="btn__voltar">Voltar</span>
  </button>
</div>

<div class="row flow-lg">

  <h2 class="col-xs-12 title-2">Meu Perfil</h2>

  <div class="col-xs-12 col-sm-7 col-md-5 flow-xl">
    <section class="flow-sm">
      <h3 class="title-3">Avatar</h3>

      <div class="flex flex-row items-start">
        <div class="form-group">

          <div id="foto" class="image-change">
            <div class="avatar avatar--lg">
              <div class="avatar__img avatar__img--as-bg" id="avatar-modale"
                style="background-image: url('{{uri_avatar}}');">
              </div>
            </div>

            <label class="image-change__cta btn">Alterar imagem
              <input onchange={{action "buscarArquivoAvatar" }} type="file" id="arquivoAvatar" style="display: none;"
                name="file" accept="image/png,image/jpeg, image/jpg" multiple="false" value=''>
            </label>

          </div>
        </div>
      </div>
    </section>

    <section class="flow-sm">
      <header class="flex flex-row items-baseline">
        <h3 class="title-3">Senha</h3>
        {{!-- <span class="font-size--xs fs-i m-left--sm">Última alteração há 8 meses</span> --}}
      </header>

      <form class="flex flex-col" autocomplete="off">
        <div class="form-group__container flow-md">
          <div class="form-group w100">
            <label class="form-group__label" for="pass">Senha antiga</label>
            <input class="form-group__input" type="password" id="pass_profile" value=""
              onkeyup={{action 'updatePasswordChanged' }}>
          </div>

          <div class="form-group w100">
            <label class="form-group__label" for="pass_new">Nova senha</label>
            <input class="form-group__input" type="password" disabled="{{if passwordChanged '' 'disabled'}}"
              id="pass_new_profile" value="">
          </div>


          <div class="form-group w100">
            <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
            <input class="form-group__input" type="password" disabled="{{if passwordChanged '' 'disabled'}}"
              id="pass_new_profile_copy" value="">
          </div>


        </div>


        <button class="btn btn--ghost btn--xxs self-start" type="button" disabled="{{if passwordChanged '' 'disabled'}}"
          {{action 'changePw' }}>Definir nova senha</button>
        {{#if error_pwd}}
        <span
          class="alert alert--error animated fadeIn {{if (isbigger error_pwd.length '0') 'alert--is-show' ''}} m-top--md"
          aria-live="polite" id="error_pass">{{error_pwd}}</span>
        {{/if}}
        {{#if success_pwd}}
        <span
          class="alert alert--success animated fadeIn {{if (isbigger success_pwd.length '0') 'alert--is-show' ''}} m-top--md"
          aria-live="polite" id="error_pass">{{success_pwd}}</span>
        {{/if}}

      </form>

    </section>
  </div>

  <div class="col-xs-12 col-sm-7 col-md-5 col-md-offset-1 flow-xl">
    <section class="flow-sm">
      <h3 class="title-3">Informações pessoais</h3>

      <form class="flex flex-col flow-md" autocomplete="off">
        <div class="form-group">
          <label class="form-group__label" for="email">E-mail</label>
          {{input class="form-group__input" type="email" id="email" value=pessoa.emailCadastrado}}
        </div>

        <div class="form-group">
          <label class="form-group__label" for="nascimento">Data de nascimento</label>
          {{input class="form-group__input" type="date" id="nascimento" max='2020-01-01'
          value=pessoa.nascimentoPlataforma}}
        </div>

        <div class="form-group">
          <span class="form-group__label">Gênero</span>
          <div class="flex flex-row items-center flow-h-md">
            <div class="radio radio--sm">
              <input class="radio__input" checked={{if (equalstr pessoa.genero "feminino" ) "checked" }}
                id="gen_feminino" value="feminino" name="genero" type="radio" onchange={{ action 'refreshGenero' }}>
              <label class="radio__label" for="gen_feminino">feminino</label>
            </div>
            <div class="radio radio--sm">
              <input class="radio__input" checked={{if (equalstr pessoa.genero "masculino" ) "checked" }}
                id="gen_masculino" value="masculino" name="genero" type="radio" onchange={{ action 'refreshGenero' }}>
              <label class="radio__label" for="gen_masculino">Masculino</label>
            </div>
            <div class="radio radio--sm">
              <input class="radio__input" checked={{if (equalstr pessoa.genero "outro" ) "checked" }} id="gen_outro"
                value="" name="genero" type="radio" onchange={{ action 'refreshGenero' }}>
              <label class="radio__label" for="gen_outro">Prefiro não informar</label>
            </div>
          </div>
        </div>
      </form>

    </section>

    <section class="flow-sm">
      <h3 class="title-3">Informações profissionais</h3>
      <ul class="flow-sm">
        <li>Escola: <span class="fw--4">{{pessoa.instituicao.name}}</span></li>
        <li>Cidade: <span class="fw--4">{{pessoa.instituicao.cidade}} / {{pessoa.instituicao.uf}}</span></li>
      </ul>
    </section>

    {{#if pessoa.hasDirtyAttributes}}
    <button class="btn btn--ghost btn--xxs self-start" type="button" {{action 'saveChanges' }}>Salvar
      alterações</button>
    {{/if}}
  </div>
</div>
<div style="display: none;">{{shouldReview}}</div>