<button class="btn btn--link color-blue-navy-60" {{action "voltar"}}>
    <span class="btn__icon icon-chevron-left"></span>
    <span class="btn__label">Voltar</span>
</button>

<h1>Cadastro de novo conteúdo!</h1>
<ul>
    <li>
        <h1>Criar conteúdo</h1>
    </li>
    <div></div>
    {{conteudo-form publicos=publicos agrupamentos=agrupamentos 
    segmentos=segmentos conteudo=conteudo}}
    <button type="button" class="login__cta btn" {{action "saveConteudo" conteudo}}>{{salvarbutton}}{{percentage}}</button>
</ul>