<ul>
  <div class="title-3 btn btn--link list__name{{if (equalstr show 'Aulas') '--is-active' ''}}">
    <button type="button" {{action "filtroAgrupa" "Aulas"}}>Aula</button>
  </div>
  <div class="title-3 btn btn--link list__name{{if (equalstr show 'Biblioteca') '--is-active' ''}}">
    <button type="button" {{action "filtroAgrupa" "Biblioteca"}}>Biblioteca</button>
  </div>

  <li>
      <button type="button" class="login__cta btn" {{action "goToCreateConteudo"}}>Cadastrar conteúdo</button>
  </li>

  <div class="search">
    <div>
      <h2>BUSCAR CONTEÚDOS</h2>
      {{input type="text" class="search" placeholder="Pesquisar Conteúdo" value=search }} 
    </div>

    <label>Perfil</label>
    <div class="row">
      {{#each publicos as |pub|}}
        <input
        type="checkbox"
        checked={{checked}}
        value={{pub.id}}
        onchange={{action 'refreshSelectedPublicos' value='target.value'}} />
        <label>{{pub.nameFormat}}</label>
      {{/each}}
    </div>

    <label>Tipo do Arquivo</label>
    <select name="tipo" id="tipo" onchange={{action 'refreshSelectedTipo' value='target.value'}}>
      <option value="Todos" selected="selected">Todos</option>
      {{#each tipos as |tipo|}}
        <option value="{{tipo}}">{{tipo}}</option>
      {{/each}}
    </select>


    {{#if (equalstr show 'Aulas')}}
      <label>Grupo dos Conteúdos</label>
      <select name="agrupamento" id="agrupamento" onchange={{action 'refreshSelectedAgrupamento' value='target.value'}}>
        <option value="Todos" selected="selected">Todos</option>
        <option value="Básico">Básico</option>
        <option value="Complementar">Complementar</option>
      </select>
      <label>Segmento</label>
      <select name="segmento" id="segmento" onchange={{action 'refreshSelectedSegmento' value='target.value'}}>
        <option value="" selected="selected">---</option>
        {{#each segmentos as |seg|}}
          <option value="{{seg.titulo}}">{{seg.titulo}}</option>
        {{/each}}
      </select>

      <div class="row"></div>
      <label>Ano</label>
      <select name="ano" id="ano" onchange={{action 'refreshSelectedAno' value='target.value'}}>
        <option value="" selected="selected">---</option>
        {{#each segmentos as |seg|}}
          {{#if (equalstr selectedSegmento seg.titulo)}}
            {{#each seg.plataformaAnos as |ano|}}
              <option value="{{ano.name}}">{{ano.name}}</option>
            {{/each}}
          {{/if}}
        {{/each}}
      </select>

      <div class="row"></div>
      <label>Aula</label>
      <select name="aula" id="aula" onchange={{action 'refreshSelectedAula' value='target.value'}}>
        <option value="" selected="selected">---</option>
        {{#each segmentos as |seg|}}
          {{#if (equalstr selectedSegmento seg.titulo)}}
            {{#each seg.plataformaAnos as |ano|}}
              {{#if (equalstr selectedAno ano.name)}}
                {{#each ano.aulas as |aula|}}
                  <option value="{{aula.titulo}}">{{aula.titulo}}</option>
                {{/each}}
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}
      </select>
    {{else}}
      <label>Tema</label>
      <select name="tema" id="tema" onchange={{action 'refreshSelectedTema' value='target.value'}}>
        <option value="Todos" selected="selected">Todos</option>
        {{#each temas as |tema|}}
          <option value="{{tema.name}}" selected={{if (equalstr tema.name selectedTema) "selected"}}>{{tema.name}}</option>
        {{/each}}
      </select>
    {{/if}}
  </div>


  <h4 class="title-3 list__name">GRUPO: {{selectedAgrupamento}}</h4>
  {{#each conteudos as |conteudo|}}
    {{#if (containStr subStr = search mainStr = conteudo.titulo)}}
      {{conteudo-card conteudo=conteudo thisIndex=this show=show
      selectedSegmento=selectedSegmento selectedAno=selectedAno}}
    {{/if}}
  {{/each}}
</ul>