<div class="">

	<h1 class="">Minhas aulas</h1>

	<section class="">

			{{#if modulo_destaque}}

				<div class="" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="">Em destaque</h1>
					<span class="" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="">{{modulo_destaque.name}}</h2>
					<a class="">{{botao_destaque}}</a>
				</div>

			{{else}}

				<div class="" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="">Em destaque</h1>
					<span class="" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="">{{modulo_destaque.name}}</h2>
					<span class="">{{ultimo_acesso}}</span>
					<a class="">{{botao_destaque}}</a>
				</div>

			{{/if}}

	</section>

</div>