{{!-- <div style="display: none;">{{moduloSaved}}</div> --}}
{{!-- <div style="display: none">{{botao_destaque}}</div> --}}
<main class="main main--highlight">

	<!-- Técnica para carregar somente a imagem adequada a cada largura de device -->
	{{!-- <style>
		.highlight__img {
			background-image: url(/assets/img/highlights/resiliencia.jpg);
		}

		@media (min-width: 1200px) {
			.highlight__img {
				background-image: url(/assets/img/highlights/resiliencia--lg.jpg);
			}
		}
	</style>	 --}}
	<!-- Fim de técnica para carregar somente a imagem adequada a cada largura de device -->

	<h1 class="scr-only">Minhas aulas</h1>

	<section class="main__section highlight">

			{{#if modulo_destaque}}

				<div class="highlight__item" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="highlight__subtitle">Em destaque</h1>
					<span class="highlight__img" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="highlight__title">{{modulo_destaque.name}}</h2>
					<a class="highlight__cta btn">{{botao_destaque}}</a>
				</div>

			{{else}}

				<div class="highlight__item" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="highlight__subtitle">Em destaque</h1>
					<span class="highlight__img" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="highlight__title">{{modulo_destaque.name}}</h2>
					<span class="highlight__last-access">{{ultimo_acesso}}</span>
					<a class="highlight__cta btn">{{botao_destaque}}</a>
				</div>

			{{/if}}

	</section>

</main>