{{!-- <div style="display: none;">{{moduloSaved}}</div> --}}
{{!-- <div style="display: none">{{botao_destaque}}</div> --}}
<main class="main main--highlight">

	<!-- Técnica para carregar somente a imagem adequada a cada largura de device -->
	{{!-- <style>
		.highlight__img {
			background-image: url(/assets/img/highlights/resiliencia.jpg);
		}

		@media (min-width: 1200px) {
			.highlight__img {
				background-image: url(/assets/img/highlights/resiliencia--lg.jpg);
			}
		}
	</style>	 --}}
	<!-- Fim de técnica para carregar somente a imagem adequada a cada largura de device -->

	<h1 class="scr-only">Meus cursos</h1>

	<section class="main__section highlight">

			{{#if modulo_destaque}}

				<div class="highlight__item" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="highlight__subtitle">Em destaque</h1>
					<span class="highlight__img" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="highlight__title">{{modulo_destaque.name}}</h2>
					<a class="highlight__cta btn">{{botao_destaque}}</a>
				</div>

			{{else}}

				<div class="highlight__item" {{action 'goToModulo' modulo_destaque}}>
					<h1 class="highlight__subtitle">Em destaque</h1>
					<span class="highlight__img" style={{modulo_destaque.backgroundImage}}></span>
					<h2 class="highlight__title">{{modulo_destaque.name}}</h2>
					<span class="highlight__last-access">{{ultimo_acesso}}</span>
					<a class="highlight__cta btn btn--inverted">{{botao_destaque}}</a>
				</div>

			{{/if}}

	</section>


	{{!-- <section class="main__section">
		<header>
			<h2 class="main__subtitle">Todos os cursos</h2>

			<div class="filter">

				<div class="form-group  ">
					<label class="form-group__label" for="search">Busca</label>
					<div class="form-group__wrapper form-group__wrapper--search">
						<input class="form-group__input" id="search" value={{read_str}} onkeyup={{action "modSearch"}} onblur={{action 'exitModSearch'}} onfocus={{action 'modSearch'}}>
					</div>
				</div>

				<div class="form-group">
					<span class="form-group__label">Status</span>
					<span class="checkbox">
						<input class="checkbox__input" id="not-initiated" type="checkbox" {{action 'filtraCursos' preventDefault=false on='change'}} checked>
						<label class="checkbox__label" for="not-initiated">Não iniciados</label>
					</span>
					<span class="checkbox">
						<input class="checkbox__input" id="on-going" type="checkbox" {{action 'filtraCursos' preventDefault=false on='change'}} checked>
						<label class="checkbox__label" for="on-going">Em andamento</label>
					</span>
					<span class="checkbox">
						<input class="checkbox__input" id="completed" type="checkbox" {{action 'filtraCursos' preventDefault=false on='change'}} checked>
						<label class="checkbox__label" for="completed">Concluídos</label>
					</span>
				</div>

				<div class="form-group">
					<select id="sort_modulos" class="form-group__input form-group__input--select" name="order" {{action 'ordenaCursos' on='change'}}>
						<option value="az">Ordem alfabética A-Z</option>
						<option value="za">Ordem alfabética Z-A</option>
						<option value="enrolled">Inscrição</option>
					</select>
				</div>

			</div>

		</header>
		<ul class="list list--card">
            {{#each sortedModel as |modulo idx|}}
                {{#if modulo.habilitado}}
                    {{#if modulo.atividades.length}}
                        <li class="card">
				            <div class="card__cover" style={{modulo.backgroundImage}}></div>
				            <h3 class="card__title">{{modulo.name}}</h3>
                            <div {{action 'goToModulo' modulo}}>
                                {{modulo-card-comp data=modulo.id type='modulo'}}
                            </div>
			            </li>
                    {{/if}}
                {{/if}}
            {{/each}}
		</ul>
	</section>
	 --}}
</main>