<section class="l-timeline">

  {{scrollToNext}}

  <section class="main__section">

    <h2 class="main__subtitle main__subtitle--timeline">Aulas</h2>

    <div class="timeline">

      <nav class="timeline__inner-nav">
        <ul class="flow-xs">
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToCurrent'}}>Última liberada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToLast'}}>Última acessada</button>
          </li>
          <li>
            <button class="btn btn--text-inverted w100" {{action 'scrollToTop'}}>Ir ao topo</button>
          </li>
        </ul>
      </nav>

      <div class="timeline__begin">
        Início do
        {{#if (equalstr model.idx 1)}}primeiro{{/if}}
        {{#if (equalstr model.idx 2)}}segundo{{/if}}
        {{#if (equalstr model.idx 3)}}terceiro{{/if}}
        ano
      </div>

      <ol class="timeline__line">
        {{#each sortedAtividades as |atividade idx|}}
          <li class="timeline__mark{{if (equalstr (get listaStartUnit idx) 1) ' timeline__mark--start-unit'}}">
            {{#if (equalstr (get listaStartUnit idx) 1)}}
              <!-- o lição que terá o elemento visual  "fim de unidade" acima receberá a classe extra de timeline__mark--start-unit. -->
              {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
            {{else}}
              {{ativ-card-comp atividade=atividade transit=(action 'goAtividadeC') data=atividade.id }}
            {{/if}}
          </li>
        {{/each}}
      </ol>

      <div class="timeline__end">
        Fim do
        {{#if (equalstr model.idx 1)}}
        primeiro
        {{/if}}

        {{#if (equalstr model.idx 2)}}
        segundo
        {{/if}}

        {{#if (equalstr model.idx 3)}}
        terceiro
        {{/if}}
        ano
      </div>

    </div>

  </section>
</section>