<div class="loader" id="firstAccessLoader">
  <div class="loader__circle">
    <img src="/assets/img/logo__programa-semente.jpg">
    {{!-- <svg class="loader__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 123 161">
      <title>semente-simbolo</title>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <g id="simbolo">
            <line id="caule" class="loader__steam" x1="61.5" y1="45" x2="61.5" y2="161" />
            <line id="ramo3" class="loader__steam" x1="80.8" y1="126.95" x2="61.7" y2="146.05" />
            <circle id="copa3" class="loader__foliage" cx="99.5" cy="116.5" r="21.5" />
            <line id="ramo4" class="loader__steam" x1="42.7" y1="126.95" x2="61.8" y2="146.05" />
            <circle id="copa4" class="loader__foliage" cx="23.5" cy="116.5" r="21.5" />
            <line id="ramo2" class="loader__steam" x1="80.8" y1="73.95" x2="61.7" y2="93.05" />
            <circle id="copa2" class="loader__foliage" cx="99.5" cy="63.5" r="21.5" />
            <line id="ramo1" class="loader__steam" x1="42.7" y1="73.95" x2="61.8" y2="93.05" />
            <circle id="copa1" class="loader__foliage" cx="23.5" cy="63.5" r="21.5" />
            <circle id="copa-topo" class="loader__foliage" cx="61.5" cy="23.5" r="21.5" />
          </g>
        </g>
      </g>
    </svg> --}}
  </div>
</div>
<style>
  .header {
    display: none;
  }
</style>
<div class="first-access {{if goToStepTwo 'first-access--two'}}" id="firstAccess" style="display:none">

  <div class="first-access__step-one">

    <h1 class="first-access__title"><span class="truncate">{{userName}},</span>bem-vindo ao CORESkills!</h1>

    <p class="first-access__lead">É necessário trocar sua senha:</p>
    <form {{action 'changePw' on="submit"}}>
      <div class="form-group form-group--vertical form-group--full-width form-group--aired-v">
        <label class="form-group__label">Senha atual</label>
        <input id='pwd_old' class="form-group__input" type="password" autocomplete="current-password">
      </div>

      <div class="first-access__new-pass form-group__container">
        <span id="msg-caps-on" class="form__msg form__msg--bellow form__msg--error">
          <span class="form__msg-icon icon-alert-triangle"></span>CapsLock is on
        </span>
        <div class="form-group form-group--vertical form-group--full-width form-group--aired-v">
          <label class="form-group__label">Senha nova</label>
          <input id='pwd_new' class="form-group__input" type="password" autocomplete="new-password">
        </div>
        <div class="form-group form-group--vertical form-group--full-width">
          <label class="form-group__label">Confirme a senha nova</label>
          <input id='pwd_conf' class="form-group__input" type="password" autocomplete="new-password">
        </div>
      </div>
      <p id="actionTxt"></p>
      {{#if error_pwd}}
      <div class="alert alert--sm alert--has-icon alert--error">
        <span class="alert__icon icon-x"></span>
        <p>{{error_pwd}}</p>
      </div>
      {{/if}}

      {{#if success_pwd}}
      <div class="alert alert--sm alert--has-icon alert--warning">
        <span class="alert__icon icon-alert-triangle"></span>
        <p>{{success_pwd}}</p>
      </div>
      {{/if}}

      <button class="first-access__cta btn" style="align-self: flex-end" type="submit">Mudar Senha</button>
    </form>
  </div>

  <div class="first-access__step-two">
    <h1 class="first-access__title">Ótimo!</h1>
    <p class="first-access__lead">Agora é só entrar no sistema.</p>
    {{#link-to 'webapp' class="first-access__cta btn"}}Entrar no sistema{{/link-to}}
  </div>

</div>