<!-- Top content -->
<form class="login bg--students" {{action 'authenticate' on='submit'}}>
  <div class="login__box">
    <h2 class="scr-only">Login</h2>

    {{programa-semente-logo class="login__logo"}}

    <div class="login__form-group form-group">
      <label class="form-group__label" for="identification">Usuário</label>
      <input class="login__input form-group__input" id='identification' autocomplete="username"
        value={{identification}} autofocus="autofocus"> <!-- placeholder="e-mail" -->
    </div>

    <div class="login__form-group form-group">
      <label class="form-group__label" for="password">Senha</label>

      <div class="form-group__container">
        <span id="msg-caps-on" class="form__msg form__msg--error">
          <span class="form__msg-icon icon-alert-triangle"></span>Caps Lock is on
        </span>
        <input class="login__input login__input-pass form-group__input pwd" id="password" autocomplete="password"
          type="password" value={{password}}>
        <button class="login__show-pass" type="button" {{action "passwordVisibility"}}>
          <span class="icon-eye-off"></span>
          <span class="icon-eye"></span>
        </button>
      </div>

      <button class="login__forgot-pass" type="button" {{action 'forgotPass'}}>Esqueceu sua senha?</button>
      <button class="login__forgot-pass" type="button" {{action 'autoRegister'}}>Cadastre-se</button>

    </div>
    <div class="form-group">
      <span class="checkbox">
        <input class="checkbox__input" id="remember" checked="checked" name="remember" type="checkbox" value={{remember}}>
        <label class="checkbox__label" for="remember">Salvar informações</label>
      </span>
    </div>
    {{#if errorMessage}}
      <div class="login__alert alert alert--has-icon alert--error alert--xxs">
        <span class="alert__icon icon-x"></span>
        <p>{{{errorMessage}}}</p>
      </div>
    {{/if}}

    {{#if success_mail}}
      <div class="login__alert alert alert--has-icon alert--success alert--xxs">
        <span class="alert__icon icon-check"></span>
        <p>{{{success_mail}}}</p>
      </div>
    {{/if}}

    <button class="login__cta btn" id="login_button" type="submit">Entrar</button>
  </div>
</form>

<aside id="forgot_modal" class="modal">

  <div class="modal__content modal__content--sm">

    <header class="modal__header">
      <button class="modal__close btn-close icon-x" type="submit" {{action 'cancelForgot'}}></button>

      <h3 class="modal__title">Solicitar nova senha</h3>
    </header>
    <div class="modal__body">
      <p>Preencha seu e-mail abaixo para receber uma nova senha em e-mail.</p>

      <div class="login__form-group form-group form-group--full-width">
        <input class="form-group__input" type="textbox" id="user_email"
          value={{user_email}}><!-- placeholder="Insira seu endereço de e-mail" -->
      </div>

      {{#if error_forgot}}
        <div class="alert alert--error alert--has-icon alert--xxs">
          <span class="alert__icon icon-alert-triangle"></span>
          <p>{{{error_forgot}}}</p>
        </div>
      {{/if}}

    </div>
    <div class="modal__footer modal__footer--center">
      <button class="btn" type="submit" {{action 'sendMail'}}>Solicitar nova senha</button>
    </div>

  </div>

  <div class="modal__overlayer"></div>
</aside>


{{!-- old abaixo --}}

{{!-- <!-- Top content -->
<div class="login_body text-center">
    <!-- LOGO -->
    <a href="#" class="logo text-center"></a> --}}
<!-- LOGO SUB-TEXT -->
{{!-- <p class="login_text">PARA TER ACESSO AO CONTEÚDO DAS AULAS  VOCÊ PRECISA ENTRAR COM SUAS INFORMAÇÕES DE ACESSO NOS CAMPOS ABAIXO.</p> --}}

<!-- LOGIN FORM -->
{{!-- <form class="login_form text-center">
        <input id='identification' type ='email' class='form-control' value={{identification}} autocomplete="username" placeholder="e-mail">
        <input id='password' class='form-control' placeholder='senha' type='password' value={{password}} autocomplete="password"> --}}
{{!-- <label class="label_checkbox">SALVAR INFORMAÇÕES
            <input id="remember" type="checkbox" checked={{remember}}  name="remember" value={{remember}} autocomplete="off">
            <span class="checkmark"></span>
        </label> --}}
{{!-- <label class="container container-login">SALVAR INFORMAÇÕES
            <input type="checkbox" id="remember" checked="checked" name="remember" value={{remember}}>
            <span class="checkmark"></span>
        </label>
        <div class="form-group">
            <button id="login_button" type="submit" class="btn" {{action 'authenticate'}}>ENTRAR NO SISTEMA</button>
        </div>
        <a href="#" class="login_text forget_login_text"  {{action 'forgotPass'}}>ESQUECI MEU LOGIN/SENHA</a>
        {{#if errorMessage}}
            <p class="error-message">
                {{{errorMessage}}}
            </p>
        {{/if}}
        {{#if success_mail}}
            <p style="color:goldenrod">
                {{{success_mail}}}
            </p>
        {{/if}}
    </form>
</div>
<div id="forgot_modal" class="modal">
    <div class="modal-content">
        <div class="container-fluid">
            <div class="modal-header">
                <button class="close" type="submit" {{action 'cancelForgot'}}>&times;</button>

                <h4 class="modal-title">Senha Esquecida</h4>
            </div>
            <div class="modal-body">
                <div class="row row-modal-spacer">
                    <div class="col-xs-12">
                        Uma nova senha será enviada para seu e-mail
                    </div>
                </div>
                <div class="row row-modal-spacer"> --}}
{{!-- <div class="col-xs-4">e-mail</div> --}}
{{!-- <div class="col-xs-12 col-lg-offset-2 col-lg-8"><input placeholder="Insira seu endereço de e-mail" class="text-center form-control" type="textbox" id="user_email" value={{user_email}}></div>
                </div>
                {{#if error_forgot}}
                    <div class="row row-modal-spacer">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-10 error-message" style="text-align: center;">{{{error_forgot}}}</div>
                    </div>
                {{/if}}
            </div>
            <div class="modal-footer">
                <div class="row"> --}}
{{!-- <div class="col-xs-6" style="text-align: center;">
                        <button class="button1" type="submit" {{action 'cancelForgot'}}>Cancelar</button>
                    </div> --}}
{{!-- <div class="col-xs-12" style="text-align: center;">
                        <button class="btn btn-primary" type="submit" {{action 'sendMail'}}>Enviar nova senha</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}