<!-- user help -->
<div style="display: none;">{{InstituicaoId}}</div>
<div style="display: none;">{{InstituicaoName}}</div>

<aside class="help" id="help">
  <h1 class="sr-only">Pedir ajuda ou enviar dúvida, sugestão ou reportar problema</h1>
  <button id="help__trigger" class="help__trigger btn btn--icon btn--md icon-help-circle" {{action "toggleHelp"}}></button>
  <div id="help__container" class="help__container">
    <button id="help__close" class="help__close btn-close icon-x" {{action "toggleHelp"}}></button>
    <div id="formHelp" class="help__form">
      <div class="help__basic-info">
        <span class="help__user-avatar avatar"><img src={{uri_avatar}}></span>
        <div class="overflow-hidden">
          <h2 class="title-2 truncate">{{username}}</h2>
          {{#each model as |pessoa idx|}}
          {{#if (equalstr id_instituicao pessoa.instituicao_id)}}
          <span id="instName" class="help__user-institution title-aux">
            {{pessoa.instituicao_name}}
          </span>
          {{/if}}
          {{/each}}
        </div>
      </div>
      <p class="title-3">Fale conosco o que quiser!</p>
      <p>Pode ser <strong>sugestão</strong>, <strong>reportar um erro</strong> ou <strong>um elogio</strong>.</p>
      <div class="form-group">
        <label class="form-group__label" for="helpMsg">Mensagem</label>
        <textarea class="form-group__input" id="helpMsg" rows="6" form="formHelp" wrap required autofocus></textarea>
      </div>
      <button class="help__cta btn" id="help__cta" {{action 'supportMailer'}}>Enviar</button>
    </div>
    <div class="help__success">
      <span class="icon-check icon--success icon--xxl"></span>
      <p class="title-aux">Mensagem enviada com sucesso!</p>
    </div>
  </div>
</aside>

<header class="header" id="header_layout">

  <!-- short -->
  <svg class="header__logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.53 80">
    <g>
      <path class="fill-gray-40" d="M23.22 72.14a1.49 1.49 0 01-1.49-1.49V24.71a1.49 1.49 0 013 0v45.94a1.49 1.49 0 01-1.51 1.49z" />
      <path class="fill-gray-40" d="M23.22 45.67a1.51 1.51 0 01-1.06-.44 1.48 1.48 0 010-2.1l8.36-8.36a1.49 1.49 0 112.11 2.1l-8.36 8.36a1.49 1.49 0 01-1.05.44z" />
      <path class="fill-gray-40" d="M23.22 45.67a1.51 1.51 0 01-1.06-.44l-8.35-8.36a1.48 1.48 0 112.1-2.1l8.36 8.36a1.49 1.49 0 01-1.05 2.54zM23.22 65.36a1.5 1.5 0 01-1.06-.43l-7.86-7.86A1.49 1.49 0 0116.41 55l7.86 7.86a1.5 1.5 0 010 2.11 1.48 1.48 0 01-1.05.39z" />
      <path class="fill-gray-40" d="M23.22 65.36a1.49 1.49 0 01-1.06-2.54L30 55a1.49 1.49 0 112.11 2.11l-7.86 7.86a1.48 1.48 0 01-1.03.39z" />
      <path class="fill-green-20" d="M23.22 24.81a8.89 8.89 0 118.89-8.89 8.9 8.9 0 01-8.89 8.89zm0-14.8a5.92 5.92 0 105.91 5.91A5.92 5.92 0 0023.22 10zM37.54 40.33a8.9 8.9 0 118.89-8.89 8.9 8.9 0 01-8.89 8.89zm0-14.81a5.92 5.92 0 105.92 5.92 5.92 5.92 0 00-5.92-5.92zM8.89 40.33a8.9 8.9 0 118.9-8.89 8.9 8.9 0 01-8.9 8.89zm0-14.81a5.92 5.92 0 105.92 5.92 5.92 5.92 0 00-5.92-5.92zM8.94 61.21a8.9 8.9 0 118.9-8.89 8.9 8.9 0 01-8.9 8.89zm0-14.81a5.92 5.92 0 105.92 5.92 5.92 5.92 0 00-5.92-5.92zM37.49 61.21a8.9 8.9 0 118.89-8.89 8.9 8.9 0 01-8.89 8.89zm0-14.81a5.92 5.92 0 105.91 5.92 5.93 5.93 0 00-5.91-5.92z" />
      <path class="fill-blue-navy-60" d="M65.08 59.61a.63.63 0 01.73.43c.62 2 2.09 3.05 4.43 3.05 2 0 3-.63 3-1.84 0-.89-.74-1.55-2.18-2l-2.91-1.11a15.4 15.4 0 01-5-2.47 6.43 6.43 0 01-2.59-5.09 7.2 7.2 0 012.81-5.93 10.75 10.75 0 017-2.25c4.52 0 7.61 2 9.21 6.07a.62.62 0 01-.41.82l-5 1.43a.63.63 0 01-.75-.36 2.86 2.86 0 00-2.89-2.06c-1.37 0-2.44.59-2.44 1.62 0 .81.7 1.48 2.11 2l2.87 1c5.57 1.92 7.56 4.31 7.67 8.15a6.64 6.64 0 01-3 5.93 13.15 13.15 0 01-7.5 2c-5.81 0-9.72-2.69-10.7-7.48a.62.62 0 01.46-.73zM100.38 68.58H84.89a1.63 1.63 0 01-1.64-1.64V44.41a1.64 1.64 0 011.64-1.64h15.49a1.65 1.65 0 011.62 1.64v3.36a1.64 1.64 0 01-1.64 1.64h-8.7a.69.69 0 00-.69.69v2a.69.69 0 00.69.69H99a1.64 1.64 0 011.64 1.64V57A1.65 1.65 0 0199 58.67h-7.3a.68.68 0 00-.69.68v1.91a.69.69 0 00.69.69h8.7a1.64 1.64 0 011.6 1.64v3.35a1.64 1.64 0 01-1.62 1.64zM120.78 68.33h-2.42a1.93 1.93 0 01-1.81-1.25L113 57.72a.22.22 0 00-.42.06l-.74 9a1.93 1.93 0 01-1.93 1.77h-3.8a1.93 1.93 0 01-1.93-2.11l2-21.94a1.94 1.94 0 011.93-1.76h4.29a1.94 1.94 0 011.8 1.22l5.18 12.95a.21.21 0 00.4 0L124.94 44a2 2 0 011.8-1.22H131a1.94 1.94 0 012 1.75l2 21.94a1.93 1.93 0 01-2 2.11h-3.8a1.94 1.94 0 01-1.93-1.77l-.73-9a.22.22 0 00-.42-.06l-3.57 9.36a2 2 0 01-1.77 1.22zM155 68.58h-15.47a1.64 1.64 0 01-1.64-1.64V44.41a1.65 1.65 0 011.64-1.64H155a1.64 1.64 0 011.64 1.64v3.36a1.63 1.63 0 01-1.64 1.64h-8.7a.68.68 0 00-.68.69v2a.68.68 0 00.68.69h7.3a1.64 1.64 0 011.64 1.64V57a1.65 1.65 0 01-1.64 1.65h-7.3a.67.67 0 00-.68.68v1.91a.68.68 0 00.68.69h8.7a1.63 1.63 0 011.64 1.64v3.35a1.63 1.63 0 01-1.64 1.66zM175.53 67.88l-7.47-10.66a.37.37 0 00-.67.21v9.51a1.64 1.64 0 01-1.64 1.64h-4.46a1.63 1.63 0 01-1.64-1.64V44.41a1.64 1.64 0 011.64-1.64h3.56a1.63 1.63 0 011.33.69l7.44 10.47a.36.36 0 00.66-.21v-9.31a1.65 1.65 0 011.65-1.64h4.46a1.65 1.65 0 011.61 1.64v22.53a1.64 1.64 0 01-1.64 1.64h-3.52a1.63 1.63 0 01-1.31-.7zM185.92 42.77h18.17a1.65 1.65 0 011.65 1.64v3.36a1.64 1.64 0 01-1.65 1.64h-3.72a1.64 1.64 0 00-1.64 1.64v15.89a1.64 1.64 0 01-1.64 1.64h-4.32a1.64 1.64 0 01-1.64-1.64V51.05a1.64 1.64 0 00-1.64-1.64h-3.57a1.63 1.63 0 01-1.64-1.64v-3.36a1.64 1.64 0 011.64-1.64zM225.11 68.58h-15.49a1.64 1.64 0 01-1.62-1.64V44.41a1.65 1.65 0 011.64-1.64h15.49a1.64 1.64 0 011.64 1.64v3.36a1.63 1.63 0 01-1.64 1.64h-8.7a.68.68 0 00-.68.69v2a.68.68 0 00.68.69h7.3a1.63 1.63 0 011.64 1.64V57a1.64 1.64 0 01-1.64 1.65h-7.3a.67.67 0 00-.68.68v1.91a.68.68 0 00.68.69h8.7a1.63 1.63 0 011.64 1.64v3.35a1.63 1.63 0 01-1.66 1.66zM91.9 29.86v5.85a1.87 1.87 0 01-1.9 1.87h-4a1.87 1.87 0 01-1.86-1.87V11.77h12.55a8.58 8.58 0 019.22 9 8.18 8.18 0 01-1.4 4.83 7.39 7.39 0 01-4 2.81 5.23 5.23 0 001 2.67 2.53 2.53 0 002 .9 4.54 4.54 0 00.82-.07 2.87 2.87 0 013.12 1.56 2.86 2.86 0 01-1.7 4A12.85 12.85 0 01102 38a7.76 7.76 0 01-3.41-.72 7 7 0 01-2.32-1.69 9.19 9.19 0 01-1.42-2.36 12.85 12.85 0 01-.79-2.34c-.08-.38-.15-.77-.21-1.16a1 1 0 00-1-.83 1 1 0 00-.95.96zm0-6.72a.39.39 0 00.39.39h3.59a2 2 0 001.62-.78 2.57 2.57 0 00.65-2 2.83 2.83 0 00-.6-1.45 2.06 2.06 0 00-1.67-.86h-3.59a.39.39 0 00-.39.4zM112.62 34.13a13 13 0 01-3.8-9.46 13 13 0 013.8-9.46 13.62 13.62 0 0110.14-3.85 13.62 13.62 0 0110.14 3.85 13 13 0 013.8 9.46 13 13 0 01-3.8 9.46Q129.11 38 122.76 38t-10.14-3.87zm14.68-4.7a7.06 7.06 0 001.7-4.76 7 7 0 00-1.66-4.75 6.32 6.32 0 00-9.07 0 7 7 0 00-1.66 4.75 7 7 0 001.66 4.76 6.32 6.32 0 009.07 0zM159 18.29a2 2 0 01-2.38.47A8.1 8.1 0 00153 18a6.33 6.33 0 00-4.79 1.92 6.57 6.57 0 00-1.85 4.75 6.61 6.61 0 001.85 4.76 6.33 6.33 0 004.79 1.92h.69a2.52 2.52 0 002.41-2.52.71.71 0 00-.71-.71h-2a2.68 2.68 0 01-2.68-2.67v-.22a2.68 2.68 0 012.68-2.68h7.37a2.67 2.67 0 012.67 2.68v3a9.6 9.6 0 01-7.88 9.51A14.76 14.76 0 01153 38a14.24 14.24 0 01-10.38-3.89 12.63 12.63 0 01-4-9.42 12.63 12.63 0 014-9.42A14.29 14.29 0 01153 11.36a14.44 14.44 0 017.28 1.9 2 2 0 01.5 3zM191.9 35.1l8.58-22.17a1.82 1.82 0 011.7-1.16h4.37a1.82 1.82 0 011.7 1.15l8.8 22.16a1.82 1.82 0 01-1.69 2.5h-4.29a1.83 1.83 0 01-1.7-1.17l-.76-2a1.83 1.83 0 00-1.7-1.17h-5.14a1.82 1.82 0 00-1.71 1.21l-.68 1.9a1.84 1.84 0 01-1.72 1.21h-4.06a1.82 1.82 0 01-1.7-2.46zm10.1-7.88h4.85l-2.27-6.69a.22.22 0 00-.41 0l-2.37 6.39a.22.22 0 00.2.3zM231.55 36.1l-3.18-8.33a.47.47 0 00-.91.13l-.65 7.94a1.89 1.89 0 01-1.88 1.74H221a1.89 1.89 0 01-1.88-2.06l2-22a1.88 1.88 0 011.88-1.71h4.37a1.88 1.88 0 011.8 1.19l5 12.39a.47.47 0 00.88 0L240 13a1.89 1.89 0 011.75-1.18h4.37a1.89 1.89 0 011.88 1.66l2 22a1.89 1.89 0 01-1.88 2.06h-3.9a1.89 1.89 0 01-1.88-1.74l-.65-7.94a.47.47 0 00-.91-.13l-3.18 8.33a1.88 1.88 0 01-1.77 1.22h-2.48a1.88 1.88 0 01-1.8-1.18zM78.83 14.4a8.82 8.82 0 00-6.77-2.63h-10.5a2 2 0 00-2 2v21.78a2 2 0 002 2h3.68a2 2 0 002-2v-3.83a2 2 0 012-2H72a9.14 9.14 0 006.79-2.46A8.54 8.54 0 0081.28 21a9.27 9.27 0 00-2.45-6.6zm-8.44 9.13h-3a.17.17 0 01-.17-.17v-1.81a3.15 3.15 0 013.14-3.15h3a.18.18 0 01.17.17v1.81a3.15 3.15 0 01-3.14 3.15zM174.64 29.86v5.85a1.87 1.87 0 01-1.86 1.87h-4a1.87 1.87 0 01-1.87-1.87V11.77h12.54a8.58 8.58 0 019.21 9 8.11 8.11 0 01-1.4 4.83 7.4 7.4 0 01-3.94 2.81 5.06 5.06 0 001.05 2.67 2.51 2.51 0 002 .9 4.65 4.65 0 00.83-.07 2.86 2.86 0 013.11 1.56 2.85 2.85 0 01-1.7 4 12.78 12.78 0 01-3.82.56 7.81 7.81 0 01-3.42-.72 7 7 0 01-2.37-1.74 9.48 9.48 0 01-1.42-2.36 12.85 12.85 0 01-.79-2.34c-.08-.38-.15-.77-.21-1.16a1 1 0 00-1-.83 1 1 0 00-.94.98zm0-6.72a.4.4 0 00.4.39h3.58a2.08 2.08 0 001.63-.78 2.56 2.56 0 00.64-2 2.74 2.74 0 00-.59-1.45 2.07 2.07 0 00-1.68-.86H175a.4.4 0 00-.4.4zM252.16 35.1l8.59-22.17a1.81 1.81 0 011.69-1.16h4.38a1.82 1.82 0 011.69 1.15l8.8 22.16a1.82 1.82 0 01-1.69 2.5h-4.29a1.83 1.83 0 01-1.7-1.17l-.76-2a1.82 1.82 0 00-1.7-1.17H262a1.83 1.83 0 00-1.71 1.21l-.68 1.9a1.84 1.84 0 01-1.72 1.21h-4.06a1.82 1.82 0 01-1.67-2.46zm10.12-7.88h4.85l-2.27-6.69a.22.22 0 00-.41 0l-2.37 6.39a.22.22 0 00.2.3z" />
      <rect class="fill-gray-10" width="2" height="80" x="306.99" rx="1"/>
      <rect class="fill-green-20" width="56" height="56" x="338.53" y="12" rx="4"/>
      <text class="logo__subproduct" transform="translate(348 48)">EM</text>
    </g>
  </svg>

  {{!-- <!-- long -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 80" class="header__logo">
    <g class="fill-gray-40">
      <path d="M23.22,72.14a1.49,1.49,0,0,1-1.49-1.49V24.71a1.49,1.49,0,0,1,3,0V70.65A1.49,1.49,0,0,1,23.22,72.14Z"></path>
      <path d="M23.22,45.67a1.51,1.51,0,0,1-1.06-.44,1.48,1.48,0,0,1,0-2.1l8.36-8.36a1.49,1.49,0,1,1,2.11,2.1l-8.36,8.36A1.49,1.49,0,0,1,23.22,45.67Z"></path>
      <path d="M23.22,45.67a1.51,1.51,0,0,1-1.06-.44l-8.35-8.36a1.48,1.48,0,1,1,2.1-2.1l8.36,8.36a1.49,1.49,0,0,1-1.05,2.54Z"></path>
      <path d="M23.22,65.36a1.5,1.5,0,0,1-1.06-.43L14.3,57.07A1.49,1.49,0,0,1,16.41,55l7.86,7.86a1.5,1.5,0,0,1,0,2.11A1.48,1.48,0,0,1,23.22,65.36Z"></path>
      <path d="M23.22,65.36a1.49,1.49,0,0,1-1.06-2.54L30,55a1.49,1.49,0,1,1,2.11,2.11l-7.86,7.86A1.48,1.48,0,0,1,23.22,65.36Z"></path>
    </g>
    <g class="fill-green-20">
      <path d="M23.22,24.81a8.89,8.89,0,1,1,8.89-8.89A8.9,8.9,0,0,1,23.22,24.81Zm0-14.8a5.92,5.92,0,1,0,5.91,5.91A5.92,5.92,0,0,0,23.22,10Z"></path>
      <path d="M37.54,40.33a8.9,8.9,0,1,1,8.89-8.89A8.9,8.9,0,0,1,37.54,40.33Zm0-14.81a5.92,5.92,0,1,0,5.92,5.92A5.92,5.92,0,0,0,37.54,25.52Z"></path>
      <path d="M8.89,40.33a8.9,8.9,0,1,1,8.9-8.89A8.9,8.9,0,0,1,8.89,40.33Zm0-14.81a5.92,5.92,0,1,0,5.92,5.92A5.92,5.92,0,0,0,8.89,25.52Z"></path>
      <path d="M8.94,61.21a8.9,8.9,0,1,1,8.9-8.89A8.9,8.9,0,0,1,8.94,61.21Zm0-14.81a5.92,5.92,0,1,0,5.92,5.92A5.92,5.92,0,0,0,8.94,46.4Z"></path>
      <path d="M37.49,61.21a8.9,8.9,0,1,1,8.89-8.89A8.9,8.9,0,0,1,37.49,61.21Zm0-14.81a5.92,5.92,0,1,0,5.91,5.92A5.93,5.93,0,0,0,37.49,46.4Z"></path>
    </g>
    <g class="fill-blue-navy-60">
      <g>
        <path d="M65.08,59.61a.63.63,0,0,1,.73.43c.62,2,2.09,3.05,4.43,3.05,2,0,3-.63,3-1.84,0-.89-.74-1.55-2.18-2l-2.91-1.11a15.4,15.4,0,0,1-5-2.47,6.43,6.43,0,0,1-2.59-5.09,7.2,7.2,0,0,1,2.81-5.93,10.75,10.75,0,0,1,7-2.25c4.52,0,7.61,2,9.21,6.07a.62.62,0,0,1-.41.82l-5,1.43a.63.63,0,0,1-.75-.36,2.86,2.86,0,0,0-2.89-2.06c-1.37,0-2.44.59-2.44,1.62,0,.81.7,1.48,2.11,2l2.87,1c5.57,1.92,7.56,4.31,7.67,8.15a6.64,6.64,0,0,1-3,5.93A13.15,13.15,0,0,1,70.24,69c-5.81,0-9.72-2.69-10.7-7.48a.62.62,0,0,1,.46-.73Z"></path>
        <path d="M100.38,68.58H84.89a1.63,1.63,0,0,1-1.64-1.64V44.41a1.64,1.64,0,0,1,1.64-1.64h15.49A1.65,1.65,0,0,1,102,44.41v3.36a1.64,1.64,0,0,1-1.64,1.64h-8.7a.69.69,0,0,0-.69.69v2a.69.69,0,0,0,.69.69H99a1.64,1.64,0,0,1,1.64,1.64V57A1.65,1.65,0,0,1,99,58.67h-7.3a.68.68,0,0,0-.69.68v1.91a.69.69,0,0,0,.69.69h8.7A1.64,1.64,0,0,1,102,63.59v3.35A1.64,1.64,0,0,1,100.38,68.58Z"></path>
        <path d="M120.78,68.33h-2.42a1.93,1.93,0,0,1-1.81-1.25L113,57.72a.22.22,0,0,0-.42.06l-.74,9a1.93,1.93,0,0,1-1.93,1.77h-3.8a1.93,1.93,0,0,1-1.93-2.11l2-21.94a1.94,1.94,0,0,1,1.93-1.76h4.29a1.94,1.94,0,0,1,1.8,1.22l5.18,12.95a.21.21,0,0,0,.4,0L124.94,44a2,2,0,0,1,1.8-1.22H131A1.94,1.94,0,0,1,133,44.53l2,21.94A1.93,1.93,0,0,1,133,68.58h-3.8a1.94,1.94,0,0,1-1.93-1.77l-.73-9a.22.22,0,0,0-.42-.06l-3.57,9.36A2,2,0,0,1,120.78,68.33Z"></path>
        <path d="M155,68.58H139.53a1.64,1.64,0,0,1-1.64-1.64V44.41a1.65,1.65,0,0,1,1.64-1.64H155a1.64,1.64,0,0,1,1.64,1.64v3.36A1.63,1.63,0,0,1,155,49.41h-8.7a.68.68,0,0,0-.68.69v2a.68.68,0,0,0,.68.69h7.3a1.64,1.64,0,0,1,1.64,1.64V57a1.65,1.65,0,0,1-1.64,1.65h-7.3a.67.67,0,0,0-.68.68v1.91a.68.68,0,0,0,.68.69H155a1.63,1.63,0,0,1,1.64,1.64v3.35A1.63,1.63,0,0,1,155,68.58Z"></path>
        <path d="M175.53,67.88l-7.47-10.66a.37.37,0,0,0-.67.21v9.51a1.64,1.64,0,0,1-1.64,1.64h-4.46a1.63,1.63,0,0,1-1.64-1.64V44.41a1.64,1.64,0,0,1,1.64-1.64h3.56a1.63,1.63,0,0,1,1.33.69l7.44,10.47a.36.36,0,0,0,.66-.21V44.41a1.65,1.65,0,0,1,1.65-1.64h4.46A1.65,1.65,0,0,1,182,44.41V66.94a1.64,1.64,0,0,1-1.64,1.64h-3.52A1.63,1.63,0,0,1,175.53,67.88Z"></path>
        <path d="M185.92,42.77h18.17a1.65,1.65,0,0,1,1.65,1.64v3.36a1.64,1.64,0,0,1-1.65,1.64h-3.72a1.64,1.64,0,0,0-1.64,1.64V66.94a1.64,1.64,0,0,1-1.64,1.64h-4.32a1.64,1.64,0,0,1-1.64-1.64V51.05a1.64,1.64,0,0,0-1.64-1.64h-3.57a1.63,1.63,0,0,1-1.64-1.64V44.41A1.64,1.64,0,0,1,185.92,42.77Z"></path>
        <path d="M225.11,68.58H209.62A1.64,1.64,0,0,1,208,66.94V44.41a1.65,1.65,0,0,1,1.64-1.64h15.49a1.64,1.64,0,0,1,1.64,1.64v3.36a1.63,1.63,0,0,1-1.64,1.64h-8.7a.68.68,0,0,0-.68.69v2a.68.68,0,0,0,.68.69h7.3a1.63,1.63,0,0,1,1.64,1.64V57a1.64,1.64,0,0,1-1.64,1.65h-7.3a.67.67,0,0,0-.68.68v1.91a.68.68,0,0,0,.68.69h8.7a1.63,1.63,0,0,1,1.64,1.64v3.35A1.63,1.63,0,0,1,225.11,68.58Z"></path>
      </g>
      <g>
        <path d="M78.83,14.4a8.82,8.82,0,0,0-6.77-2.63H61.56a2,2,0,0,0-2,2V35.55a2,2,0,0,0,2,2h3.68a2,2,0,0,0,2-2V31.72a2,2,0,0,1,2-2h2.76a9.14,9.14,0,0,0,6.79-2.46A8.54,8.54,0,0,0,81.28,21,9.27,9.27,0,0,0,78.83,14.4Zm-8.44,9.13h-3a.17.17,0,0,1-.17-.17V21.55a3.15,3.15,0,0,1,3.14-3.15h3a.18.18,0,0,1,.17.17v1.81A3.15,3.15,0,0,1,70.39,23.53Z"></path>
        <path d="M91.9,29.86v5.85A1.87,1.87,0,0,1,90,37.58H86a1.87,1.87,0,0,1-1.86-1.87V11.77H96.69a8.58,8.58,0,0,1,9.22,9,8.18,8.18,0,0,1-1.4,4.83,7.39,7.39,0,0,1-4,2.81,5.23,5.23,0,0,0,1,2.67,2.53,2.53,0,0,0,2,.9,4.54,4.54,0,0,0,.82-.07,2.87,2.87,0,0,1,3.12,1.56h0a2.86,2.86,0,0,1-1.7,4A12.85,12.85,0,0,1,102,38a7.76,7.76,0,0,1-3.41-.72,7,7,0,0,1-2.32-1.69,9.19,9.19,0,0,1-1.42-2.36,12.85,12.85,0,0,1-.79-2.34c-.08-.38-.15-.77-.21-1.16a1,1,0,0,0-1-.83h0A1,1,0,0,0,91.9,29.86Zm0-6.72a.39.39,0,0,0,.39.39h3.59a2,2,0,0,0,1.62-.78,2.57,2.57,0,0,0,.65-2,2.83,2.83,0,0,0-.6-1.45,2.06,2.06,0,0,0-1.67-.86H92.29a.39.39,0,0,0-.39.4Z"></path>
        <path d="M112.62,34.13a13,13,0,0,1-3.8-9.46,13,13,0,0,1,3.8-9.46,13.62,13.62,0,0,1,10.14-3.85,13.62,13.62,0,0,1,10.14,3.85,13,13,0,0,1,3.8,9.46,13,13,0,0,1-3.8,9.46Q129.11,38,122.76,38T112.62,34.13Zm14.68-4.7A7.06,7.06,0,0,0,129,24.67a7,7,0,0,0-1.66-4.75,6.32,6.32,0,0,0-9.07,0,7,7,0,0,0-1.66,4.75,7,7,0,0,0,1.66,4.76,6.32,6.32,0,0,0,9.07,0Z"></path>
        <path d="M159,18.29a2,2,0,0,1-2.38.47A8.1,8.1,0,0,0,153,18a6.33,6.33,0,0,0-4.79,1.92,6.57,6.57,0,0,0-1.85,4.75,6.61,6.61,0,0,0,1.85,4.76A6.33,6.33,0,0,0,153,31.35l.69,0a2.52,2.52,0,0,0,2.41-2.52h0a.71.71,0,0,0-.71-.71h-2a2.68,2.68,0,0,1-2.68-2.67v-.22a2.68,2.68,0,0,1,2.68-2.68h7.37a2.67,2.67,0,0,1,2.67,2.68v3a9.6,9.6,0,0,1-7.88,9.51A14.76,14.76,0,0,1,153,38a14.24,14.24,0,0,1-10.38-3.89,12.63,12.63,0,0,1-4-9.42,12.63,12.63,0,0,1,4-9.42A14.29,14.29,0,0,1,153,11.36a14.44,14.44,0,0,1,7.28,1.9,2,2,0,0,1,.5,3Z"></path>
        <path d="M174.64,29.86v5.85a1.87,1.87,0,0,1-1.86,1.87h-4a1.87,1.87,0,0,1-1.87-1.87V11.77h12.54a8.58,8.58,0,0,1,9.21,9,8.11,8.11,0,0,1-1.4,4.83,7.4,7.4,0,0,1-3.94,2.81,5.06,5.06,0,0,0,1.05,2.67,2.51,2.51,0,0,0,2,.9,4.65,4.65,0,0,0,.83-.07,2.86,2.86,0,0,1,3.11,1.56h0a2.85,2.85,0,0,1-1.7,4,12.78,12.78,0,0,1-3.82.56,7.81,7.81,0,0,1-3.42-.72A7,7,0,0,1,179,35.57a9.48,9.48,0,0,1-1.42-2.36,12.85,12.85,0,0,1-.79-2.34c-.08-.38-.15-.77-.21-1.16a1,1,0,0,0-1-.83h0A1,1,0,0,0,174.64,29.86Zm0-6.72a.4.4,0,0,0,.4.39h3.58a2.08,2.08,0,0,0,1.63-.78,2.56,2.56,0,0,0,.64-2,2.74,2.74,0,0,0-.59-1.45,2.07,2.07,0,0,0-1.68-.86H175a.4.4,0,0,0-.4.4Z"></path>
        <path d="M191.9,35.1l8.58-22.17a1.82,1.82,0,0,1,1.7-1.16h4.37a1.82,1.82,0,0,1,1.7,1.15l8.8,22.16a1.82,1.82,0,0,1-1.69,2.5h-4.29a1.83,1.83,0,0,1-1.7-1.17l-.76-2a1.83,1.83,0,0,0-1.7-1.17h-5.14a1.82,1.82,0,0,0-1.71,1.21l-.68,1.9a1.84,1.84,0,0,1-1.72,1.21H193.6A1.82,1.82,0,0,1,191.9,35.1ZM202,27.22h4.85l-2.27-6.69a.22.22,0,0,0-.41,0l-2.37,6.39A.22.22,0,0,0,202,27.22Z"></path>
        <path d="M231.55,36.1l-3.18-8.33a.47.47,0,0,0-.91.13l-.65,7.94a1.89,1.89,0,0,1-1.88,1.74H221a1.89,1.89,0,0,1-1.88-2.06l2-22a1.88,1.88,0,0,1,1.88-1.71h4.37A1.88,1.88,0,0,1,229.17,13l5,12.39a.47.47,0,0,0,.88,0L240,13a1.89,1.89,0,0,1,1.75-1.18h4.37A1.89,1.89,0,0,1,248,13.48l2,22a1.89,1.89,0,0,1-1.88,2.06h-3.9a1.89,1.89,0,0,1-1.88-1.74l-.65-7.94a.47.47,0,0,0-.91-.13l-3.18,8.33a1.88,1.88,0,0,1-1.77,1.22h-2.48A1.88,1.88,0,0,1,231.55,36.1Z"></path>
        <path d="M252.16,35.1l8.59-22.17a1.81,1.81,0,0,1,1.69-1.16h4.38a1.82,1.82,0,0,1,1.69,1.15l8.8,22.16a1.82,1.82,0,0,1-1.69,2.5h-4.29a1.83,1.83,0,0,1-1.7-1.17l-.76-2a1.82,1.82,0,0,0-1.7-1.17H262a1.83,1.83,0,0,0-1.71,1.21l-.68,1.9a1.84,1.84,0,0,1-1.72,1.21h-4.06A1.82,1.82,0,0,1,252.16,35.1Zm10.12-7.88h4.85l-2.27-6.69a.22.22,0,0,0-.41,0l-2.37,6.39A.22.22,0,0,0,262.28,27.22Z"></path>
      </g>
    </g>
    <rect class="fill-gray-10" x="307" width="2" height="80" rx="1"></rect>
    <rect class="fill-green-20" x="342" y="12" width="228" height="56" rx="4"></rect>
    <text class="logo__subproduct" transform="translate(358 48)">ENSINO MÉDIO</text>
  </svg> --}}

  <h1 class="scr-only">Bem-vindo ao CORESkills!</h1>

  {{userLastAccess}}

  <div class="header__overlayer"></div>

  <nav class="header__nav global-nav">

    <button class="global-nav__trigger icon-menu"></button>

    <ul id="global-nav-menu" class="global-nav__list">

      <button class="global-nav__close icon-x"></button>

      <!-- percursos header -->
    {{#if hasModulo}}
      {{#if (equalstr role 'aluno')}}
             <li class="global-nav__item" id="header-modulos">
          {{#link-to 'modulos.modlist' ModuloIdx class="global-nav__link"}} Percurso {{/link-to}}
        </li>
      {{/if}}
    {{/if}}
    {{!-- {{else}}
      <li class="global-nav__item global-nav__submenu-holder" id="header-modulos">
        <a href="#" class="global-nav__link p-right--sm j-timeline">Percurso <span class="icon-chevron-down"></span></a>

        <div class="global-nav__submenu submenu submenu--header submenu--timeline" id="timelineSubmenu">
          <ul class="submenu__body">
            {{#if primeiroAno}}
            <li class="submenu__item">
              <a class="submenu__link"{{action 'goToModulo' primeiroAno on="click"}}>
                <span>Primeiro Ano</span></a></li>
            {{/if}}
            {{#if segundoAno}}
            <li class="submenu__item">
              <a class="submenu__link"{{action 'goToModulo' segundoAno on="click"}}>
                <span>Segundo Ano</span></a></li>
            {{/if}}
            {{#if terceiroAno}}
            <li class="submenu__item">
              <a href="#" class="submenu__link"{{action 'goToModulo' terceiroAno on="click"}}>
                <span>Terceiro ano</span></a></li>
            {{/if}}
          </ul>
        </div>

      </li>
    {{/if}} --}}


     <li class="global-nav__item" id="header-aulas">
      {{#link-to 'aulas' class="global-nav__link"}} Aulas {{/link-to}}
    </li>

      <!-- lib header -->
      <li class="global-nav__item counter" id="header-biblioteca" style="display:none;" {{action 'goToBiblioteca' on="click"}}>
        <a class="global-nav__link"><span>Biblioteca</span><span id="j-libraryNotificationNumber" class="counter__bubble">0</span></a>
      </li>

      
      <!-- follow up header -->
      {{#if hasReport}}
          <li class="global-nav__item" id="header-indicadores" {{action 'goToAcompanhamento' on="click"}}>
            <a class="global-nav__link">
              {{!-- <span class="icon-activity"></span> --}}
              <span>Acompanhamento</span></a>
        	</li>
      {{else}}
      {{/if}}


      <!--  administration header -->
      {{#if hasManagement}}
        <li class="global-nav__item" id="header-gersistema" {{action 'goToAdministracao' on="click"}}>
          <a class="global-nav__link"><span>Administração</span></a>
        </li>
      {{else}}
      {{/if}}
      
      {{#if (equalstr role 'admin')}}
        <li class="global-nav__item" id="header-conteudos" {{action 'goToConteudos' on="click"}}>
          <a class="global-nav__link"><span>Conteúdos</span></a>
        </li>
      {{else}}
      {{!-- <li class="global-nav__item" id="header-gersistema">{{#link-to 'gersistema.gerdata' (query-params
        instituicao_id=0 perPage=10) class="global-nav__link"}}Administração{{/link-to}}</li> --}}
      {{/if}}
      

      <!-- MOBILE -->
      <!-- Em mobile, esses links não ficam dentro de um submenu e por isso tiveram que ser duplicados. -->
      <!-- Eles aparecem como irmãos a "Meus cursos", "Administração" etc. -->
      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_image_trigger">
          <span>Alterar imagem do perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_pass_trigger">
          <span>Alterar senha</span></a></li>
      
      <li class="global-nav__item global-nav--mob-only" {{action 'goToProfile'}}>
        <a href="#" class="global-nav__link header-indicadores">
          <span>Meu perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" style="margin-top: auto;">
        <a href="#" class="global-nav__link header-indicadores" {{action 'invalidateSession'}}>
          <span>Fazer Logout</span></a></li>
      <!-- /MOBILE -->

      <li class="global-nav__item global-nav__submenu-holder">

        <a class="global-nav__thumb j-thumb" href="#">
          <span class="global-nav__avatar avatar">
            <img class="j-application-avatar" src={{uri_avatar}}>
          </span>
          <span class="global-nav__user-info">
            <span>{{username}}</span>
          {{#if (equalstr role 'aluno')}}
            <span class="text-aux block m-top--xxs">
          {{#if primeiroAno}}
          1º ano do ensino médio
          {{/if}}
          {{#if segundoAno}}
          2º ano do ensino médio
          {{/if}}
          {{#if terceiroAno}}
          3º ano do ensino médio
          {{/if}}
            </span>
          {{/if}}
          </span>
          <span class="icon-chevron-down hide-on--xs"></span>
        </a>

        <div class="global-nav__submenu submenu submenu--header submenu--user" id="thumbSubmenu">
          {{!-- <p class="global-nav__call">Olá, <strong>{{username}}</strong></p> --}}
          <ul class="submenu__body">
            <li class="submenu__item">
              <a href="#" id="change_image_trigger" class="submenu__link">
                <span>Alterar imagem do perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" id="change_pass_trigger" class="submenu__link">
                <span>Alterar senha</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'goToProfile'}}>
                <span>Meu perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'invalidateSession'}}>
                <span>Fazer Logout</span></a></li>
          </ul>

        </div>

      </li>

    </ul>

  </nav>

</header>

<section id="content-main" class="content-main">
  {{#if role}}
  <!-- if an institution is selected, then the output is released. otherwise the intitution select is created -->
  {{outlet}} {{else}}
  <aside id="select_inst_modal" class="modal modal--is-show">

    <form class="modal__content modal__content--md" autocomplete="off" aria-autocomplete="none">
      <header class="modal__header">
        <h3 class="modal__title">Selecione uma instituição</h3>
      </header>
      {{input class="form-group__input"
      aria-describedby="basic-addon1"
      id="searchValue"
      key-up="instSearch"
      type="text"
      autocomplete="off"
      aria-autocomplete="none"}}

      {{!-- <div class="modal__body"> --}}
        <ul id="searchDisplay" class="select-inst" style="display:none;">
          {{#each filteredInsts as |inst|}}
          <li>
            <a class="select-inst__link" href="#" {{action 'selectPessoa' inst.id on='click'}}>
              {{inst.instituicao_name}}
            </a>
          </li>
          {{/each}}
        </ul>

        <ul id="modelList" class="select-inst">
          {{#each instList as |pessoa idx|}}
          <li>
            <a class="select-inst__link" href="#" {{action 'selectPessoa' pessoa.id on='click'}}>
              {{pessoa.instituicao_name}}
              <!--  {{addone idx}} -  -->
            </a>
          </li>
          {{/each}}
        </ul>

        {{!--
      </div> --}}
    </form>
    <div class="modal__overlayer bg--students"></div>

  </aside>
  {{/if}}
</section>

<div style="display: none;">{{oneInst}}</div>


<!-- for algorithm run purposes only -->

<aside id="change_pass_modal" class="modal">

  <div class="modal__content modal__content--sm">

    <header class="modal__header">
      <button id="change_pass_close" class="modal__close btn-close icon-x" type="submit"></button>

      <h3 class="modal__title">Alterar senha</h3>
    </header>

    <div class="modal__body">

      <div class="form-group form-group--full-width form-group--aired-v">
        <label class="form-group__label" for="pass">Senha atual</label>
        <input class="form-group__input" type="password" id="pass" value="">
      </div>

      <div class="form-group form-group--full-width form-group--aired-v">
        <label class="form-group__label" for="pass_new">Nova senha</label>
        <input class="form-group__input" type="password" id="pass_new" value="">
      </div>

      <div class="form-group form-group--full-width">
        <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
        <!-- melhorar classes do form... -->
        <div class="form-group__container form-group">
          <span id="msg-new-pass-success" class="form__msg form__msg--bellow form__msg--success"><span class="form__msg-icon icon-check"></span>Par
            de senhas perfeito!</span>
          <span id="msg-new-pass-warning" class="form__msg form__msg--bellow form__msg--warning"><span class="form__msg-icon icon-alert-triangle"></span>Senhas
            não batem...</span>
          <input class="form-group__input" type="password" id="pass_new_copy" value="">
        </div>
      </div>

      {{#if error_forgot}}
      <div class="alert alert--warning alert--has-icon">
        <span class="alert__icon icon-alert-triangle"></span>
        <p>
          {{{error_forgot}}}
        </p>
      </div>
      {{/if}}

    </div>

    <div class="modal__footer">
      <button class="btn" type="submit" {{action 'changePw'}}>Atualizar senha</button>
    </div>

  </div>

  <div class="modal__overlayer"></div>

</aside>

<!-- MUDANÇA DE AVATAR -->
<aside id="change_image_modal" class="modal">

  <div class="modal__content modal__content--md">

    <header class="modal__header">
      <button id="change_image_close" class="modal__close btn-close icon-x" type="submit"></button>

      <h3 class="modal__title">Alterar imagem do perfil</h3>
    </header>

    <div class="modal__body">

      <div class="m-bottom--none">

        <p>Para facilitar, nós recortaremos a imagem para você. Sugerimos que escolha uma foto onde só haja você.</p>

        <div class="image-change">
          <div class="avatar avatar--lg">
            <div class="avatar__img avatar__img--as-bg" id="avatar-modale" style="background-image: url('{{uri_avatar}}');"></div>
          </div>

          <label class="image-change__cta btn">Buscar imagem
            <input onchange={{action "buscarArquivoAvatar"}} type="file" id="arquivoAvatar" style="display: none;" name="file">
          </label>
        </div>

      </div>

    </div>

    {{#if selected_file_avatar}}
      <span style="margin-top: 20px" id="nomeArquivo" type="text" class="form-control" readonly><strong>{{selected_file_avatar}}</strong></span>
    {{/if}}

    <div class="modal__footer">
      {{#if avatar_loading}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled"><i class="fa fa-spinner fa-pulse fa-2x"></i></button>
      {{else if selected_file_avatar}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" {{action 'sendAvatar'}}>Salvar</button>
      {{else}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled">Salvar</button>
      {{/if}}
    </div>
  </div>

  <div class="modal__overlayer"></div>
  <div style="display: none;">{{avatar}}</div>

</aside>

<!-- internet connection -->
<div id="snackbarConnection" class="alert alert--xs alert--has-icon alert--no-interaction alert--warning">
  <span class="alert__icon icon-alert-triangle icon--lg"></span>
  <p>Sem conexão com a Internet</p>
  {{!-- <div>
    <p>Detectamos que no momento vocês está <strong>sem conexão com a Internet</strong>.</p>
    <p class="m-top--sm">Assim que esta mensagem desaparecer, significará que sua conexão com a Internet voltou.</p>
  </div> --}}
</div>