<aside class="help" id="help">
  <h1 class="sr-only">Pedir ajuda ou enviar dúvida, sugestão ou reportar problema</h1>
  <button id="help__trigger" class="help__trigger btn btn--icon btn--md icon-help-circle"
    {{action "toggleHelp"}}></button>
  <div id="help__container" class="help__container">
    <button id="help__close" class="help__close btn-close icon-x" {{action "toggleHelp"}}></button>
    <div id="formHelp" class="help__form flow-md">
      <div class="help__basic-info">
        <span class="help__user-avatar avatar avatar--sm"><img src={{uri_avatar}}></span>
        <div class="overflow-hidden">
          <span class="title-aux truncate">{{username}}</span>
          {{#each model as |pessoa idx|}}
            {{#if (equalstr id_instituicao pessoa.instituicao_id)}}
              <span id="instName" class="help__user-institution title-aux">
                {{pessoa.instituicao_name}}
              </span>
            {{/if}}
          {{/each}}
        </div>
      </div>
      <p class="title-3">Gostamos de mensagens, sabia?</p>
      <p>Pode ser <strong>sugestão</strong>, <strong>reportar um erro</strong> ou <strong>um elogio</strong>.</p>
      <div class="form-group">
        <label class="form-group__label" for="helpMsg">Mensagem</label>
        <textarea class="form-group__input" id="helpMsg" rows="6" form="formHelp" wrap required autofocus></textarea>
      </div>
      <button class="help__cta btn self-start" id="help__cta" {{action 'supportMailer'}}>Enviar</button>
    </div>
    <div class="help__success">
      <span class="icon-check icon--success icon--xxl"></span>
      <p class="title-aux">Mensagem enviada com sucesso!</p>
    </div>
  </div>
</aside>

<header class="header" id="header_layout">
  <h1 class="sr-only">Cabeçalho do sistema Programa Semente</h1>

  {{programa-semente-logo class="header__logo"}}
  {{userLastAccess}}

  <div class="header__overlayer"></div>

  <nav class="header__nav global-nav">
    <h1 class="sr-only">Navegação global</h1>
    <button class="global-nav__trigger icon-menu"></button>

    <ul id="global-nav-menu" class="global-nav__list">

      <button class="global-nav__close icon-x"></button>

      <!-- percursos header -->
      {{#if hasModulo}}
        {{#if (equalstr role 'aluno')}}
          <li class="global-nav__item" id="header-modulos">
            {{#link-to 'modulos.modlist' ModuloIdx class="global-nav__link"}}<span>Aulas</span>{{/link-to}}
          </li>
          <li class="global-nav__item" id="header-modulos">
            {{#link-to 'aulas.bibliotecaindex' class="global-nav__link"}}<span>Biblioteca</span>{{/link-to}}
          </li>
          {{#if urlLivro}}
            <li class="global-nav__item">
              <a class="global-nav__link" href="{{urlLivro}}" target="_blank" rel="nofollow noopener noreferrer">
                <span>Livro</span>
              </a>
            </li>
          {{/if}}
        {{/if}}
      {{/if}}






      <!-- lib header -->
      <li class="global-nav__item counter" id="header-biblioteca" style="display:none;"
        {{action 'goToBiblioteca' on="click"}}>
        <a class="global-nav__link"><span>Biblioteca</span><span id="j-libraryNotificationNumber"
            class="counter__bubble">0</span></a>
      </li>



      <!--  administration header -->
{{!--
      {{#if (equalstr role 'admin')}}
        <li class="global-nav__item" id="header-conteudos" {{action 'goToConteudos' on="click"}}>
          <a class="global-nav__link"><span>Conteúdos</span></a>
        </li>
        <li class="global-nav__item" id="header-gersistema" {{action 'goToAdministracao' on="click"}}>
          <a class="global-nav__link"><span>Administração</span></a>
        </li>
        <li class="global-nav__item" id="header-indicadores" {{action 'goToAcompanhamento' on="click"}}>
          <a class="global-nav__link"><span>Acompanhamento</span></a>
        </li>
      {{else}}
      {{/if}}

      {{#if (or (equalstr role 'marketing') (equalstr role 'admin'))}}
        <li class="global-nav__item" id="header-marketing" {{action 'goToMarketing' on="click"}}>
          <a class="global-nav__link"><span>Marketing</span></a>
        </li>
      {{/if}} --}}


      <!-- MOBILE -->
      <!-- Em mobile, esses links não ficam dentro de um submenu e por isso tiveram que ser duplicados. -->
      <!-- Eles aparecem como irmãos a "Meus cursos", "Administração" etc. -->
      
      {{!-- <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_image_trigger">
          <span>Alterar imagem do perfil</span></a></li> --}}

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_image_trigger">
          <span>Alterar imagem do perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_pass_trigger">
          <span>Alterar senha</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'goToProfile'}}>
        <a href="#" class="global-nav__link header-indicadores">
          <span>Meu perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" style="margin-top: auto;">
        <a href="#" class="global-nav__link header-indicadores" {{action 'invalidateSession'}}>
          <span>Fazer Logout</span></a></li>
      <!-- /MOBILE -->




    <li class="global-nav__item global-nav__submenu-holder">

        <a class="global-nav__link j-apps" href="#">
          <span class="global-nav__avatar-holder"><img src='/assets/img/dark__thumb.png'></span>
          <span class="m-left--sm title-aux">Minhas plataformas</span>
          <span class="icon-chevron-down hide-on--xs"></span>
        </a>

        <div class="global-nav__submenu submenu submenu--header submenu--user" id="appsSubmenu">
           <ul class="submenu__body">
            <li class="submenu__item">
              <a href="https://fp.programasemente.com.br" class="submenu__link" target="_blank">
                <span>Programa Semente FP</span>
              </a>
            </li>
            <li class="submenu__item">
              <a href="https://s.programasemente.com.br" class="submenu__link" target="_blank">
                <span>Plataforma S</span>
              </a>
            </li>

           </ul>

        </div>

    </li>





      <li class="global-nav__item global-nav__submenu-holder">

        <a class="global-nav__link j-thumb" href="#">
          <span class="global-nav__avatar-holder">
            <img class="j-application-avatar" src={{uri_avatar}}>
          </span>
          <span class="m-left--sm title-aux">{{firstnameoremailpart username}}</span>
          <span class="icon-chevron-down hide-on--xs"></span>
        </a>

        <div class="global-nav__submenu submenu submenu--header submenu--user" id="thumbSubmenu">
          {{!-- <p class="global-nav__call">Olá, <strong>{{username}}</strong></p> --}}
          <ul class="submenu__body">
            <li class="submenu__item">
              <a href="#" id="change_image_trigger" class="submenu__link">
                <span>Alterar imagem do perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" id="change_pass_trigger" class="submenu__link">
                <span>Alterar senha</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'goToProfile'}}>
                <span>Meu perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'invalidateSession'}}>
                <span>Fazer Logout</span></a></li>
          </ul>

        </div>

      </li>

    </ul>

  </nav>

  <!-- MUDANÇA DE SENHA -->
  <aside id="change_pass_modal" class="modal">

    <div class="modal__content modal__content--sm">

      <header class="modal__header">
        <button id="change_pass_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar senha</h1>
      </header>

      <div class="modal__body">

        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass">Senha atual</label>
          <input class="form-group__input" type="password" id="pass" value="">
        </div>

        <div class="form-group form-group--full-width form-group--aired-v">
          <label class="form-group__label" for="pass_new">Nova senha</label>
          <input class="form-group__input" type="password" id="pass_new" value="">
        </div>

        <div class="form-group form-group--full-width">
          <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
          <!-- melhorar classes do form... -->
          <div class="form-group__container form-group">
            <span id="msg-new-pass-success" class="form__msg form__msg--bellow form__msg--success"><span
                class="form__msg-icon icon-check"></span>Par
              de senhas perfeito!</span>
            <span id="msg-new-pass-warning" class="form__msg form__msg--bellow form__msg--warning"><span
                class="form__msg-icon icon-alert-triangle"></span>Senhas
              não batem...</span>
            <input class="form-group__input" type="password" id="pass_new_copy" value="">
          </div>
        </div>

        {{#if error_forgot}}
          <div class="alert alert--warning alert--has-icon">
            <span class="alert__icon icon-alert-triangle"></span>
            <p>
              {{{error_forgot}}}
            </p>
          </div>
        {{/if}}

      </div>

      <footer class="modal__footer">
        <button class="btn" type="submit" {{action 'changePw'}}>Atualizar senha</button>
      </footer>

    </div>

    <div class="modal__overlayer"></div>

  </aside>

  <!-- MUDANÇA DE AVATAR -->
  <aside id="change_image_modal" class="modal">

    <div class="modal__content modal__content--md">

      <header class="modal__header">
        <button id="change_image_close" class="modal__close btn-close icon-x" type="submit"></button>
        <h1 class="modal__title">Alterar imagem do perfil</h1>
      </header>

      <div class="modal__body">

        <div class="flow-sm">

          <p>Para facilitar, nós recortaremos a imagem para você. Sugerimos que escolha uma foto onde só haja você.</p>

          <div class="image-change">
            <div class="avatar avatar--lg">
              <div class="avatar__img avatar__img--as-bg" id="avatar-modale"
                style="background-image: url('{{uri_avatar}}');"></div>
            </div>

            <label class="image-change__cta btn">Buscar imagem
              <input onchange={{action "buscarArquivoAvatar"}} type="file" id="arquivoAvatar" style="display: none;"
               accept="image/png,image/jpeg" name="file">
            </label>
          </div>

          {{#if selected_file_avatar}}
            <p style="margin-top: 20px" id="nomeArquivo" type="text" class="form-control"
              readonly><strong>{{selected_file_avatar}}</strong></p>
          {{/if}}

        </div>

      </div>


      <footer class="modal__footer">
        {{#if avatar_loading}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled"><i
              class="fa fa-spinner fa-pulse fa-2x"></i></button>
        {{else if selected_file_avatar}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar"
            {{action 'sendAvatar'}}>Salvar</button>
        {{else}}
          <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled">Salvar</button>
        {{/if}}
      </footer>
    </div>

    <div class="modal__overlayer"></div>
    <div style="display: none;">{{avatar}}</div>

  </aside>

</header>

<div id="content-main" class="content-main">
  {{#if role}}
    <main class="main flow-lg">
    <!-- if an institution is selected, then the output is released. otherwise the intitution select is created -->
      {{outlet}}
    </main>
  {{else}}
    <aside id="select_inst_modal" class="modal modal--is-show">

      <form class="modal__content modal__content--md" autocomplete="off" aria-autocomplete="none">
        <header class="modal__header">
          <h3 class="modal__title">Selecione uma instituição</h3>
        </header>
        {{input class="form-group__input"
      aria-describedby="basic-addon1"
      id="searchValue"
      key-up="instSearch"
      type="text"
      autocomplete="off"
      aria-autocomplete="none"}}

        {{!-- <div class="modal__body"> --}}
        <ul id="searchDisplay" class="select-inst" style="display:none;">
          {{#each filteredInsts as |inst|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' inst.id on='click'}}>
                {{inst.instituicao_name}}
              </a>
            </li>
          {{/each}}
        </ul>

        <ul id="modelList" class="select-inst">
          {{#each instList as |pessoa idx|}}
            <li>
              <a class="select-inst__link" href="#" {{action 'selectPessoa' pessoa.id on='click'}}>
                {{pessoa.instituicao_name}}
                <!--  {{addone idx}} -  -->
              </a>
            </li>
          {{/each}}
        </ul>

        {{!--
      </div> --}}
      </form>
      <div class="modal__overlayer bg--students"></div>

    </aside>
  {{/if}}
</div>

<!-- internet connection -->
<div id="snackbarConnection" class="alert alert--xs alert--has-icon alert--no-interaction alert--warning">
  <span class="alert__icon icon-alert-triangle icon--lg"></span>
  <p>Sem conexão com a Internet</p>
  {{!-- <div>
    <p>Detectamos que no momento vocês está <strong>sem conexão com a Internet</strong>.</p>
    <p class="m-top--sm">Assim que esta mensagem desaparecer, significará que sua conexão com a Internet voltou.</p>
  </div> --}}
</div>

<div style="display: none;">{{oneInst}}</div>

<!-- user help -->
<div style="display: none;">{{InstituicaoId}}</div>
<div style="display: none;">{{InstituicaoName}}</div>
