<!-- user help -->
<div style="display: none;">{{InstituicaoId}}</div>
<div style="display: none;">{{InstituicaoName}}</div>

<aside class="help" id="help">
  <h1 class="sr-only">Pedir ajuda ou enviar dúvida, sugestão ou reportar problema</h1>
  <button id="help__trigger" class="help__trigger btn btn--icon btn--md icon-help-circle" {{action "toggleHelp"}}></button>
  <div id="help__container" class="help__container">
    <button id="help__close" class="help__close btn-close icon-x" {{action "toggleHelp"}}></button>
    <div id="formHelp" class="help__form">
      <div class="help__basic-info">
        <span class="help__user-avatar avatar"><img src={{uri_avatar}}></span>
        <div class="overflow-hidden">
          <h2 class="title-2 truncate">{{username}}</h2>
          {{#each model as |pessoa idx|}}
          {{#if (equalstr id_instituicao pessoa.instituicao_id)}}
          <span id="instName" class="help__user-institution title-aux">
            {{pessoa.instituicao_name}}
          </span>
          {{/if}}
          {{/each}}
        </div>
      </div>
      <p class="title-3">Fale conosco o que quiser!</p>
      <p>Pode ser <strong>sugestão</strong>, <strong>reportar um erro</strong> ou <strong>um elogio</strong>.</p>
      <div class="form-group form-group--vertical">
        <label class="form-group__label" for="helpMsg">Mensagem</label>
        <textarea class="form-group__input" id="helpMsg" rows="6" form="formHelp" wrap required autofocus></textarea>
      </div>
      <button class="help__cta btn" id="help__cta" {{action 'supportMailer'}}>Enviar</button>
    </div>
    <div class="help__success">
      <span class="icon-check icon--success icon--xxl"></span>
      <p class="title-aux">Mensagem enviada com sucesso!</p>
    </div>
  </div>
</aside>

<header class="header" id="header_layout">
  {{!-- <svg class="header__logo" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" stroke-linejoin="round"
    stroke-miterlimit="1.41421" clip-rule="evenodd" viewBox="0 0 454 71">
    <g class="fill-gray--darkest" fill-rule="nonzero">
      <path d="M32.5265673 70.7193571c-4.33330065 0-8.48329755-.71121855-12.4353264-2.14831995-3.95202885-1.4371014-7.41280365-3.60008565-10.3823244-6.50361705-2.9768529-2.9035314-5.3378052-6.5402778-7.0828569-10.91757135-1.75238385-4.3699614-2.6249097-9.4584735-2.6249097-15.2655363 0-5.7337413.9091866-10.8222534 2.7275598-15.2655363 1.8183732-4.4432829 4.252647-8.1826794 7.29548925-11.22552165 3.04284225-3.04284225 6.5402778-5.37446595 10.49230665-6.9802068C24.46853445.80730685 28.6111992.00077035 32.94449985.00077035c4.55326515 0 8.6079441.8945223 12.17870115 2.67623475 3.5634249 1.78171245 6.5696064 3.9007038 9.0185445 6.3496419l-9.4438092 11.5408041c-1.67906235-1.47376215-3.40944975-2.67623475-5.1911622-3.6220821-1.78171245-.94584735-3.8273823-1.41510495-6.13700955-1.41510495-2.03100555 0-3.93736455.4545933-5.719077 1.3637799-1.7890446.9091866-3.3581247 2.199645-4.7219046 3.87870735-1.3637799 1.67906235-2.4489381 3.74672865-3.2554746 6.19566675s-1.2024726 5.21315865-1.2024726 8.2853295c0 6.4376277 1.34178345 11.37216465 4.04001465 14.7962787 2.69089905 3.4314462 6.23965965 5.13983715 10.6462818 5.13983715 2.66157045 0 5.02252275-.5719077 7.0828569-1.7303874 2.0676663-1.15114755 3.8273823-2.5369239 5.30114445-4.14266475l9.4438092 11.3355039c-2.94019215 3.3581247-6.31298115 5.87305215-10.12569915 7.5521145-3.812718 1.67906235-7.92605415 2.51492745-12.3326763 2.51492745z" />
      <path d="M85.8312978 70.7193571c-4.75856535 0-9.0772017-.79920435-12.95590905-2.41227735-3.8860395-1.60574085-7.20750345-3.9300324-9.971724-6.97287465-2.76422055-3.04284225-4.9125405-6.7895709-6.452292-11.2328538-1.5397515-4.43595075-2.30962725-9.4584735-2.30962725-15.05290395 0-5.6017626.76987575-10.58029245 2.30962725-14.957586 1.5397515-4.3699614 3.68807145-8.04336855 6.452292-11.0128893 2.76422055-2.9768529 6.0856845-5.22782295 9.971724-6.76757445C76.7540961.7706461 81.07273245.00077035 85.8312978.00077035c4.68524385 0 8.9892159.76987575 12.904584 2.30962725 3.92270025 1.5397515 7.2588285 3.812718 10.02304905 6.8188995 2.76422055 3.0061815 4.9125405 6.67958865 6.452292 11.02022145 1.5397515 4.33330065 2.30962725 9.2971662 2.30962725 14.8989288 0 5.59443045-.76987575 10.6169532-2.30962725 15.05290395-1.5397515 4.4432829-3.68807145 8.19001155-6.452292 11.2328538-2.76422055 3.04284225-6.1003488 5.3671338-10.02304905 6.97287465-3.9153681 1.613073-8.21934015 2.41227735-12.904584 2.41227735zm0-15.5294937c4.12800045 0 7.3614786-1.79637675 9.7077666-5.40379455 2.346288-3.60008565 3.51209985-8.51262615 3.51209985-14.7376215S97.8853524 24.0135616 95.5390644 20.61877615c-2.346288-3.39478545-5.57976615-5.0885121-9.7077666-5.0885121-4.12800045 0-7.3614786 1.69372665-9.7077666 5.0885121-2.33895585 3.39478545-3.51209985 8.20467585-3.51209985 14.4296712s1.173144 11.13753585 3.51209985 14.7376215c2.346288 3.6074178 5.57976615 5.40379455 9.7077666 5.40379455zM123.39390225 69.46555945V1.26190015h25.81650015c3.6367464 0 7.11951765.34461105 10.4409816 1.04849745 3.32146395.69655425 6.22499535 1.88436255 8.7105942 3.5634249 2.4782667 1.67906235 4.4579472 3.93736455 5.9243772 6.76757445 1.47376215 2.83754205 2.20697715 6.38630265 2.20697715 10.65361395 0 4.8978762-.9971724 8.95255515-2.9915172 12.171369-1.9943448 3.21881385-4.67057955 5.7337413-8.02870425 7.5521145l14.7962787 26.44706505h-20.1487482l-11.75343645-22.876308h-6.9215496v22.876308h-18.0517533zm18.0517533-37.1446719h6.50361705c7.2734928 0 10.91757135-3.01351365 10.91757135-9.02587665 0-2.94019215-.93118305-4.96386555-2.786217-6.0856845-1.85503395-1.12181895-4.5605973-1.67906235-8.13135435-1.67906235h-6.50361705v16.7906235zM184.2580794 69.46555945V1.26190015h44.0662215v15.104229h-26.02180035v10.704939h22.2457431V42.1826293h-22.2457431v12.171369h27.0702978v15.11156115H184.2580794z" />
    </g>
    <g class="fill-gray--darkest" fill-rule="nonzero">
      <path d="M249.6366612 66.651302c-4.231744-1.388541-7.6105271-3.2597653-10.1363493-5.6004487-.925694-.8661851-1.388541-1.9439574-1.388541-3.239929 0-.8661851.2446477-1.6199645.7405552-2.2679503.4892954-.6479858 1.0777723-.9719787 1.7588186-.9719787.8000641 0 1.6662492.3372171 2.5919432 1.0182634 5.7393028 4.4433312 12.2786697 6.6649968 19.6247128 6.6649968 5.3029042 0 9.3759578-1.0182634 12.2191608-3.0547902 2.8365909-2.0365268 4.2581924-4.9392387 4.2581924-8.7015236 0-2.1621567-.6810463-3.9077511-2.0365268-5.2301711-1.3620926-1.3290321-3.1473596-2.3935802-5.3690252-3.1936443-2.2216656-.8066762-5.2169469-1.6398008-8.9792318-2.4993738-5.0648686-1.1769538-9.2106553-2.4068044-12.4505843-3.702776-3.239929-1.2959716-5.8649327-3.1473596-7.868399-5.554164-2.0100784-2.4068044-3.0085055-5.554164-3.0085055-9.4420788 0-3.702776.9984271-6.9889897 3.0085055-9.8586411 2.0034663-2.8696514 4.8136088-5.091317 8.4238154-6.6649968 3.6102066-1.5736798 7.7295449-2.3605197 12.3580149-2.3605197 4.3177013 0 8.3444702.66121 12.0803067 1.9902421 3.7292244 1.3290321 6.8633598 3.2267048 9.3957941 5.6930181.9852029.9852029 1.4811104 2.0695873 1.4811104 3.239929 0 .8661851-.2512598 1.6199645-.7405552 2.2679503-.4959075.6479858-1.0843844.9719787-1.7588186.9719787-.6810463 0-1.5736798-.3372171-2.6845126-1.0182634-3.0283418-2.4663133-5.8318722-4.1986835-8.4238154-5.1838864-2.5919432-.9852029-5.7128544-1.4811104-9.3495094-1.4811104-5.1243775 0-9.1048617 1.0645481-11.9414526 3.1936443-2.843203 2.1290962-4.2581924 5.1045412-4.2581924 8.9329471 0 3.2663774 1.2496869 5.7194665 3.7490607 7.3592673 2.4993738 1.6331887 6.3410039 3.0680144 11.5248903 4.3044771 5.6136729 1.3554805 10.0239436 2.6051674 13.2374242 3.7490607 3.2068685 1.1372812 5.8781569 2.8498151 8.0072531 5.1376017 2.1290962 2.2811745 3.1936443 5.3359647 3.1936443 9.1643706 0 3.636655-1.0050392 6.8501356-3.0085055 9.6272176-2.0100784 2.777082-4.8334451 4.9326266-8.4701001 6.479858-3.6432671 1.5406193-7.8088901 2.314235-12.496869 2.314235-4.62847 0-9.058577-.6942705-13.2837089-2.0828115zM341.8754562 64.9387681c0 .859573-.3504413 1.6464129-1.0645481 2.3605197-.7074947.7074947-1.520783 1.0645481-2.446477 1.0645481-.8066762 0-1.6398008-.3702776-2.4993738-1.1108328l-34.6209556-30.2701938v27.5856812c0 1.1703417-.3438292 2.1092599-1.0182634 2.8233667-.6810463.7074947-1.6067403 1.0645481-2.777082 1.0645481-1.1769538 0-2.1026478-.3570534-2.777082-1.0645481-.6810463-.7141068-1.0182634-1.653025-1.0182634-2.8233667V6.1571991c0-1.1703417.3372171-2.115872 1.0182634-2.8233667.6744342-.7074947 1.6001282-1.0645481 2.777082-1.0645481 1.1703417 0 2.0960357.3570534 2.777082 1.0645481.6744342.7074947 1.0182634 1.653025 1.0182634 2.8233667v26.5674178l33.0472758-29.3444998c.6744342-.6810463 1.4811104-1.0182634 2.4068044-1.0182634s1.7257581.3570534 2.4068044 1.0645481c.6744342.7074947 1.0116513 1.4943346 1.0116513 2.3605197 0 .925694-.396726 1.7918791-1.1967901 2.5919432l-29.8999162 26.2897096 31.5595533 27.5856812c.8661851.8000641 1.2959716 1.6926976 1.2959716 2.6845126z" />
    </g>
    <path class="fill-gray--darkest" fill-rule="nonzero" d="M416.008 66.649c-4.227-1.388-7.606-3.255-10.136-5.6-.926-.864-1.389-1.944-1.389-3.24 0-.864.247-1.62.741-2.268.494-.648 1.08-.972 1.759-.972.802 0 1.666.339 2.592 1.018 5.739 4.444 12.28 6.665 19.624 6.665 5.307 0 9.38-1.018 12.219-3.055 2.839-2.036 4.258-4.936 4.258-8.701 0-2.16-.679-3.903-2.036-5.23-1.358-1.327-3.148-2.391-5.369-3.194-2.222-.802-5.215-1.635-8.979-2.499-5.061-1.172-9.211-2.407-12.451-3.703-3.24-1.296-5.862-3.147-7.868-5.554-2.006-2.406-3.008-5.554-3.008-9.442 0-3.702 1.002-6.988 3.008-9.858 2.006-2.87 4.813-5.091 8.424-6.665 3.61-1.574 7.729-2.36 12.357-2.36 4.32 0 8.347.663 12.081 1.99 3.733 1.327 6.865 3.224 9.395 5.693.988.987 1.481 2.067 1.481 3.24 0 .864-.247 1.619-.74 2.267-.494.648-1.08.972-1.759.972-.679 0-1.574-.339-2.685-1.018-3.023-2.468-5.831-4.196-8.423-5.184-2.592-.987-5.709-1.481-9.35-1.481-5.122 0-9.102 1.065-11.941 3.194-2.839 2.129-4.258 5.107-4.258 8.933 0 3.27 1.25 5.723 3.749 7.359 2.499 1.635 6.341 3.07 11.525 4.304 5.616 1.358 10.028 2.608 13.237 3.749 3.209 1.142 5.878 2.854 8.007 5.138 2.129 2.283 3.194 5.338 3.194 9.164 0 3.641-1.003 6.85-3.009 9.627-2.005 2.777-4.829 4.937-8.47 6.48-3.641 1.543-7.806 2.314-12.496 2.314-4.629 0-9.057-.694-13.284-2.083z" />
    <path class="fill-primary--lightest" fill-rule="nonzero" d="M386.911 64.813V5.083c0-2.15 1.769-3.919 3.919-3.919 2.15 0 3.919 1.769 3.919 3.919v59.73c0 2.15-1.769 3.919-3.919 3.919-2.15 0-3.919-1.769-3.919-3.919z" />
    <path class="fill-primary" d="M376.949 19.657c0-2.163-1.756-3.919-3.919-3.919-2.163 0-3.919 1.756-3.919 3.919v45.156c0 2.163 1.756 3.919 3.919 3.919 2.163 0 3.919-1.756 3.919-3.919V19.657z" />
    <path class="fill-primary--darkest" d="M359.131 38.609c0-2.163-1.756-3.919-3.919-3.919-2.163 0-3.919 1.756-3.919 3.919v26.204c0 2.163 1.756 3.919 3.919 3.919 2.163 0 3.919-1.756 3.919-3.919V38.609z" />
  </svg> --}}

  <img class="header__logo" src="/assets/img/logo-programa-semente.png">

  <h1 class="scr-only">Bem-vindo ao CORESkills!</h1>

  {{userLastAccess}}

  <div class="header__overlayer"></div>

  <nav class="header__nav global-nav">

    <button class="global-nav__trigger icon-menu"></button>

    <ul id="global-nav-menu" class="global-nav__list">

      <button class="global-nav__close icon-x"></button>

      <!-- courses header -->

    {{#if (equalstr role 'aluno')}}
      <li class="global-nav__item" id="header-modulos">
        {{#link-to 'modulos.modlist' ModuloIdx class="global-nav__link"}} Percurso {{/link-to}}
      </li>
    {{else}}
      <li class="global-nav__item global-nav__submenu-holder" id="header-modulos">
        <a href="#" class="global-nav__link p-right--sm j-timeline">Percurso <span class="icon-chevron-down"></span></a>

        <div class="global-nav__submenu submenu submenu--header submenu--timeline" id="timelineSubmenu">
          <ul class="submenu__body">
            {{#if primeiroAno}}
            <li class="submenu__item">
              <a class="submenu__link"{{action 'goToModulo' primeiroAno on="click"}}>
                <span>Primeiro Ano</span></a></li>
            {{/if}}
            {{#if segundoAno}}
            <li class="submenu__item">
              <a class="submenu__link"{{action 'goToModulo' segundoAno on="click"}}>
                <span>Segundo Ano</span></a></li>
            {{/if}}
            {{#if terceiroAno}}
            <li class="submenu__item">
              <a href="#" class="submenu__link"{{action 'goToModulo' terceiroAno on="click"}}>
                <span>Terceiro ano</span></a></li>
            {{/if}}
          </ul>
        </div>

      </li>
    {{/if}}


      <!-- lib header -->
      <li class="global-nav__item counter" id="header-biblioteca" style="display:none;" {{action 'goToBiblioteca' on="click"}}>
        <a class="global-nav__link"><span>Biblioteca</span><span id="j-libraryNotificationNumber" class="counter__bubble">0</span></a>
      </li>

      <!-- progress header -->
      <li class="global-nav__item" id="header-progressos" style="display: none;"><a class="global-nav__link" href="#">Meu
          progresso</a>
      </li>

      <!-- follow up header -->
      {{#if (equalstr role 'aluno')}}{{else}}
          <li class="global-nav__item" id="header-indicadores" {{action 'goToAcompanhamento' on="click"}}>
            <a class="global-nav__link">
              {{!-- <span class="icon-activity"></span> --}}
              <span>Acompanhamento</span></a>
        	</li>
      {{/if}}


      <!--  administration header -->
      {{#if (equalstr role 'aluno')}}{{else}}
      {{#if (equalstr role 'instrutor')}}{{else}}
      {{#if (equalstr role 'coordenador')}}{{else}}
        <li class="global-nav__item" id="header-gersistema" {{action 'goToAdministracao' on="click"}}>
          <a class="global-nav__link"><span>Administração</span></a>
        </li>
      {{!-- <li class="global-nav__item" id="header-gersistema">{{#link-to 'gersistema.gerdata' (query-params
        instituicao_id=0 perPage=10) class="global-nav__link"}}Administração{{/link-to}}</li> --}}
      {{/if}}
      {{/if}}
      {{/if}}

      <!-- MOBILE -->
      <!-- Em mobile, esses links não ficam dentro de um submenu e por isso tiveram que ser duplicados. -->
      <!-- Eles aparecem como irmãos a "Meus cursos", "Administração" etc. -->
      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_image_trigger">
          <span>Alterar imagem do perfil</span></a></li>

      <li class="global-nav__item global-nav--mob-only" {{action 'testHide'}}>
        <a href="#" class="global-nav__link header-indicadores" id="change_pass_trigger">
          <span>Alterar senha</span></a></li>

      <li class="global-nav__item global-nav--mob-only" style="margin-top: auto;">
        <a href="#" class="global-nav__link header-indicadores" {{action 'invalidateSession'}}>
          <span>Fazer Logout</span></a></li>
      <!-- /MOBILE -->

      <li class="global-nav__item global-nav__submenu-holder">

        <a class="global-nav__thumb j-thumb" href="#">
          <span class="global-nav__avatar avatar">
            <img class="j-application-avatar" src={{uri_avatar}}>
          </span>
          <span class="global-nav__user-info">
            <span>{{username}}</span>
          {{#if (equalstr role 'aluno')}} 
            <span class="text-aux d-block m-top--xxs">
          {{#if primeiroAno}}
          1º ano do ensino médio
          {{/if}}
          {{#if segundoAno}}
          2º ano do ensino médio
          {{/if}}
          {{#if terceiroAno}}
          3º ano do ensino médio
          {{/if}}
            </span>
          {{/if}}  
          </span>
          <span class="icon-chevron-down hide-on--xs"></span>
        </a>

        <div class="global-nav__submenu submenu submenu--header submenu--user" id="thumbSubmenu">
          {{!-- <p class="global-nav__call">Olá, <strong>{{username}}</strong></p> --}}
          <ul class="submenu__body">
            <li class="submenu__item">
              <a href="#" id="change_image_trigger" class="submenu__link">
                <span>Alterar imagem do perfil</span></a></li>
            <li class="submenu__item">
              <a href="#" id="change_pass_trigger" class="submenu__link">
                <span>Alterar senha</span></a></li>
            <li class="submenu__item">
              <a href="#" class="submenu__link" {{action 'invalidateSession'}}>
                <span>Fazer Logout</span></a></li>
          </ul>

        </div>

      </li>

    </ul>

  </nav>

</header>

<section id="content-main" class="content-main">
  {{#if role}}
  <!-- if an institution is selected, then the output is released. otherwise the intitution select is created -->
  {{outlet}} {{else}}
  <aside id="select_inst_modal" class="modal modal--is-show">

    <form class="modal__content modal__content--md" autocomplete="off" aria-autocomplete="none">
      <header class="modal__header">
        <h3 class="modal__title">Selecione uma instituição</h3>
      </header>
      {{input class="form-group__input"
      aria-describedby="basic-addon1"
      id="searchValue"
      key-up="instSearch"
      type="text"
      autocomplete="off"
      aria-autocomplete="none"}}

      {{!-- <div class="modal__body"> --}}
        <ul id="searchDisplay" class="select-inst" style="display:none;">
          {{#each filteredInsts as |inst|}}
          <li>
            <a class="select-inst__link" href="#" {{action 'selectPessoa' inst.id on='click'}}>
              {{inst.instituicao_name}}
            </a>
          </li>
          {{/each}}
        </ul>

        <ul id="modelList" class="select-inst">
          {{#each instList as |pessoa idx|}}
          <li>
            <a class="select-inst__link" href="#" {{action 'selectPessoa' pessoa.id on='click'}}>
              {{pessoa.instituicao_name}}
              <!--  {{addone idx}} -  -->
            </a>
          </li>
          {{/each}}
        </ul>

        {{!--
      </div> --}}
    </form>
    <div class="modal__overlayer bg--students"></div>

  </aside>
  {{/if}}
</section>

<div style="display: none;">{{oneInst}}</div>


<!-- for algorithm run purposes only -->

<aside id="change_pass_modal" class="modal">

  <div class="modal__content modal__content--sm">

    <header class="modal__header">
      <button id="change_pass_close" class="modal__close btn-close icon-x" type="submit"></button>

      <h3 class="modal__title">Alterar senha</h3>
    </header>

    <div class="modal__body">

      <div class="form-group form-group--vertical form-group--full-width form-group--aired-v">
        <label class="form-group__label" for="pass">Senha atual</label>
        <input class="form-group__input" type="password" id="pass" value="">
      </div>

      <div class="form-group form-group--vertical form-group--full-width form-group--aired-v">
        <label class="form-group__label" for="pass_new">Nova senha</label>
        <input class="form-group__input" type="password" id="pass_new" value="">
      </div>

      <div class="form-group form-group--vertical form-group--full-width">
        <label class="form-group__label" for="pass_new_copy">Confirme a nova senha</label>
        <!-- melhorar classes do form... -->
        <div class="form-group__container form-group form-group--vertical">
          <span id="msg-new-pass-success" class="form__msg form__msg--bellow form__msg--success"><span class="form__msg-icon icon-check"></span>Par
            de senhas perfeito!</span>
          <span id="msg-new-pass-warning" class="form__msg form__msg--bellow form__msg--warning"><span class="form__msg-icon icon-alert-triangle"></span>Senhas
            não batem...</span>
          <input class="form-group__input" type="password" id="pass_new_copy" value="">
        </div>
      </div>

      {{#if error_forgot}}
      <div class="alert alert--warning alert--has-icon">
        <span class="alert__icon icon-alert-triangle"></span>
        <p>
          {{{error_forgot}}}
        </p>
      </div>
      {{/if}}

    </div>

    <div class="modal__footer">
      <button class="btn" type="submit" {{action 'changePw'}}>Atualizar senha</button>
    </div>

  </div>

  <div class="modal__overlayer"></div>

</aside>

<!-- MUDANÇA DE AVATAR -->
<aside id="change_image_modal" class="modal">

  <div class="modal__content modal__content--md">

    <header class="modal__header">
      <button id="change_image_close" class="modal__close btn-close icon-x" type="submit"></button>

      <h3 class="modal__title">Alterar imagem do perfil</h3>
    </header>

    <div class="modal__body">

      <div class="m-bottom--none">

        <p>Para facilitar, nós recortaremos a imagem para você. Sugerimos que escolha uma foto onde só haja você.</p>

        <div class="image-change">
          <div class="avatar avatar--lg">
            <div class="avatar__img avatar__img--as-bg" id="avatar-modale" style="background-image: url('{{uri_avatar}}');"></div>
          </div>

          <label class="image-change__cta btn">Buscar imagem
            <input onchange={{action "buscarArquivoAvatar"}} type="file" id="arquivoAvatar" style="display: none;" name="file">
          </label>
        </div>

      </div>

    </div>

    {{#if selected_file_avatar}}
      <span style="margin-top: 20px" id="nomeArquivo" type="text" class="form-control" readonly><strong>{{selected_file_avatar}}</strong></span>
    {{/if}}

    <div class="modal__footer">
      {{#if avatar_loading}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled"><i class="fa fa-spinner fa-pulse fa-2x"></i></button>
      {{else if selected_file_avatar}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" {{action 'sendAvatar'}}>Salvar</button>
      {{else}}
        <button class="btn btn--ghost btn--xxs" type="submit" id="botaEnviarAvatar" disabled="disabled">Salvar</button>
      {{/if}}
    </div>
  </div>

  <div class="modal__overlayer"></div>
  <div style="display: none;">{{avatar}}</div>

</aside>

<!-- internet connection -->
<div id="snackbarConnection" class="alert alert--xs alert--has-icon alert--no-interaction alert--warning">
  <span class="alert__icon icon-alert-triangle icon--lg"></span>
  <p>Sem conexão com a Internet</p>
  {{!-- <div>
    <p>Detectamos que no momento vocês está <strong>sem conexão com a Internet</strong>.</p>
    <p class="m-top--sm">Assim que esta mensagem desaparecer, significará que sua conexão com a Internet voltou.</p>
  </div> --}}
</div>