<main class="main institutions">
  <!-- ---------------------------------------------- administration view -->
  <div style="display:{{if instView 'none' 'inherit'}}">
    <!-- administration header -->
    <header class="main__header institutions__header">
      <h1 class="main__title">Administração</h1>
      {{#if (equalstr role 'admin')}}
      <button class="btn btn--xs" {{action 'newInst' on="click"}}><span
          class="btn__icon icon-plus"></span>Nova
        Instituição</button>
      {{/if}}
    </header>

    <div class="m-bottom--md">
      <form class="form-group form-group--full-width" autocomplete="off" aria-autocomplete="none">
        <label class="form-group__label" for="search">Busca</label>
        <div class="form-group__wrapper form-group__wrapper--search">
          {{input class="form-group__input" aria-describedby="basic-addon1" autocomplete="off" aria-autocomplete="none" id="matchValue" key-up="filterInst"
          type="text"}}
        </div>
      </form>
      {{!--
      <div class="form-group">
        <span class="form-group__label">Status</span>
        <span class="checkbox">
          <input class="checkbox__input" id="instListFilterEnabled" type="checkbox"
            {{action 'filterInst' preventDefault=false on='change'}}>
          <label class="checkbox__label" for="instListFilterEnabled">Habilitadas</label>
        </span>
        <span class="checkbox">
          <input class="checkbox__input" id="instListFilterNotEnabled" type="checkbox"
            {{action 'filterInst' preventDefault=false on='change'}}>
          <label class="checkbox__label" for="instListFilterNotEnabled">Desabilitadas</label>
        </span>
      </div>
      --}}
    </div>

    <!-- gestor institution param -->
    <div style="display:none">{{oneInst}}</div>

    <!-- admin filtered institutions -->
    <ul id="matchDisplay" class="list list--img-name-action list--striped" style="display:none;">
      {{#each matchInsts as |inst|}}
      <li>
        <span class="list__img" style="background-image: url('/assets/img/institution.png')"></span>
        <a class="title-2 btn btn--link list__name"
          {{action 'selectInst' inst.id on="click"}}><span>{{inst.name}}</span></a>
        <span class="switch switch--institutions">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox"
            {{action 'enableInst' inst.id on='change'}} checked={{inst.enabled}}>
          <label class="switch__label" for="activeInstId{{inst.id}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>
      </li>
      {{/each}}
    </ul>

    <!-- admin institutions list -->
    <ul id="modelInstList" class="list list--img-name-action list--striped">
      {{#each model.instituicoes as |inst|}}
      <li>
        <span class="list__img" style="background-image: url('/assets/img/institution.png')"></span>
        <a class="title-2 btn btn--link list__name"
          {{action 'selectInst' inst.id on="click"}}><span>{{inst.name}}</span></a>
        <span class="switch switch--institutions">
          <input class="switch__checkbox" id="activeInstId{{inst.id}}" type="checkbox"
            {{action 'enableInst' inst.id on='change'}} checked={{inst.enabled}}>
          <label class="switch__label" for="activeInstId{{inst.id}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>
      </li>
      {{/each}}
    </ul>
  </div>
  <!-- -------------------------------------------------- new institution -->
  <aside id="new_inst_modal" class="modal">
    <div class="modal__overlayer"></div>
    <div class="modal__content">
      <header class="modal__header">
        <button class="modal__close btn btn--icon icon-x" type="submit" {{action 'newInstCancel' on="click"}}></button>
        <h3 class="modal__title">Nova Instituição</h3>
        <!-- new institution stepper -->
        <div class="institutions__steps steps">
          <div class="steps__step">
            <div class="steps__label">Informações Básicas</div>
            <div class="steps__number {{if goToStepTwo '' 'steps__number--is-active'}}" {{action 'goTo' '1'}}>1</div>
          </div>
          <div class="steps__step">
            <div class="steps__label">Cursos Habilitados</div>
            <div class="steps__number {{if goToStepTwo 'steps__number--is-active' ''}}" {{action 'goTo' '2'}}>2</div>
          </div>
          <div class="steps__step">
            <div class="steps__label">Finalizar</div>
            <div class="steps__number" {{action 'newInstSave' on="click"}}>3</div>
          </div>
        </div>
      </header>
      <div class="modal__body">
        <!-- new institution step 1 -->
        <div class="institutions__step-content {{if goToStepTwo '' 'institutions__step-content--is-show'}}">
          <section class="main__subsection">
            <h4 class="main__subsubtitle">Básicas</h4>
            <div class="form-group form-group--horizontal form-group--full-width d-flex-align--start">
              <div class="form-group form-group--vertical form-group--aired-h" flex="20">
                <label class="form-group__label">Nome</label>
                <input class="form-group__input" type="textbox" id="new_inst_name" value={{new_inst_name}}>
              </div>
              <div class="form-group form-group--vertical">
                <label class="form-group__label">Status</label>
                <span class="switch switch--institutions">
                  <input class="switch__checkbox" id="new_inst_enabled" type="checkbox" checked={{new_inst_enabled}}>
                  <label class="switch__label" for="new_inst_enabled">
                    <span class="switch__inner"></span>
                    <span class="switch__head"></span>
                  </label>
                </span>
              </div>
            </div>
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- comentar depois de estilizar -->
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!--
            <div class="form-group form-group--vertical form-group--full-width m-top--md">
              <label class="form-group__label">Marca</label>
              <div class="image-change">
                <span class="image-change__image image-change__image--empty" id="new_inst_uploadPreview"></span>
                <label class="image-change__cta btn btn--green-ghost btn--xxs" for="new_inst_uploadImage">Buscar imagem
                  <input id="new_inst_uploadImage" type="file" name="myPhoto" {{action 'previewImage' 'new' on="change"}} style="display: none;">
                </label>
                <button class="btn btn--text m-left--md">Redefinir</button>
              </div>
            </div>
            -->
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
            <!-- !!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
          </section>
          <section class="main__subsection">
            <h4 class="main__subsubtitle">Número de usuários</h4>
            <div class="institutions__config">
              <div class="form-group form-group--vertical" flex="20">
                <label class="form-group__label" for="new_inst_nrgest">Gestores</label>
                <input class="form-group__input" type="textbox" id="new_inst_nrgest" value={{new_inst_nrgest}}>
              </div>
              <div class="form-group form-group--vertical" flex="20">
                <label class="form-group__label" for="new_inst_nrcoord">Coordenadores</label>
                <input class="form-group__input" type="textbox" id="new_inst_nrcoord" value={{new_inst_nrcoord}}>
              </div>
              <div class="form-group form-group--vertical" flex="20">
                <label class="form-group__label" for="new_inst_nrinstr">Professores</label>
                <input class="form-group__input" type="textbox" id="new_inst_nrinstr" value={{new_inst_nrinstr}}>
              </div>
              <div class="form-group form-group--vertical" flex="20">
                <label class="form-group__label" for="new_inst_nralunos">Alunos</label>
                <input class="form-group__input" type="textbox" id="new_inst_nralunos" value={{new_inst_nralunos}}>
              </div>
            </div>
          </section>
          <section class="main__subsection">
            <h4 class="main__subsubtitle">Recursos extras</h4>
            <div class="checkbox m-bottom--md">
              <input class="checkbox__input" id="new_inst_changePassword" type="checkbox"
                checked={{new_inst_changePassword}}>
              <label class="checkbox__label" for="new_inst_changePassword">Alterar senha no primeiro acesso</label>
            </div>
            <div class="checkbox m-bottom--md">
              <input class="checkbox__input" id="new_inst_library" type="checkbox" checked={{new_inst_library}}>
              <label class="checkbox__label" for="new_inst_library">Biblioteca de materiais</label>
            </div>
          </section>
        </div>
        <!-- new institution step 2 -->
        <div class="institutions__step-content {{if goToStepTwo 'institutions__step-content--is-show' ''}}">
          <ul class="list list--img-name-action list--striped">
            {{#each modulos_list as |mod|}}
            <li>
              <span class="list__img"
                style="background-image: url('{{if mod.coverImage mod.coverImage '/assets/img/online-course.png'}}')"></span>
              <h3 class="list__name title-3">{{mod.name}}</h3>
              <span class="switch switch--institutions">
                <!-- temporary save controll -->
                <input id="isCkb{{mod.id}}" type="checkbox" checked={{isinarray mod inst_selected.modulos}}
                  style="display:none">
                <!-- -->
                <input class="switch__checkbox" id="ckb_new_{{mod.id}}" type="checkbox">
                <label class="switch__label" for="ckb_new_{{mod.id}}">
                  <span class="switch__inner"></span>
                  <span class="switch__head"></span>
                </label>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </aside>
  <!-- --------------------------------------------- institution selected -->
  {{#if instView}}
  <!-- back to institutions list -->
  {{#if (equalstr role 'admin')}}
  <button id="back-person-specific_old" class="btn btn--text" {{action 'backToInstList' on="click"}}>
    <span class="icon-arrow-left"></span>voltar
  </button>
  {{/if}}
  <!-- / back to institutions list -->
  <header class="main__header institutions__header">
    <!-- institutions selected name -->
    <h1 class="main__title">{{inst_selected.name}}</h1>
    <!-- institutions navigation -->
    <div class="tabs">
      <button class="report__tab tabs__tab {{if selectedInstTabs.informations 'tabs__tab--is-active'}}"
        {{action 'tabNavigation' 'informations' on="click"}}><span>Informações</span></button>
      <button class="report__tab tabs__tab {{if selectedInstTabs.courses 'tabs__tab--is-active'}}"
        {{action 'tabNavigation' 'courses' on="click"}}><span>Anos</span></button>
      <button class="report__tab tabs__tab {{if selectedInstTabs.areas 'tabs__tab--is-active'}}"
        {{action 'tabNavigation' 'areas' on="click"}}><span>Turmas</span></button>
      <button class="report__tab tabs__tab {{if selectedInstTabs.users 'tabs__tab--is-active'}}"
        {{action 'tabNavigation' 'users' on="click"}}><span>Usuários</span></button>
    </div>
  </header>
  <!-- selected institution tab information -->
  {{#if selectedInstTabs.informations}}
  <div class="d-flex d-flex--r d-flex-align--center d-flex--justify--start">
    <h2 class="main__subtitle">Informações</h2>
    {{#if (equalstr role 'admin')}}
    <button class="btn btn--green-ghost btn--xxs m-left--md" style="display:none" id="btn_save_inst"
      {{action 'saveInformations' inst_selected.id}}>
      <span class="btn__icon icon-save"></span>
      Salvar alterações
    </button>
    {{/if}}
  </div>
  <section class="main__subsection">
    <h3 class="main__subsubtitle">Básicas</h3>
    <div class="form-group form-group--horizontal form-group--full-width d-flex-align--start">
      <div class="form-group form-group--vertical form-group--aired-h" flex="20">
        <label class="form-group__label">Nome</label>
        {{#if (equalstr role 'admin')}}
        <input class="form-group__input" type="textbox" id="inst_name" value={{inst_selected.name}}
          onkeyup={{action 'dataChange' 'btn_save_inst'}}>
        {{else}}
        <input class="form-group__input" type="textbox" id="inst_name" value={{inst_selected.name}} disabled="true">
        {{!-- {{inst_selected.name}} --}}
        {{/if}}
      </div>
      <div class="form-group form-group--vertical">
        <label class="form-group__label">Status</label>
        <span class="switch switch--institutions">
          <input class="switch__checkbox" id="inst_hab" type="checkbox" checked={{inst_selected.enabled}}
            disabled={{if (equalstr role 'admin') false true}} onchange={{action 'dataChange' 'btn_save_inst'}}>
          <label class="switch__label" for="inst_hab">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>
      </div>
    </div>
    {{!--
    <div class="form-group form-group--vertical form-group--full-width m-top--md">
      <label class="form-group__label">Marca</label>
      <div class="image-change">
        <span class="image-change__image image-change__image--empty"><img id="uploadPreview"></span>
        <label class="image-change__cta btn btn--green-ghost btn--xxs" for="uploadImage">Buscar imagem
          <input id="uploadImage" type="file" name="myPhoto" {{action 'previewImage' on="change"}} style="display: none;">
        </label>
        <button class="btn btn--text m-left--md">Redefinir</button>
      </div>
    </div>
    --}}
  </section>
  <section class="main__subsection">
    <h3 class="main__subsubtitle">Número de usuários</h3>
    <div class="institutions__config">

      <div class="form-group form-group--vertical" flex="20">
        <label class="form-group__label">Gestores</label>
        {{#if (equalstr role 'admin')}}
        <input class="form-group__input" type="textbox" id="nr_gestores" value={{inst_selected.nrgestores}}
          onkeyup={{action 'dataChange' 'btn_save_inst'}}>
        {{else}}
        <input class="form-group__input" type="textbox" id="nr_gestores" value={{inst_selected.nrgestores}}
          disabled="true">
        {{/if}}
      </div>

      <div class="form-group form-group--vertical" flex="25">
        <label class="form-group__label">Coordenadores</label>
        {{#if (equalstr role 'admin')}}
        <input class="form-group__input" type="textbox" id="nr_coordenadores" value={{inst_selected.nrcoordenadores}}
          onkeyup={{action 'dataChange' 'btn_save_inst'}}>
        {{else}}
        {{inst_selected.nrcoordenadores}}
        {{/if}}
      </div>
      <div class="form-group form-group--vertical" flex="25">
        <label class="form-group__label">Professores</label>
        {{#if (equalstr role 'admin')}}
        <input class="form-group__input" type="textbox" id="nr_instrutores" value={{inst_selected.nrinstrutores}}
          onkeyup={{action 'dataChange' 'btn_save_inst'}}>
        {{else}}
        {{inst_selected.nrinstrutores}}
        {{/if}}
      </div>

      <div class="form-group form-group--vertical" flex="20">
        <label class="form-group__label">Alunos</label>
        {{#if (equalstr role 'admin')}}
        <input class="form-group__input" type="textbox" id="nr_alunos" value={{inst_selected.nralunos}}
          onkeyup={{action 'dataChange' 'btn_save_inst'}}>
        {{else}}
        <input class="form-group__input" type="textbox" id="nr_alunos" value={{inst_selected.nralunos}} disabled="true">
        {{/if}}
      </div>
      <!-- /selected institution tab information -->

      <!-- selected institutiton tab courses -->
      {{#if selectedInstTabs.courses}}
      <div class="d-flex d-flex--r d-flex-align--center d-flex--justify--start">
        <h2 class="main__subtitle">Anos</h2>
        <button class="btn btn--green-ghost m-left--md" style="display:none" id="btn_save_courses"
          {{action 'saveCourses' inst_selected.id}}>
          <span class="btn__icon icon-save"></span>
          Salvar alterações
        </button>
      </div>
      <section class="main__subsection">
        <ul class="list list--img-name-action list--striped">
          {{#each modulos_list as |mod|}}
          <li>
            <span class="list__img"
              style="background-image: url('{{if mod.coverImage mod.coverImage '/assets/img/online-course.png'}}')"></span>
            <h3 class="list__name title-3">{{mod.name}}</h3>
            <span class="switch switch--institutions">
              <!-- temporary save controll -->
              <input id="isCkb{{mod.id}}" type="checkbox" checked={{isinarray mod inst_selected.modulos}}
                style="display:none">
              <!-- -->
              <input class="switch__checkbox" id="ckb_{{mod.id}}" type="checkbox"
                checked={{isinarray mod inst_selected.modulos}} disabled={{if (equalstr role 'admin') false true}}
                onchange={{action 'dataChange' 'btn_save_courses' mod.id}}>
              <label class="switch__label" for="ckb_{{mod.id}}">
                <span class="switch__inner"></span>
                <span class="switch__head"></span>
              </label>
            </span>
          </li>
          {{/each}}
        </ul>
      </section>
      {{/if}}
      <!-- /selected institutiton tab courses -->
      <!-- selected institutions tab areas -->
      {{#if selectedInstTabs.areas}}
      <div class="d-flex d-flex--r d-flex-align--center d-flex--justify--start">
        <h2 class="main__subtitle">Turmas</h2>
        <button class="btn btn--green-ghost btn--xs m-left--md" {{action 'newArea'}}>
          <span class="btn__icon icon-plus"></span>Nova Turma</button>
      </div>
      <section class="main__subsection">
        <ul class="institutions__areas list list--striped">


          <li id="newArea" style="display:none">
            <label class="form-group__label sr-only" for="newAreaName">Nome da nova área</label>
            <div class="edit-text">
              <input class="edit-text__input form-group__input content-editable" type="textbox" id="newAreaName">
              <span class="edit-text__indicator"></span>
            </div>
            <div class="btn-group m-left--lg">
              <button class="btn btn--xs btn--text" type="submit" {{action 'cancelAreaAction' 'new'}}>
                <span class="btn__icon icon-x"></span>Cancelar
              </button>
              <button class="btn btn--xs" type="submit" {{action 'addArea'}} style="width: 100px;">
                <span class="btn__icon icon-check"></span>Salvar
              </button>
            </div>
          </li>



          {{#each inst_selected.turmas as |turma idx|}}
          <li class="accordion">
            <div class="institutions__area">
              <div class="edit-text">
                <input class="edit-text__input title-3" id="areaItemName{{turma.id}}" value="{{turma.name}}" disabled>
                <span class="edit-text__indicator"></span>
              </div>
            </div>
            <div id="areaItemOptions{{turma.id}}" class="btn-group">
              <button class="btn btn--xs btn--text color-error" {{action 'deleteArea' turma.id}}>
                <span class="btn__icon icon-trash-2"></span> Remover
              </button>
              <button class="btn btn--green-ghost btn--xs" style="width: 100px;" {{action 'editArea' turma.id}}>
                <span class="btn__icon icon-edit"></span> Editar
              </button>
            </div>
            <div class="btn-group" id="areaItemActions{{turma.id}}" style="display:none">
              <button class="btn btn--xs btn--text" type="submit" {{action 'cancelAreaAction' turma.id}}>
                <span class="btn__icon icon-x"></span>Cancelar
              </button>
              <button class="btn btn--xs" style="width: 100px;" type="submit"
                {{action 'saveArea' turma.id}}>
                <span class="btn__icon icon-check"></span>Salvar
              </button>
            </div>
          </li>
          {{/each}}
        </ul>
      </section>
      {{/if}}


    </div>
  </section>
  <section class="main__subsection">
    <h3 class="main__subsubtitle">Recursos extras</h3>
    <div class="checkbox m-bottom--md">
      <input class="checkbox__input" id="inst_changePassword" type="checkbox"
        checked={{inst_selected.trocasenhaobrigatoria}} disabled={{if (equalstr role 'admin') false true}}
        onchange={{action 'dataChange' 'btn_save_inst'}}>
      <label class="checkbox__label" for="inst_changePassword">Alterar senha no primeiro acesso</label>
    </div>
    <div class="checkbox m-bottom--md">
      <input class="checkbox__input" id="inst_library" type="checkbox" checked={{inst_selected.temBiblioteca}}
        disabled={{if (equalstr role 'admin') false true}} onchange={{action 'dataChange' 'btn_save_inst'}}>
      <label class="checkbox__label" for="inst_library">Biblioteca de materiais</label>
    </div>
  </section>
  {{/if}}
  <!-- /selected institution tab information -->
  <!-- selected institutiton tab courses -->
  {{#if selectedInstTabs.courses}}
  <div class="d-flex d-flex--r d-flex-align--center d-flex--justify--start">
    <h2 class="main__subtitle">Anos</h2>
    <button class="btn btn--green-ghost btn--xxs m-left--md" style="display:none" id="btn_save_courses"
      {{action 'saveCourses' inst_selected.id}}>
      <span class="btn__icon icon-save"></span>
      Salvar alterações
    </button>
  </div>
  <section class="main__subsection">
    <ul class="list list--img-name-action list--striped">
      {{#each modulos_list as |mod|}}
      <li>
        {{!-- <span class="list__img" style="background-image: url('{{if mod.coverImg mod.coverImg '/assets/img/online-course.png'}}')"></span> --}}
        <div flex="1">
          <div class="d-flex d-flex-align--center">
            <img class="list__img list__img--auto-height"
                src="{{if mod.coverImage mod.coverImage '/assets/img/online-course.png'}}">
            <h3 class="list__name title-3 m-left--lg">{{mod.name}}</h3>
            <button id="cta{{mod.id}}" class="btn btn--green-ghost btn--xs btn--is-toggle m-left--xl"
              {{action displayAccordion mod.id}} style="height: 2rem; width: 9rem;">
              <span class="btn__label label__default">Exibir calendário</span>
              <span class="btn__label label__active">Fechar calendário</span>
            </button>
          </div>
        </div>
        <span class="switch switch--institutions">
          <!-- temporary save controll -->
          <input id="isCkb{{mod.id}}" type="checkbox" checked={{isinarray mod inst_selected.modulos}}
            style="display:none">
          <!-- -->
          <input class="switch__checkbox" id="ckb_{{mod.id}}" type="checkbox"
            checked={{isinarray mod inst_selected.modulos}} disabled={{if (equalstr role 'admin') false true}}
            onchange={{action 'dataChange' 'btn_save_courses' mod.id}}>
          <label class="switch__label" for="ckb_{{mod.id}}">
            <span class="switch__inner"></span>
            <span class="switch__head"></span>
          </label>
        </span>

        <!-- ACCORDION -->
        <ul id="j-accordionContent{{mod.id}}"
          class="list list--striped calendar calendar--list j-accordionNode animated fadeIn w100" style="display:none;">
          {{#each atividadeList as |atv|}}
            <li>
              <time class="calendar__date date" datetime="2019-02-15">
                <span class="date__day">{{atv.dia}}</span><span class="date__month">{{atv.mes}}</span>
              </time>
              <div class="d-flex d-flex--c d-flex-justify--center">
                <span class="title-aux m-bottom--xxs">{{atv.id}}</span>
                <h3 class="title-4">{{atv.name}}</h3>
              </div>
            </li>
          {{/each}}
        </ul>
        <!-- /ACORDION -->
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  <!-- /selected institutiton tab courses -->
  <!-- selected institutions tab areas -->
  {{#if selectedInstTabs.areas}}
  <div class="d-flex d-flex--r d-flex-align--center d-flex--justify--start">
    <h2 class="main__subtitle">Turmas</h2>
    <button class="j-areaFocus btn btn--green-ghost btn--xxs m-left--md" {{action 'newArea'}}>
      <span class="btn__icon icon-plus"></span>Nova Turma</button>
    <div class="form-group form-group--select-wrapper m-left--auto">
      <label class="form-group__label" for="select_course">Ano</label>
      <select class="form-group__input form-group__input--select" id="select_year" value="select_inst"
        style="min-width: 10rem;">
        <option value="1" selected>1º ano</option>
        <option value="2">2º ano</option>
        <option value="3">3º ano</option>
      </select>
    </div>
  </div>
  <section class="main__subsection">
    <ul class="institutions__areas list">
      <li id="newArea" style="display:none;">
        <div class="form-group form-group--select-wrapper m-right--md">
          <select class="form-group__input form-group__input--select j-areaFocus" id="define_year" value="select_inst"
            style="min-width: 5    rem;">
            <option value="1" selected>1º ano</option>
            <option value="2">2º ano</option>
            <option value="3">3º ano</option>
          </select>
        </div>
        <div flex="1" class="m-right--lg">
          <div class="edit-text">
            <input class="j-areaFocus edit-text__input form-group__input title-3" type="textbox" id="newAreaName"
              value="{{turma.name}}">
            <span class="edit-text__indicator"></span>
          </div>
        </div>
        <div class="btn-group m-left--lg">
          <button class="j-areaFocus btn btn--xxs btn--text" type="submit" {{action 'cancelAreaAction' 'new'}}>
            <span class="btn__icon icon-x"></span>Cancelar
          </button>
          <button class="j-areaFocus btn btn--xxs" type="submit" {{action 'addArea'}} style="width: 100px;">
            <span class="btn__icon icon-check"></span>Salvar
          </button>
        </div>
      </li>
      {{#each inst_selected.turmas as |turma idx|}}
      <li>
        <div flex="1" class="m-right--lg">
          <div class="edit-text">
            <input class="j-areaFocus edit-text__input title-3" id="areaItemName{{turma.id}}" value="{{turma.name}}">
            <span class="edit-text__indicator"></span>
          </div>
          <div><span>{{turma.modulo.name}}</span><span class="m-h--sm">|</span><em>10 alunos</em></div>
        </div>
        <div class="btn-group m-left--auto" id="areaItemOptions{{turma.id}}">
          <button class="j-areaFocus btn btn--xxs btn--text color-error" {{action 'deleteArea' turma.id}}>
            <span class="btn__icon icon-trash-2"></span> Remover
          </button>
          <button class="j-areaFocus btn btn--green-ghost btn--xxs" style="width: 100px;" {{action 'editArea' turma.id}}>
            <span class="btn__icon icon-edit"></span> Editar
          </button>
        </div>
        <div class="btn-group m-left--auto" id="areaItemActions{{turma.id}}" style="display:none">
          <button class="j-areaFocus j-cancelArea btn btn--xs btn--text" type="submit"
            {{action 'cancelAreaAction' turma.id}}>
            <span class="btn__icon icon-x"></span>Cancelar
          </button>
          <button class="j-areaFocus btn btn--xs" style="width: 100px;" type="submit"
            {{action 'saveArea' turma.id}}>
            <span class="btn__icon icon-check"></span>Salvar
          </button>
        </div>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/if}}
  <!-- /selected institutions tab areas -->
  <!-- selected institutions tab users -->
  {{#if selectedInstTabs.users}}
  {{outlet}}
  {{/if}}
  <!-- /selected institutions tab users -->
  {{/if}}
</main>

<!-- ################################################################## -->
<!-- ################################################################## -->
<!-- ################################################################## -->
<!-- -------------------------------------------------- administration users modal -->
<div class="alert-container">

  <!-- CONFIRMATION || LIST -->
  <div id="staticAlertAdm" class="alert alert--x  alert--blue-navy-50 alert--has-interaction">

    <p>{{staticTxt1}}</p>
    <p class="m-top--md"><strong>{{staticTxt2}}</strong></p>

    <div class="alert__footer">
      <!-- area to delete -->
      {{#if (equalstr staticType 'area')}}
      <button class="btn btn--xs btn--text-inverted" {{action staticAlert 'close'}}>Cancelar</button>
      <button class="btn btn--xs" {{action 'actionConfirmation' areaToDelete}}><span
          class="btn__icon icon-trash-2"></span>Remover área</button>
      {{/if}}
      <!-- -->
    </div>
  </div>

  <!-- LOADING || SUCCESS || ERROR -->
  <div id="timeoutAlertAdm" class="alert alert--x  alert--blue-navy-50 alert--has-icon alert--no-interaction">
    {{#if (equalstr timeoutIcon 'load')}}<span class="alert__icon icon-reload icon--lg"></span>{{/if}}
    {{#if (equalstr timeoutIcon 'error')}}<span class="alert__icon icon-x icon--lg"></span>{{/if}}
    {{#if (equalstr timeoutIcon 'success')}}<span class="alert__icon icon-check icon--lg"></span>{{/if}}
    <div style="max-width: 80%;"><strong>{{timeoutTxt}}</strong></div>
  </div>

</div>